@use "../../base";

.b-video-thumbnail {
  border: 3px solid base.sitecolors-siteColor("vam-white");
  display: inline-block;
  height: 71px;
  position: relative;
  width: 120px;

  &__popup-close {
    background: base.sitecolors-siteColor("vam-black");
    border: 1px solid base.sitecolors-siteColor("vam-white");
    border-radius: 50%;
    color: base.sitecolors-siteColor("vam-white");
    cursor: pointer;
    display: flex;
    height: 40px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;

    svg {
      height: 18px;
      margin: auto;
      width: 18px;
    }
  }

  &__popup {
    background: base.sitecolors-siteColor("vam-black");
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &__popup-iframe {
    height: calc(100vh - 100px);
    margin: auto;
    width: calc(16 / 9 * (100vh - 100px));
  }

  .b-video-thumbnail__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .b-video-thumbnail__icon {
    color: base.sitecolors-siteColor("vam-white");
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    svg {
      height: 18px;
      margin: auto;
      width: 16px;
    }
  }
}
