<!-- include the following <link> tag once in the <head> tag of any application using this component -->
<link rel="preload" as="image" href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg" id="vam-svg-sprite-path">

<a class="b-video-thumbnail{% for m in modifiers %} b-video-thumbnail--{{ m }}{% endfor %} js-video-thumbnail"
itemscope
itemtype="http://schema.org/Movie"
itemprop="thumbnail"
aria-label="Play {{ title }} video clip"
title="Play {{ title }} clip"
href="https://www.youtube.com/embed/{{ youtubeID }}/?autoplay=1&playsinline=0">
<img alt=""
    class="b-video-thumbnail__image"
    itemprop="contentUrl"
    src="https://img.youtube.com/vi/{{ youtubeID }}/default.jpg"
    loading="lazy">
<div class="b-video-thumbnail__icon">
 <svg role="img">
   <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#watch"></use>
 </svg>
</div>
</a>
