<section class="b-video-trailer b-block-grid" id="events" name="events">
  <header class="b-block-grid__header b-block-grid__header--black">
    <h2 class="b-block-grid__title">Exhibition Trailer</h2>
  </header>

  <div class="b-video-trailer__content">
    <a class="b-video-trailer__link js-video-trailer"
    itemscope
    itemtype="http://schema.org/Movie"
    itemprop="trailer"
    aria-label="Play {{ title }} video clip"
    title="Play {{ title }} clip"
    href="https://www.youtube.com/embed/{{ youtubeID }}/?autoplay=1&playsinline=0">
      <div class="js-video-trailer-preview">
        <img alt=""
             class="b-video-trailer__image"
             itemprop="contentUrl"
             sizes="100vw"
             srcset="https://img.youtube.com/vi/{{ youtubeID }}/default.jpg 120w,
                     https://img.youtube.com/vi/{{ youtubeID }}/mqdefault.jpg 320w,
                     https://img.youtube.com/vi/{{ youtubeID }}/hqdefault.jpg 480w,
                     https://img.youtube.com/vi/{{ youtubeID }}/sddefault.jpg 640w,
                     https://img.youtube.com/vi/{{ youtubeID }}/maxresdefault.jpg 1280w"
             src="https://img.youtube.com/vi/{{ youtubeID }}/sddefault.jpg"
             loading="lazy">
        <div class="b-video-trailer__icon s-themed s-themed--background-color s-themed--background-color--hover" aria-hidden="true">
          <svg role="img" class="b-video-trailer__icon-arrow">
            <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#watch"></use>
          </svg>
        </div>
      </div>
    </a>
  </div>
</section>
