.b-newsletter {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &--footer {
    background-color: siteColor(vam-black);
    color: siteColor(vam-white);
    margin: auto;
  }

  background-color: siteColor(vam-grey-5);
  color: siteColor(vam-black);
  margin: 25px 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include bpMinXSmall {
    flex-direction: row;
  }

  @include bpMinLarge {
    background-color: transparent;
  }

  &__logo {
    color: siteColor(vam-grey-4);
    height: 200px;
    opacity: .35;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;

    @include bpMinXSmall {
      height: 450px;
      right: -80px;
      top: -80px;
      width: calc(450px * 1.58);

      & svg {
        height: 100%;
        width: 100%;
      }
    }
    @include bpMinLarge {
      background-color: siteColor(vam-grey-5);
      opacity: 1;
      right: 0;
      width: 50%;

      svg {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        height: 120%;
        margin-top: -5%;
      }

      @supports (mask-repeat: repeat) {
        height: 100%;
        mask-image: url('https://s3-eu-west-1.amazonaws.com/vanda-production-assets/static/valogo_mask.svg');
        mask-position: 20% 73%;
        mask-repeat: no-repeat;
        mask-size: 131%;
        top: 0;

        svg {
          display: none;
        }
      }
    }
  }

  &__form {
    margin: auto;
    max-width: 650px;
    padding: 30px 10px;
    position: relative;
    width: 100%;

    &--footer {
      border-bottom: 1px solid siteColor(vam-grey-4);
      margin: 0;
      max-width: none;
      padding: 0 0 50px;
    }

    @include bpMinSmall {
      max-width: 100%;
      padding: 30px 0 30px 55px;
      &--footer {
        margin: 0 0 10px;
        padding: 10px 0 20px;
      }
    }

    @include bpMinLarge {
      &--footer {
        background-color: siteColor(vam-black);
        margin: 0 0 10px;
        width: 100%;
      }
      background-color: siteColor(vam-grey-5);
      margin: 0;
      width: 50%;
    }

    &-fields {
      @include bpMinXSmall {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      @include bpMinMedium {
        justify-content: flex-end;
      }

      &-field {
        @include typeSetting(3, regular);
        border: 1px solid white;
        border-radius: 2px;
        padding: 15px;
        text-align: center;
        width: 100%;

        &--footer {
          height: 50px;
          margin-right: 3px;
          max-width: none;
          text-align: left;
          width: calc(100% - 129px);
        }

        &[aria-invalid="true"] {
          border-color: siteColor(alert-red);
        }

        &::placeholder {
          color: siteColor(vam-grey-3);
          opacity: 1;
        }

        @include bpMinXSmall {
          flex-grow: 1;
          height: 50px;
          margin-right: 8px;
          text-align: left;
        }
        @include bpMinMedium {
          max-width: 355px;
        }
      }
    }

    &-submit {
      margin-bottom: 14px;
      margin-top: 8px;
      padding: 15px;
      width: 100%;
      z-index: 2;
      &--footer {
        background-color: map-get($theme-colors, $theme-color-default);
        height: 50px;
        margin: 0 0 14px;
        max-width: 122px;
        padding-top: 17px;
      }

      @include bpMinXSmall {
        &--footer {
          max-width: 158px;
          padding-top: 17px;
        }
        font-size: 13px;
        margin-top: 0;
        max-width: 150px;
      }

      &:hover,
      &:focus,
      .sent & {
        background-color: map-get($theme-colors, $theme-color-default);
        border: 1px solid map-get($theme-colors, $theme-color-default);
        color: siteColor(vam-black);
      }
    }
  }

  &__headline {
    &--footer {
      @include typeSetting(4, bold);
      font-size: 22px;
      text-align: left;
    }

    @include typeSetting(4, bold);
    margin: 0;
    text-align: center;

    @include bpMinXSmall {
      &--footer {
        @include typeSetting(6, bold);
        font-size: 28px;
        margin-bottom: 0;
      }
      @include typeSetting(5, bold);
      margin-bottom: 10px;
      text-align: left;
    }

    @include bpMinSmall {
      &--footer {
        font-size: 28px;
      }
      @include typeSetting(6, bold);
    }
  }

  &__descriptor {
    @include typeSetting(3, regular);
    margin: 0 15px 15px 15px;
    text-align: center;

    &--footer {
      margin-left: 0;
      text-align: left;
    }

    @include bpMinXSmall {
      @include typeSetting(4, regular);
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      margin: 0 0 15px 0;
      max-width: 450px;
      text-align: left;
    }

    & input {
      display: none;
    }

    .invalid &,
    .sent & {
      color: siteColor(alert-red);
      font-style: normal;
      padding: 20px 0 0;
    }

    .sent & {
      color: siteColor(vam-black);
      font-style: 700;
    }
  }

  &__info {
    @include typeSetting(1, regular);
    color: siteColor(vam-grey-2);
    text-align: center;

    &--footer {
      color: siteColor(vam-white);
      font-size: 12px;
      text-align: left;
    }

    @include bpMinSmall {
      max-width: 520px;
      text-align: left;
    }
  }

  &__flex-form-container {
    @include bpMinSmall {
      display: flex;
      &-form {
        align-content: center;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        min-width: 390px;
        width: calc(100% - 500px);
      }
    }
  }

  &__flex-form-container-title {
    @include bpMinSmall {
      width: 600px;
      h1, p {
        margin-right: 50px;
      }
    }
  }
}

