@use "../../mixins";
@use "../../base";

.b-newsletter {
  background-color: base.sitecolors-siteColor("vam-grey-5");
  color: base.sitecolors-siteColor("vam-black");
  margin: 25px 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &--footer {
    background-color: base.sitecolors-siteColor("vam-black");
    border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
    color: base.sitecolors-siteColor("vam-white");
    margin: auto;
  }

  @include mixins.breakpoints-bpMinXSmall {
    flex-direction: row;
  }

  &__logo {
    color: base.sitecolors-siteColor("vam-grey-4");
    height: 200px;
    opacity: 0.35;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;

    @include mixins.breakpoints-bpMinXSmall {
      height: 450px;
      right: -80px;
      top: -80px;
      width: calc(450px * 1.58);

      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__form {
    margin: auto;
    padding: 30px 10px;
    position: relative;
    width: 100%;

    &--component {
      max-width: none;
      padding: 28px 14px 34px;
    }

    &--footer {
      margin: 0;
      max-width: none;
      padding: 0 0 31px;

      &-main {
        border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
      }
    }

    @include mixins.breakpoints-bpMinSmall {
      max-width: 100%;
      padding: 30px 30px 55px;

      &--component {
        padding: 28px 14px 34px;
      }

      &--footer {
        padding: 20px 0 30px;
      }
    }

    @include mixins.breakpoints-bpMinLarge {
      background-color: base.sitecolors-siteColor("vam-grey-5");
      margin: 0;
      width: 50%;

      &--footer {
        background-color: base.sitecolors-siteColor("vam-black");
        margin: 0 0 10px;
      }

      &--component {
        background-color: transparent;
      }

      &--footer,
      &--component {
        width: 100%;
      }
    }

    &-fields {
      @include mixins.breakpoints-bpMinXSmall {
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      &--footer {
        @include mixins.breakpoints-bpMinMedium {
          justify-content: flex-end;
        }
      }

      &--component {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
      }

      &-field {
        @include base.typography-typeSetting(4, "regular");

        border: 1px solid white;
        border-radius: 2px;
        padding: 15px;
        width: 100%;

        &--component {
          @include base.typography-typeSetting(3, "regular");

          height: 50px;
        }

        &--footer {
          height: 50px;
          margin-right: 3px;
          max-width: none;
          text-align: left;
          width: calc(100% - 129px);
        }

        &[aria-invalid="true"] {
          border-color: base.sitecolors-siteColor("alert-red");
        }

        &::placeholder {
          color: base.sitecolors-siteColor("vam-grey-3");
          opacity: 1;
        }

        @include mixins.breakpoints-bpMinXSmall {
          flex-grow: 1;
          height: 50px;
          margin-right: 8px;
          text-align: left;

          &--component {
            margin-right: 0;
            max-width: 467px;
          }
        }

        @include mixins.breakpoints-bpMinMedium {
          max-width: 355px;

          &--component {
            max-width: 467px;
          }
        }
      }
    }

    &-submit {
      height: 50px;
      line-height: 50px;
      margin-bottom: 14px;
      margin-top: 8px;
      padding: 0 15px;
      width: 100%;

      &:focus {
        @include mixins.focus-defaultFocus;
      }

      &--component {
        @include base.typography-typeSetting(3, "regular");

        margin: 0 0 0 5px;
        max-width: 102px;
      }

      &--hidden {
        max-width: 80px;
        visibility: hidden;
      }

      &--footer {
        @include base.typography-typeSetting(4);

        background-color: base.sitecolors-siteColor("vam-black");
        border: 1px solid base.sitecolors-siteColor("vam-white");
        color: base.sitecolors-siteColor("vam-white");
        margin: 0 0 14px;
        max-width: 122px;
      }

      @include mixins.breakpoints-bpMinXSmall {
        margin-top: 0;
        max-width: 150px;

        &--footer {
          max-width: 158px;
        }

        &--component {
          max-width: 102px;
        }
      }
    }
  }

  &__headline {
    @include base.typography-typeSetting(5, "bold");

    margin: 0;
    text-align: center;

    @include mixins.breakpoints-bpMinXSmall {
      @include base.typography-typeSetting(6, "bold");

      margin-bottom: 10px;
      text-align: left;
    }

    &--component {
      margin-bottom: 5px;
      text-align: center;

      @include mixins.breakpoints-bpMinXSmall {
        @include base.typography-typeSetting(5, "bold");
      }

      @include mixins.breakpoints-bpMinMedium {
        @include base.typography-typeSetting(6, "bold");
      }
    }

    &--footer {
      @include base.typography-typeSetting(5, "bold");

      text-align: left;
    }
  }

  &__descriptor {
    @include base.typography-typeSetting(4);

    @include mixins.breakpoints-bpMinXSmall {
      margin: 0 0 15px;
      max-width: 450px;
      text-align: left;
    }

    & input {
      display: none;
    }

    .invalid &,
    .sent & {
      color: base.sitecolors-siteColor("alert-red");
      padding: 20px 0 0;
    }

    .sent & {
      color: base.sitecolors-siteColor("vam-black");
    }

    &--component {
      @include base.typography-typeSetting(3, "regular");

      margin: auto;
      padding: 10px 10% 30px;

      @include mixins.breakpoints-bpMinMedium {
        @include base.typography-typeSetting(4, "regular");
      }
    }

    @include mixins.breakpoints-bpMinXSmall {
      margin: 0 0 15px;
      max-width: 450px;
      text-align: left;

      &--component {
        max-width: none;
        padding-bottom: 15px;
        padding-top: 0;
        text-align: center;
      }
    }

    @include mixins.breakpoints-bpMinSmall {
      &--component {
        padding: 10px 20% 30px;
      }
    }

    @include mixins.breakpoints-bpMinMedium {
      &--component {
        padding: 10px 5% 30px;
      }
    }

    &--footer {
      margin-bottom: 20px;
    }
  }

  &__info {
    @include base.typography-typeSetting(1);

    color: base.sitecolors-siteColor("vam-grey-2");
    text-align: center;

    &--footer,
    &--component {
      color: base.sitecolors-siteColor("vam-white");
      text-align: left;
    }

    &--component {
      @include base.typography-typeSetting(0);

      padding-right: 20%;

      @include mixins.breakpoints-bpMinSmall {
        padding-right: 10%;
      }
    }

    @include mixins.breakpoints-bpMinXSmall {
      max-width: 520px;
      text-align: left;

      &--component {
        margin: auto;
        max-width: 575px;
      }
    }
  }

  &__flex-form-container {
    @include mixins.breakpoints-bpMinSmall {
      display: flex;

      &-form {
        align-content: center;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        min-width: 390px;
        width: calc(100% - 500px);
      }
    }
  }

  &__flex-form-container-title {
    @include mixins.breakpoints-bpMinSmall {
      width: 600px;

      h1,
      p {
        margin-right: 50px;
      }
    }
  }
}
