.b-site-footer {
  background-color: siteColor(vam-black);
  color: siteColor(vam-white);
  font-size: 13px;
  line-height: 18px;
  margin-top: 32px;
  position: relative;
  transform: translate3d(0, 0, 0);

  &__backtotop {
    display: none;

    @include bpMinSmall {
      @media print {
        display: none;
      }
      display: block;
      margin-top: 64px;
      position: relative;
      text-align: center;
      top: -32px;
    }
    &--etc {
      &:after {
        border-bottom: 1px siteColor(vam-grey-2) solid;
        content: ' ';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
      }
    }
  }

  &__backtotop-btn {
    background: siteColor(vam-black);
    border: 1px solid siteColor(vam-white);
    border-radius: 2px;
    color: siteColor(vam-white);
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 15px;

    &.s-themed--border-color:hover {
      border-color: siteColor(vam-white);
    }
  }

  &__content {
    margin: auto;
    max-width: bp(large) + (2 * $spacing-small);
    overflow: hidden;
    padding: 41px $spacing-small 0;
    position: relative;

    &--newsletter {
      padding: 32px $spacing-small 0;
    }

    @include bpMinSmall {
      padding: 51px $spacing-large 0;

      &--newsletter {
        padding: 0 $spacing-large 0;
      }
    }
  }

  &__name {
    color: siteColor(vam-white);
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.16;
    margin-bottom: 20px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;

    @include bpMinSmall {
      gap: 20px
    }
  }

  &__block {
    padding-bottom: 18px;
    width: calc(50% - 5px); // 1 gap

    @include bpMinSmall {
      width: calc(25% - 15px); // 3 gaps
    }
  }

  &__item {
    color: siteColor(vam-grey-4);
    line-height: 18px;
    margin: 0 0 12px;

    &--first-link {
      padding-top: 25px;
    }
  }

  &__item:first-child {
    @include bpMinMedium {
      br {
        display: none
      }
    }
  }

  &__header {
    @include typeSetting(3, regular);
    margin: 0 0 10px;
  }

  &__list {
    @include unstyledList;
  }

  &__link {
    @include typeSetting(1, regular);

    &:hover, &:focus {
      text-decoration: underline;
    }

    &--arrow-right::after {
      border: 1px solid #b7b8bd;
      border-left: 0;
      border-bottom: 0;
      content: '';
      display: inline-block;
      height: 5px;
      margin: 0 0 2px 5px;
      position: relative;
      transform: rotate(45deg);
      width: 5px;
    }
  }

  &__supplementary {

    @include bpMinSmall {
      outline: 1px dotted orange;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 400px;
    }
  }

  &__contacts {
    column-gap: 10px;
    display: flex;

    a {
      @include typeSetting(3, regular);
    }

    li:first-child a::after {
      content: '\005C \005C';
      display: inline-block;
      margin-left: 10px;
    }

    @include bpMinSmall {
      margin-bottom: 20px;
    }
  }

  &__copy {
    color: siteColor(vam-grey-4);
    margin-bottom: 50px;

    @include bpMinSmall {
      // flex: 1 1 75%;
    }
  }

  &__social {
    column-gap: 10px;
    display: flex;

    a {
      color: siteColor(vam-grey-4);
    }

    svg {
      color: siteColor(vam-white);
    }

    @include bpMinSmall {
      // flex: 1 1 75%;
    }
  }

  &__legal {
    color: siteColor(vam-grey-4);
    margin: 10px 0 25px;

    a {
      text-decoration: underline;
    }

    @include bpMinSmall {
      column-gap: 10px;
      display: flex;
      margin-bottom: 5px;

      li:not(:last-child)::after {
        content: '\005C \005C';
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  &__logo {
    color: siteColor(vam-grey-1);
    height: 90px;
    margin-bottom: 20px;
    width: 155px;

    @include bpMinSmall {
      // flex: 1 1 25%;
    }
  }
}
