.b-site-footer {
  background-color: siteColor(vam-black);
  color: siteColor(vam-white);
  font-size: 13px;
  line-height: 18px;
  margin-top: 32px;
  position: relative;
  transform: translate3d(0, 0, 0);

  &__backtotop {
    display: none;

    @include bpMinSmall {
      @media print {
        display: none;
      }
      display: block;
      margin-top: 64px;
      position: relative;
      text-align: center;
      top: -32px;
    }
    &--etc {
      &:after {
        border-bottom: 1px siteColor(vam-grey-2) solid;
        content: ' ';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -1;
      }
    }
  }

  &__backtotop-btn {
    background: siteColor(vam-black);
    border: 1px solid siteColor(vam-white);
    border-radius: 2px;
    color: siteColor(vam-white);
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 15px;

    &.s-themed--border-color:hover {
      border-color: siteColor(vam-white);
    }
  }

  &__content {
    margin: auto;
    max-width: bp(large) + (2 * $spacing-small);
    overflow: hidden;
    padding: 50px $spacing-small 0;
    position: relative;

    &--newsletter {
      padding: 32px $spacing-small 0;
    }

    @include bpMinSmall {
      padding-top: 20px;
      &--newsletter {
        padding-top: 0;
      }
    }
  }

  &__name {
    color: siteColor(vam-white);
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.16;
  }

  &__blocks {
    margin: 0 32px 0 -32px;
    overflow: hidden;

    @include bpMinSmall {
      float: left;
      width: 67%;
    }

    @include bpMinMedium {
      width: 75%;
    }
  }

  &__block {
    padding-bottom: 18px;

    .b-site-footer__blocks & {
      float: left;
      padding-left: 32px;
      width: 50%;

      @include bpMaxMedium {
        &:nth-child(2n+1) {
          clear: both;
        }
      }

      @include bpMinMedium {
        width: 33%;

        &:nth-child(4n) {
          clear: both;
        }
      }
    }
  }

  &__item {
    line-height: 18px;
    margin: 0 0 12px;
  }

  &__header {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0 0 18px;
  }

  &__list {
    @include unstyledList;
  }

  &__link {
    color: siteColor(vam-grey-4);

    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    display: inline-flex;
    margin: 70px 0 -8px -8px;

    a {
      margin: 0 0 8px 8px;
    }
  }

  &__times {
    color: siteColor(vam-grey-5);
  }

  &__legal {
    color: siteColor(vam-grey-4);
    margin: 10px 0;

    a {
      text-decoration: underline;
    }

    .s-separated {
      white-space: nowrap;

      &::before {
        font-size: 90%;
      }

      @include bpMaxMedium {
        &:last-child {
          display: block;
          margin-top: 6px;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &__logo {
    color: siteColor(vam-grey-2);
    float: right;
    height: 151px;
    margin-right: -10px;
    opacity: .4;
    width: 261px;
    z-index: -1;

    @include bpMinSmall {
      margin-top: -116px;
    }
  }
}
