<footer class="b-site-footer" itemscope itemtype="http://schema.org/Museum" aria-label="Main">
  <a name="footernav" id="footernav"></a>

  <div class="b-site-footer__backtotop">
    <a href="#vam_body" class="b-site-footer__backtotop-btn">Back to the top</a>
  </div>

  <div class="b-site-footer__content b-site-footer__content--newsletter">
    {%- render "@newsletter-signup--footer" -%}
  </div>
  
  <div class="b-site-footer__content">
    <h2 class="b-site-footer__name" itemprop="name">Victoria and <br/>Albert Museum</h2>

    <div class="b-site-footer__blocks">
      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">About the V&amp;A</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/about-us">About us</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/contact-us">Contact us</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/va-national">National work</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/va-international">International work</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/research">Research</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/conservation">Conservation</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/sustainability">Sustainability</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/press">Press</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/jobs">Jobs</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">Join &amp; Support</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/membership">Membership</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/corporate-partnerships">Corporate partnerships</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/futureplan">FuturePlan</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/join-support/#donate">Donate</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">Resources</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/collections">Explore the Collections</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/academy">V&amp;A Academy</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/nationalartlibrary">National Art Library</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/study-rooms">Study Rooms</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/archives">Archives</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/blog">Blog</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">Commercial</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/shop">Shop</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/brand-licensing">Licensing</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/publishing">Publishing</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="http://www.vandaimages.com/">V&A images</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/exhibitions-for-hire">Exhibitions for hire</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link" href="/info/venue-hire">Venue hire</a>
          </li>
        </ul>
      </section>
    </div>

    <h2 class="b-site-footer__name" itemprop="name">Visit the V&amp;A</h2>

    <div class="b-site-footer__blocks">
      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">V&amp;A South Kensington</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <div itemprop="openingHours" datetime="We,Th,Fr,Sa,Su 10:00-17:45">Wednesday&ndash;Sunday, <br />10.00&ndash;17.45</div>
          </li>
          <li class="b-site-footer__item">
            Admission is free
          </li>
          <li class="b-site-footer__item">
            Cromwell Road<br/>
            London SW7 2RL
          </li>
          <li class="b-site-footer__item b-site-footer__item--first-link">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">Plan a visit</a>
          </li>
          <li class="b-site-footer__item">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">Access information</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">V&amp;A Dundee</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <div itemprop="openingHours" datetime="We,Th,Fr,Sa,Su 10:00-17:45">Wednesday&ndash;Sunday, <br />10.00&ndash;17.45</div>
          </li>
          <li class="b-site-footer__item">
            Admission is free
          </li>
          <li class="b-site-footer__item">
            1 Riverside Esplanade,<br/>
            Dundee DD1 4EZ
          </li>
          <li class="b-site-footer__item b-site-footer__item--first-link">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">Visit V&amp;A Dundee website</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">V&amp;A Wedgwood Collection</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            <div itemprop="openingHours" datetime="We,Th,Fr,Sa,Su 10:00-17:45">Wednesday&ndash;Sunday, <br />10.00&ndash;17.45</div>
          </li>
          <li class="b-site-footer__item">
            Admission is free
          </li>
          <li class="b-site-footer__item">
            Wedgwood Drive, Barlaston,<br/>
            Stoke-on-Trent ST12 9ER
          </li>
          <li class="b-site-footer__item b-site-footer__item--first-link">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">Visit World of Wedgwood website</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">Young V&amp;A</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            Opening 2023
          </li>
          <li class="b-site-footer__item">
            East London
          </li>
          <li class="b-site-footer__item b-site-footer__item--first-link">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">About Young V&amp;A</a>
          </li>
        </ul>
      </section>

      <section class="b-site-footer__block">
        <h3 class="b-site-footer__header">V&amp;A East</h3>
        <ul class="b-site-footer__list">
          <li class="b-site-footer__item">
            Opening 2024
          </li>
          <li class="b-site-footer__item">
            East London
          </li>
          <li class="b-site-footer__item b-site-footer__item--first-link">
            <a class="b-site-footer__link b-site-footer__link--arrow-right" href="#">About V&amp;A East</a>
          </li>
        </ul>
      </section>
    </div>

    <div class="b-site-footer__supplementary">
      <ul class="b-site-footer__contacts b-site-footer__list">
        <li class="b-site-footer__item">
          <a class="b-site-footer__link" href="tel:+442079422000">+44 (0)20 7942 2000</a>
        </li>
        <li class="b-site-footer__item s-separated">
          <a class="b-site-footer__link" href="mailto:hello@vam.ac.uk">hello@vam.ac.uk</a>
        </li>
      </ul>

      <ul class="b-site-footer__social b-site-footer__list">
        <li>
          <a class="b-icon-link" href="http://www.facebook.com/victoriaandalbertmuseum" aria-label="Facebook">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" aria-hidden="true">
                <use xlink:href="/assets/svg/svg-template.svg#facebook"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a class="b-icon-link" href="https://twitter.com/V_and_A" aria-label="Twitter">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" aria-hidden="true">
                <use xlink:href="/assets/svg/svg-template.svg#twitter"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a class="b-icon-link" href="http://www.pinterest.com/vamuseum/" aria-label="Pinterest">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" aria-hidden="true">
                <use xlink:href="/assets/svg/svg-template.svg#pinterest"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a class="b-icon-link" href="http://instagram.com/vamuseum" aria-label="Instagram">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" aria-hidden="true">
                <use xlink:href="/assets/svg/svg-template.svg#instagram"></use>
              </svg>
            </div>
          </a>
        </li>
        <li>
          <a class="b-icon-link" href="http://www.youtube.com/user/vamuseum" aria-label="YouTube">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" aria-hidden="true">
                <use xlink:href="/assets/svg/svg-template.svg#youtube"></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
      
      <ul class="b-site-footer__legal b-site-footer__list">
        <li class="b-site-footer__item">
          <a class="b-site-footer__link" href="/privacy-notice">Privacy policy</a> and <a class="b-site-footer__link" href="/cookies">cookies</a>
        </li>
        <li class="b-site-footer__item s-separated">
          <a class="b-site-footer__link" href="/articles/terms-of-use">Terms of use</a>
        </li>
        <li class="b-site-footer__item s-separated">
          <a class="b-site-footer__link" href="/info/accessibility-statement">Accessibility statement</a>
        </li>
      </ul>

      <p class="b-site-footer__copy">&copy; Victoria and Albert Museum, London, 2022</p>

      <svg class="b-site-footer__logo" aria-hidden="true">
        <use xlink:href="/assets/svg/svg-template.svg#valogo-clipped"></use>
      </svg>
    </div>
  </div>

</footer>
