.g-venue-blog-cards, .g-venue-blog-cards__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.g-venue-blog-cards__row {
  & > section {
    @include bpMaxMedium {
      margin-top: 20px;
    }
    @include bpMaxSmall {
      margin-top: 10px;
    }
  }

  justify-content: center;

  @include bpMaxMedium {
    overflow: hidden;
  }

  .b-venue-blog-card {
    max-width: 355px;
    @include bpMinXSmall {
      max-width: 380px;
    }
  }
}

.g-venue-blog-cards {
  overflow: hidden;

  .b-venue-blog-card--50-width:nth-of-type(1) {
    @include bpMinXSmall {
      margin-right: 5px;
    }

    @include bpMinSmall {
      margin-right: 10px;
    }

    @include bpMinLarge {
      margin-right: 15px;
    }
  }

  .b-venue-blog-card--50-width:nth-of-type(2) {
    @include bpMinXSmall {
      margin-left: 5px;
    }

    @include bpMinSmall {
      margin-left: 10px;
    }

    @include bpMinLarge {
      margin-left: 15px;
    }
  }

  &--three {
    flex-wrap: wrap;

    @include bpMinMedium {
      flex-wrap: nowrap;
      .b-venue-blog-card--33-width {
        margin-right: 30px;
        @include bpMaxMedium {
          margin-top: 10px;
        }
      }

      .b-venue-blog-card--50-width:nth-of-type(1) {
        @include bpMinXSmall {
          margin-right: 15px;
        }
      }

      .b-venue-blog-card--50-width:nth-of-type(2) {
        @include bpMinXSmall {
          margin-left: 15px;
        }
      }

      .g-venue-blog-cards__row {
        flex-basis: 790px;
        padding-left: 0;
      }
    }
  }
}
