<section class="g-venue-blog-cards {% if numberOfCards === 3 %} g-venue-blog-cards--three {% endif %} {% if numberOfCards == 1 %} g-venue-blog-cards--single {% endif %}">
    {% if numberOfCards !== 2 %}
        <section class="b-venue-blog-card b-venue-blog-card--100-width {% if numberOfCards == 3 %} b-venue-blog-card--33-width {% endif %}">
          <a class="b-venue-blog-card__link {% if numberOfCards == 3 %} b-venue-blog-card__link--33-width {% else %} b-venue-blog-card__link--100-width {% endif %}" href="">
            <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--100-width {% if numberOfCards == 3 %} b-venue-blog-card__subheading--33-width {% endif %}">
                Blog post
            </h3>
            <div class="b-venue-blog-card__img b-venue-blog-card__img--100-width {% if numberOfCards == 3 %} b-venue-blog-card__img--33-width {% endif %}">
                <img alt="" src="https://assets-cdn.vam.ac.uk/2022/07/18/10/43/04/1d1d02e9-ef6f-4ada-bc85-cc092f656808/640.jpg">
            </div>
            <div class="b-venue-blog-card__text b-venue-blog-card__text--100-width {% if numberOfCards == 3 %} b-venue-blog-card__text--33-width {% endif %}">
                {% if numberOfCards == 1 %} 
                <h3 class="b-venue-blog-card__posttype">
                    Blog post
                </h3>
                {% endif %}
                <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--100-width {% if numberOfCards == 3 %} b-venue-blog-card__heading--33-width {% endif %}">
                    Young V&A – Countdown to Summer 2023
                </h2>
                <article class="b-venue-blog-card__desc b-venue-blog-card__desc--100-width {% if numberOfCards == 3 %} b-venue-blog-card__desc--33-width {% endif %}">
                    After seven intensive years of dedicated planning and design, we can announce that Young V&amp;A will open its doors in Bethnal Green on Saturday 1 July – in time for the summer holidays!
                </article>
                {% if numberOfCards == 1 %} 
                <div class="b-venue-blog-card__cta">
                    Read More
                </div> 
                {% endif %}
            </div>
            </a>
        </section>
    {% endif %}
    {% if numberOfCards >= 2 %}
        <section class="g-venue-blog-cards__row">
            <section class="b-venue-blog-card b-venue-blog-card--50-width">
              <a class="b-venue-blog-card__link" href="">
                <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--50-width">
                    Blog post
                </h3>
                <div class="b-venue-blog-card__img b-venue-blog-card__img--50-width">
                    <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg">
                </div>
                <div class="b-venue-blog-card__text b-venue-blog-card__text--50-width">
                    <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--50-width">
                        Title
                    </h2>
                    <article class="b-venue-blog-card__desc b-venue-blog-card__desc--50-width">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </article>
                </div>
                </a>
            </section>
            <section class="b-venue-blog-card b-venue-blog-card--50-width">
              <a class="b-venue-blog-card__link" href="">
                <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--50-width">
                    Blog post
                </h3>
                <div class="b-venue-blog-card__img b-venue-blog-card__img--50-width">
                    <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg">
                </div>
                <div class="b-venue-blog-card__text b-venue-blog-card__text--50-width">
                    <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--50-width">
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                    </h2>
                    <article class="b-venue-blog-card__desc b-venue-blog-card__desc--50-width">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </article>
                </div>
              </a>
            </section>
        </section>
    {% endif %}
</section>
