<section class="g-venue-blog-cards {% if numberOfCards === 3 %} g-venue-blog-cards--three {% endif %}">
    {% if numberOfCards !== 2 %}
        <section class="b-venue-blog-card b-venue-blog-card--100-width {% if numberOfCards == 3 %} b-venue-blog-card--33-width {% endif %}">
            <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--100-width {% if numberOfCards == 3 %} b-venue-blog-card__subheading--33-width {% endif %}">
                Blog post
            </h3>
            <div class="b-venue-blog-card__img b-venue-blog-card__img--100-width {% if numberOfCards == 3 %} b-venue-blog-card__img--33-width {% endif %}">
                <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg">
            </div>
            <div class="b-venue-blog-card__text b-venue-blog-card__text--100-width {% if numberOfCards == 3 %} b-venue-blog-card__text--33-width {% endif %}">
                <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--100-width {% if numberOfCards == 3 %} b-venue-blog-card__heading--33-width {% endif %}">
                    Title
                </h2>
                <article class="b-venue-blog-card__desc b-venue-blog-card__desc--100-width {% if numberOfCards == 3 %} b-venue-blog-card__desc--33-width {% endif %}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </article>
            </div>
        </section>
    {% endif %}
    {% if numberOfCards >= 2 %}
        <section class="g-venue-blog-cards__row">
            <section class="b-venue-blog-card b-venue-blog-card--50-width">
                <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--50-width">
                    Blog post
                </h3>
                <div class="b-venue-blog-card__img b-venue-blog-card__img--50-width">
                    <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg">
                </div>
                <div class="b-venue-blog-card__text b-venue-blog-card__text--50-width">
                    <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--50-width">
                        Title
                    </h2>
                    <article class="b-venue-blog-card__desc b-venue-blog-card__desc--50-width">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </article>
                </div>
            </section>
            <section class="b-venue-blog-card b-venue-blog-card--50-width">
                <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--50-width">
                    Blog post
                </h3>
                <div class="b-venue-blog-card__img b-venue-blog-card__img--50-width">
                    <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg">
                </div>
                <div class="b-venue-blog-card__text b-venue-blog-card__text--50-width">
                    <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--50-width">
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                        REALLY REALLY LONG Title
                    </h2>
                    <article class="b-venue-blog-card__desc b-venue-blog-card__desc--50-width">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </article>
                </div>
            </section>
        </section>
    {% endif %}
</section>
