@use "sass:map";

$theme-color-default: primary-green;
$theme-colors: (
  "angry-blue": #2cf4f6,
  "angry-yellow": #f3f935,
  "baby-blue": #c9fbff,
  "black": #000,
  "blue-green": #12d2a0,
  "blue-sky": #d0e1f9,
  "blue": #5bb4f9,
  "bright-yellow": #fcf05b,
  "childs-blue": #2cd6f6,
  "cream-yellow": #fff5b3,
  "cyan": #69d5d7,
  "dark-pink": #e172c0,
  "dirty-yellow": #dbde0e,
  "dust-green": #b3c74b,
  "dusty-purple": #cec3d6,
  "dusty-yellow": #e1dfba,
  "egg-yolk": #ffd717,
  "eggshell": #b6d5e1,
  "electric-indigo": #5a00e0,
  "forest-green": #0ec335,
  "gold": #edd256,
  "grey-blue": #e7f4f6,
  "grey-brown": #cfc4a2,
  "leaf": #96c99c,
  "light-brown": #f4e1c8,
  "light-pink": #ecc9c2,
  "light-purple": #ce9cef,
  "lime": #b9ed69,
  "messy-purple": #a1abc2,
  "mint-green": #4bc87f,
  "mud-green": #bcd096,
  "mud-yellow": #c2af2d,
  "ocean-blue": #98f5da,
  "ocean-mint": #07c3b3,
  "orange": #ff9a00,
  "peach": #ffb072,
  "pink": #f6a2d2,
  "postbox-red": #ff2d2d,
  "primary-green": #50e3c2,
  "raspberry": #ff7b90,
  "rose-white": #fef7f7,
  "sale-red": #e60000,
  "salmon": #f87a7a,
  "sand-storm": #e9e0a4,
  "sand": #ffd281,
  "silent-green": #ceffd6,
  "sky-purple": #f4f5ff,
  "soft-pink": #f5cdea,
  "strawberry": #fd6060,
  "summer-pink": #f1a5b3,
  "tangerine": #ffac3c,
  "teal-blue": #87c3bd,
  "teal-green": #0ad6cb,
  "tru-pink": #ff89b3,
  "velvet": #8f82c1,
  "winter-blue": #87c3d6,
  "white": #fff
);
$pale-theme-colors: (
  "angry-blue",
  "angry-yellow",
  "baby-blue",
  "blue-sky",
  "bright-yellow",
  "cream-yellow",
  "dusty-yellow",
  "egg-yolk",
  "grey-blue",
  "grey-brown",
  "light-brown",
  "ocean-blue",
  "peach",
  "pink",
  "sand-storm",
  "silent-green",
  "sky-purple",
  "soft-pink",
  "white"
);

@function themeColor($c) {
  @return map.get($theme-colors, $c);
}
