$theme-color-default: orange;

$theme-colors: (
  angry-blue: hsl(181,91.8%,56.9%),
  angry-yellow: hsl(62,94.2%,59.2%),
  baby-blue: hsl(184,100%,89.4%),
  black: hsl(0,0%,0%),
  blue-green: hsl(164,84.2%,44.7%),
  blue-sky: hsl(215,77.4%,89.6%),
  blue: hsl(206,92.9%,66.7%),
  bright-yellow: hsl(56,96.4%,67.3%),
  childs-blue: hsl(190,91.8%,56.9%),
  cream-yellow: hsl(52,100%,85.1%),
  cyan: hsl(181,57.9%,62.7%),
  dark-pink: hsl(318,64.9%,66.5%),
  dirty-yellow: hsl(61,88.1%,46.3%),
  dust-green: hsl(70,52.5%,53.7%),
  dusty-purple: hsl(275,18.8%,80.2%),
  dusty-yellow: hsl(57,39.4%,80.6%),
  egg-yolk: hsl(50,100%,54.5%),
  eggshell: hsl(197,41.7%,79.8%),
  electric-indigo: hsl(264,100%,43.9%),
  forest-green: hsl(133,86.6%,41%),
  gold: hsl(49,80.7%,63.3%),
  grey-blue: hsl(188,45.5%,93.5%),
  grey-brown: hsl(45,31.9%,72.4%),
  leaf: hsl(127,32.1%,68.8%),
  light-brown: hsl(34,66.7%,87.1%),
  light-pink: hsl(10,52.5%,84.3%),
  light-purple: hsl(276,72.2%,77.5%),
  lime: hsl(84,78.6%,67.1%),
  messy-purple: hsl(222,21.3%,69.6%),
  mint-green: hsl(145,53.2%,53.9%),
  mud-green: hsl(81,38.2%,70.2%),
  mud-yellow: hsl(52,62.3%,46.9%),
  ocean-blue: hsl(163,82.3%,77.8%),
  ocean-mint: hsl(175,93.1%,39.6%),
  orange: hsl(36,100%,50%),
  peach: hsl(26,100%,72.4%),
  pink: hsl(326,82.4%,80%),
  postbox-red: hsl(0,100%,58.8%),
  raspberry: hsl(350,100%,74.1%),
  rose-white: hsl(0,77.8%,98.2%),
  sale-red: hsl(0,100%,45.1%),
  salmon: hsl(0,90%,72.5%),
  sand-storm: hsl(52,61.1%,77.8%),
  sand: hsl(39,100%,75.3%),
  silent-green: hsl(130,100%,90.4%),
  sky-purple: hsl(235,100%,97.8%),
  soft-pink: hsl(317,66.7%,88.2%),
  strawberry: hsl(0,97.5%,68.4%),
  summer-pink: hsl(349,73.1%,79.6%),
  tangerine: hsl(34,100%,61.8%),
  teal-blue: hsl(174,33.3%,64.7%),
  teal-green: hsl(177,91.1%,43.9%),
  tru-pink: hsl(339,100%,76.9%),
  velvet: hsl(252,33.7%,63.3%),
  winter-blue: hsl(194,49.1%,68.4%),
  white: hsl(0,0%,100%)
);

$pale-theme-colors: (
  angry-blue,
  angry-yellow,
  baby-blue,
  blue-sky,
  bright-yellow,
  cream-yellow,
  dusty-yellow,
  egg-yolk,
  grey-blue,
  grey-brown,
  light-brown,
  ocean-blue,
  peach,
  pink,
  sand-storm,
  silent-green,
  sky-purple,
  soft-pink,
  white
);

@function themeColor($c) {
  @return map-get($theme-colors, $c);
}
