.b-story-box-column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @include bpMinSmall {

  }
  @include bpMinMedium {
    flex-wrap: nowrap;
  }
  &__col-break {
    flex-basis: 100%;
    height: 24px;

    @include bpMinSmall {
      flex-basis: auto;
      height: 0;
    }
  }
  &__row-break {
    flex-basis: 100%;
    height: 24px;

    @include bpMinMedium {
      flex-basis: auto;
      height: 0;
    }
  }
}
