<div class="b-video-background js-background-video-container">
  {% if treatment %}
    <div class="b-video-foreground--{{ treatment }}"></div>
  {% endif %}
  <video autoplay muted loop class="b-video-foreground js-background-video">
    <source src="{{video}}" type="video/mp4">
  </video>
</div>





<!-- for the fractal preview and testing of the JS... -->
<div style="position: absolute; top: 20px; right: 20px">
  <button class="u-btn u-btn--outlined-inverse u-btn--micro u-btn--stop s-hidden js-stop-button" title="Stop Background Video Playback">
    Stop video
  </button>
</div>
