<div class="b-image-overlay__container">
  <div class="b-image-overlay__content b-image-overlay__content--active">
    <button class="b-image-overlay__close-container" title="Close"></button>
    <div class="b-image-overlay__figure" id="js-image-overlay__osd">
    </div>
    <div class="b-image-overlay__figcaption">
      {%- render "@image-overlay-details" -%}
      <button class="b-image-overlay__figcaption__handle" title="More information"></button>
    </div>
  </div>
</div>

<div class='b-image-overlay b-image-overlay__preview b-image-overlay__preview--offensive'>
  <img class='b-image-overlay__preview-image b-image-overlay__preview-image--offensive object-page__hero-img' alt="Cartoon for a tapestry." src="https://framemark.vam.ac.uk/collections/2006AN5938/full/230,/0/default.jpg">
  {%- if offensive_image -%}
    <div class="b-image-overlay__preview-concealer">
      <span class="b-image-overlay__preview-concealer-text">
        This record contains media that is considered offensive.
      </span>
      </br>
      <button class="b-image-overlay__preview-concealer-button">view media</button>
    </div>
  {%- endif -%}
</div>

<div class="b-image-overlay__preview--hidden">
  <h1>Hello</h1>
  <p>words are here</p>
</div>
