  <div class="b-image-overlay__container">
    <div class="b-image-overlay__content b-image-overlay__content--active">
      <div class="b-image-overlay__close-container b-image-overlay__close-container--active"></div>
      <div class="b-image-overlay__figure">
        <img class="b-image-overlay__image b-image-overlay__image b-image-overlay__image--active" itemprop="contentUrl" alt="" src="">
      </div>
      <div class="b-image-overlay__figcaption b-image-overlay__figcaption--active">
        <div class="b-image-overlay__prevnext">
          {%- render "@image-overlay-details" -%}
        </div>
      </div>
    </div>
  </div>

<div class='b-image-overlay b-image-overlay__preview b-image-overlay__preview--offensive'>
  <img class='b-image-overlay__preview-image' alt="Cartoon for a tapestry." src="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df66cf596/1280.jpg">
  {%- if offensive_image -%}
    <div class="b-image-overlay__preview-concealer">
      <span class="b-image-overlay__preview-concealer-text">
        This record contains media that is considered offensive.
      </span>
      </br>
      <button class="b-image-overlay__preview-concealer-button">view media</button>
    </div>
  {%- endif -%}
</div>

<div class="b-image-overlay__preview--hidden">
  <h1>Hello</h1>
  <p>words are here</p>
</div>
