@use "../../mixins";
@use "../../base";

.b-programme-page-tout {
  display: inline-block;
  margin: 0 2px;
  min-height: 182px;
  min-width: 152px;
  width: 100%;

  &:focus div {
    text-decoration: underline;
    text-decoration-thickness: from-font;
  }

  @include mixins.breakpoints-bpMinSmall {
    margin: 2px;
    max-width: 200px;
    width: calc(20% - 4px);
  }

  &__content {
    position: relative;

    &-image {
      height: 100%;
      max-height: 244px;
      width: 100%;
    }

    &-overlay {
      &::after {
        background-image:
          linear-gradient(
            rgba(0, 0, 0, 0%),
            rgba(0, 0, 0, 0%),
            rgba(0, 0, 0, 80%),
            rgba(0, 0, 0, 100%)
          );
        content: "";
        display: block;
        inset: 0;
        opacity: 0.8;
        position: absolute;
        transition: opacity 0.35s ease;
        width: 100%;
        z-index: 0;
      }
    }

    &-title {
      @include base.typography-typeSetting(4, "bold");

      bottom: 0;
      color: base.sitecolors-siteColor("vam-white");
      line-height: 24px;
      margin: 14px 16px;
      position: absolute;
      white-space: normal;
    }
  }
}
