.b-programme-page-tout {
  display: inline-block;
  margin: 0 2px;
  min-height: 182px;
  min-width: 152px;
  width: 100%;

  @include bpMinSmall {
    margin: 2px;
    max-width: 200px;
    width: calc(20% - 4px);
  }

  &__content {
    position: relative;
    
    &-image {
      height: 100%;
      max-height: 244px;
      width: 100%;
    }
    
    &-overlay {
      &:after {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, 1));
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        opacity: .8;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity .35s ease;
        width: 100%;
        z-index: 0;
      }
    }

    &-title {
      @include typeSetting(4, bold);
      bottom: 0;
      color: siteColor(vam-white);
      line-height: 24px;
      margin: 14px 16px;
      position: absolute;
      white-space: normal;

      @include bpMinLarge {
        @include typeSetting(5, bold);
      }
    }
  }
}
