.b-programme-page-tout {
  display: inline-block;
  margin: 0 5px;
  width: 100%;
  max-width: 200px;

  &__content {
    position: relative;

    &-image {
      height: 100%;
      max-height: 244px;
    }

    &-title {
      @include typeSetting(5, bold);
      bottom: 0;
      color: siteColor(vam-white);
      margin: 6px 12px;
      position: absolute;
      white-space: normal;
    }
  }
}
