.search-results-page {
    padding-bottom: 48px;
	background-color: siteColor(vam-black);
	&__search {
		&-box-container, &-results-container, &-pagination-container {
			margin: auto;
			width: 355px;

			@include bpMinSmall {
				width: 640px;
			}

			@include bpMinLarge {
				width: 1200px;
			}
		}

		&-box-container {
			position: absolute;
		    top: 0px;
		    left: 50%;
		    transform: translateX(-50%);	
		}

		&-pagination-container {
			margin-top: 24px;
			
			@include bpMinLarge {
				margin-top: 48px;
			}
		}

		&-results-container {
			padding-top: 100px;

			@include bpMinSmall {
				padding-top: 60px;
			}

			@include bpMinLarge {
				padding-top: 80px;
			}
		}
	}
}