<div class="b-associated-contexts-background">
	<div class="b-associated-contexts">
		<div class="b-associated-contexts__title">
			Associated
		</div>
		<ul class="b-associated-contexts__container">
			<li class="b-associated-contexts__link">
				<div class="b-associated-contexts__link-container">
					<div class="b-associated-contexts__link-image"></div>
					<div class="b-associated-contexts__link-text">
						<div class="b-associated-contexts__link-text-title">Title</div>
						<div class="b-associated-contexts__link-text-subtitle">Subtitle</div>
					</div>
				</div>
			</li>
			<li class="b-associated-contexts__link">
				<div class="b-associated-contexts__link-container">
					<div class="b-associated-contexts__link-image"></div>
					<div class="b-associated-contexts__link-text">
						<div class="b-associated-contexts__link-text-title">Title</div>
						<div class="b-associated-contexts__link-text-subtitle">Subtitle</div>
					</div>
				</div>
			</li>
			<li class="b-associated-contexts__link">
				<div class="b-associated-contexts__link-container">
					<div class="b-associated-contexts__link-image"></div>
					<div class="b-associated-contexts__link-text">
						<div class="b-associated-contexts__link-text-title">Title</div>
						<div class="b-associated-contexts__link-text-subtitle">Subtitle</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="b-associated-contexts__controlled-vocab-container">
			<div class="etc-details__controlled-vocab-container">
				<span class="etc-details__controlled-vocab" data-id="AAT14495">
					Polyurethane
				</span>
				<span class="etc-details__controlled-vocab" data-id="AAT14495">
					Polyurethane
				</span>
				<span class="etc-details__controlled-vocab" data-id="AAT14495">
					Polyurethane
				</span>
				<span class="etc-details__controlled-vocab" data-id="AAT14495">
					Polyurethane
				</span>
			</div>
		</div>
	</div>
</div>