.alert {
  border: 3px solid #ccc;
  margin: 0 auto 10px;
  max-width: 960px;
  padding: 10px;
  width: 100%;
  transition: border-width 0.2s;

  &:hover {
    border-width: 10px;
  }

  &--positive {
    border-color: green;
  }

  &--warn {
    border-color: yellow;
  }

  &--danger {
    border-color: red;
  }
}
