<div class="image-button__download-button">
	<button href="#" class="u-btn u-btn--micro">
		Download image
	</button>
</div>

<!-- <div class="image-button__license-button">
	<button href="#" class="u-btn u-btn--micro">
		License image
	</button>
</div> -->

<div class="image-button__image-modal b-modal js-modal" data-not-on-load="true">
    <section class="b-modal__content image-button__modal-content image-button__modal-license-content">
		<section class="image-button__title-section">
			<h1 class="b-modal__title image-button__title">License this image</h1>
			<section class="image-button__content-section">
			    <div class="b-modal__description image-button-description">
					To license this image or for more information please contact our Licensing team.
			    </div>
				<a href="#" class="u-btn">
				  Email us
				</a>
				</br></br>  
				<div class="b-modal__description image-button-description">
				    <div class="b-modal__description">
						We can manage your request more quickly if you include the following information:
				    </div>
					<ul class="image-button__description-container-bullets">
						<li>Image reference number: XXX</li>
						<li>Title and author (if applicable)</li>
						<li>Publisher/Producer/Broadcaster</li>
						<li>Planned release date</li>
						<li>Print run or number of units</li>
						<li>Image size and position, example 1/4 page, full screen, front cover, inside</li>
						<li>Languages/territorial distribution</li>
						<li>Digital rights - format details and license period </li>			
					</ul>
				</div>
			</section>
		</section>
    </section>
    <section class="b-modal__content image-button__modal-content image-button__modal-download-content">
    	<div class="image-button__content-content-container-container js-modal-action">
			<section class="image-button__title-section">
			    <h1 class="b-modal__title image-button__title">Download image</h1>
			    <div class="b-modal__description image-button-description">
					By downloading this image you agree that you will not use it commercially, as defined in our full terms and conditions.
			    </div>
			</section>
			<div class="image-button__content-container">			
		        <div class="b-modal__description image-button__description-container">
		            <p>
		            	You can use the image for:
		            </p>
		            <ul class="image-button__description-container-bullets">
		                <li>Non-commercial research and private study</li>
		                <li>Teaching and instruction</i></li>
		                <li>Non-commercial publishing (up to A5-size, and in print runs of up to 4000 copies)</li>
		                <li>Non-commercial online use, up to 768 pixels, and for up to 5 years</li>
		            </ul>
		            <span class="image-button__agree-to-terms-reminder">
						Please indicate that you accept all terms to proceed
					</span>
		            <div class="image-button__checkbox-container js-modal-action">
		                <input class="image-button__agree-checkbox js-modal-action" type="checkbox"></input>
		                <a class="js-modal-action image-button__agree-to-terms" href="javascript:void(0);">
			                <svg class="image-button__checkmark" role="img">
					      		<use xlink:href="/assets/svg/svg-template.svg#tick"></use>
					    	</svg>		                	
		                </a>
		                <span class="image-button__agree-to-terms-text">
				        	I agree to the full terms and conditions
						</span>
		            </div>
		        </div>
				<section class="image-button__image-container">
					<div class="image-button__download-link">
						<a href="javascript:void(0);" class=" b-icon-link js-modal-action">
						    <div class="b-icon-link__container image-button__icon-link-container js-modal-action">
						        <svg class="b-icon-link__icon js-modal-action image-button__image-icon-link" role="img">
						      		<use xlink:href="/assets/svg/svg-template.svg#download"></use>
						    	</svg>
						    </div>
						</a>
						<div class="image-button__download-link-text js-modal-action">
							<a href="javascript:void(0);" class="u-link image-button__download-link js-modal-action">
								Download image 
							</a>
						    <span class="image-button__image-info js-modal-action">
								JPG <span class="image-button__image-size">(1.5mb)</span>
						   	</span>
						</div>

					</div>
				</section>
				<section class="image-button__footer-section">
				    <div class="b-modal__description image-button__description image-button__footer-content">
						Other uses, including exhibition catalogue and display, broadcast, advertising, book jackets and commercial packaging, are covered by our commercial terms.</br></br>
						If you would like a larger file, or to use the image in other ways, contact <a class="js-modal-action u-link image-button__license-modal-open">our Licensing team</a>.
				    </div>
				</section>
	    	</div>
    	</div>
    </section>
</div>