<div class="image-overlay-detail">
    <div class="image-overlay-detail__caption">
            <div class="image-overlay-detail__image-counter">
                Image xx out of xx
            </div> 
            <div class="image-overlay-detail__copyright-holder">
                © Victoria and Albert Museum, London
            </div>
            <div class="image-overlay-detail__download-button-container">
                <a href="#" class="u-btn u-btn--micro">
                    Download image
                </a>                
            </div>
        </div>
    </div>
    <div class="image-overlay-detail__carosel-container">
            {%- render "@image-carosel" -%}
    </div>
    <div class="image-overlay-detail__zoom-container">
        
    </div>    
</div>