<div class="image-overlay-detail">
    <div class="image-overlay-detail__caption">
            <div class="image-overlay-detail__image-counter">
                Image xx out of xx
            </div> 
            <div class="image-overlay-detail__copyright-holder">
                © Victoria and Albert Museum, London
            </div>
            <div class="imge-overlay-details__download-button-container">
                <a href="#" class="u-btn u-btn--micro">
                    Download image
                </a>                
            </div>
        </div>
        <div class="image-overlay-detail__prevnext-container">
            <div class="image-overlay-detail__prevnext">
                <div class="image-overlay-detail__prev-container">
                    <a class="image-overlay-detail__prev image-overlay-detail__prev--disabled" href="#" title="Previous" aria-label="Previous">
                        <svg role="img">
                            <use xlink:href="/assets/svg/svg-template.svg#point-left"></use>
                        </svg>
                    </a>
                </div>
                <div class="image-overlay-detail__image-carosel">
                    <div class="image-overlay-detail__image-preview-container image-overlay-detail__image-preview-container--selected">
                        <div class="image-overlay-detail__image-preview"></div>
                    </div>
                    <div class="image-overlay-detail__image-preview-container">
                        <div class="image-overlay-detail__image-preview"></div>
                    </div>
                    <div class="image-overlay-detail__image-preview-container">
                            <div class="image-overlay-detail__image-preview"></div>
                    </div>
                    <div class="image-overlay-detail__image-preview-container">
                            <div class="image-overlay-detail__image-preview"></div>
                    </div>
                    <div class="image-overlay-detail__image-preview-container">
                            <div class="image-overlay-detail__image-preview"></div>
                    </div>                                                
                </div>
                <div class="image-overlay-detail__next-container">
                    <a class="image-overlay-detail__next image-overlay-detail__next--disabled image-overlay-detail__next--enabled" href="#" title="Next" aria-label="Next">
                        <svg role="img">
                            <use xlink:href="/assets/svg/svg-template.svg#point-right"></use>
                        </svg>
                    </a>
                </div>             
            </div>
        </div>
    </div>
</div>