@mixin tiles {
  margin: 0;

  @include bpMinXSmall {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;

    .no-flexbox & {
      overflow: hidden;
    }
  }

  @include bpMinMedium {
    margin: 0 -27px;
  }
}

@mixin tilesItem($columns: 3) {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin-bottom: 16px;

  .no-flexbox & {
    float: left;
  }

  @include bpMinXSmall {
    flex-basis: 50%;
    margin-bottom: 23px;
    max-width: 50%;
    padding: 0 12px;

    .no-flexbox & {
      width: 50%;
    }
  }

  @include bpMinMedium {
    flex-basis: percentage(1 / $columns);
    margin-bottom: 16px;
    max-width: percentage(1 / $columns);
    padding: 0 27px;

    .no-flexbox & {
      width: percentage(1 / $columns);
    }
  }
}
