$gap: 12;

@mixin tiles($gap: $gap) {
  $gap: $gap !global;
  margin: 0;

  @include bpMinXSmall {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$gap}px;
  }
}

@mixin tilesItem($columns: 3) {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin-bottom: 16px;

  @include bpMinXSmall {
    flex-basis: 50%;
    margin-bottom: 23px;
    max-width: 50%;
    padding: 0 #{$gap}px;
  }

  @include bpMinMedium {
    flex-basis: percentage(1 / $columns);
    margin-bottom: 16px;
    max-width: percentage(1 / $columns);
  }
}
