$icon-width: 30px;

.b-icon-list {
  @include typeSetting(2, regular);
  @include unstyledList;

  color: siteColor(vam-black);
  display: flex;
  flex-wrap: wrap;

  &--dark {
    color: siteColor(vam-white);
  }

  &__item {
    margin-bottom: 20px;
    margin-left: $icon-width;
    width: calc(100% - #{$icon-width});

    @include bpMinXSmall {
      float: left;
      margin-right: 2%;
      width: calc(48% - #{$icon-width});
    }

    @include bpMinSmall {
      float: none;
      margin-bottom: 25px;
      width: 100%;
    }

    &__icon {
      float: left;
      height: 20px;
      margin-left: -$icon-width;
      margin-top: 5px;
      width: 20px;
    }

    &__heading {
      @include typeSetting(4, regular);
      margin: 0;
    }
  }
}
