@mixin constrainedImage($ratio: 6 4) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "#{inspect($ratio)} must be a list with two values.";
  }

  padding-top: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;
}

@mixin constrainedImageInner {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin constrainedImageImage {
  -ms-interpolation-mode: bicubic; // <= IE7
  display: block;
  height: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
}
