<div class="b-facet-box__facet-container" style="background: black;">
  <div class="b-facet-box__facet b-facet-box__facet-date">
    <div class="b-facet-box__facet-text b-facet-box__facet-text--active">
      Dates
    </div>
    <div class="b-facet-box__facet-term-container b-facet-box__facet-term-container--active">
      <div class="b-date-facet__container">
        <div class="b-date-facet__container-start">
          <label class="b-date-facet__label">
            From year:
          </label>
          <input class="b-date-facet__input" placeholder="Year" type="text" name="after_year">
          <button class="b-date-facet__input-increment">^</button>
          <button class="b-date-facet__input-decrement">^</button>
        </div>
        <div class="b-date-facet__container-end">
          <label class="b-date-facet__label">
            To year:
          </label>
          <input class="b-date-facet__input" placeholder="Year" type="text" name="before_year">
        </div>
        <div class="b-date-facet__container-button">
          <label class="b-date-facet__label">
            &nbsp;
          </label>
          <button class="b-date-facet__button">
            <svg class="b-date-facet__button-icon" aria-label="apply-date-facet" role="img">
              <use xlink:href="/svg/vamicons.svg#search"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
