@use "../../base";
@use "../../mixins";

.s-imageload {
  &--error {
    overflow: hidden;
    position: relative;

    &::before {
      background-color: base.sitecolors-siteColor("vam-grey-2");
      content: "";
      display: block;
      padding-top: 100%;
      width: 100%;
    }

    &::after {
      @include base.typography-typeSetting(0);

      @include mixins.breakpoints-bpMinSmall {
        @include base.typography-typeSetting(2, "regular");
      }

      color: base.sitecolors-siteColor("vam-grey-4");
      content: "No image available";
      left: 0;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
    }
  }

  &--error-hidden {
    display: none !important; /* stylelint-disable-line declaration-no-important */
  }
}
