<div class="b-cookie-banner b-cookie-banner--hidden js-cookie-banner">
  <div class="b-cookie-banner__content">
    <div class="b-cookie-banner__content-text">
      We use cookies to enhance your experience on V&A websites. Read our <a href="" class="u-link">cookie policy</a> to find out more.
    </div>
    <div class="b-cookie-banner__close">
      <button class="b-cookie-banner__close-button js-cookie-banner-close" aria-label="Close cookie message">
        <svg role="img" class="b-cookie-banner__close-icon">
          <use xlink:href="/assets/svg/svg-template.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
