<div class="fr-bg--light fr-fullheight">
  <div class="b-cookie-banner">
    <div class="b-cookie-banner__content">
      We use cookies to enhance your experience on <strong>V&A websites.</strong> Read our <a href="" class="u-link">cookie policy</a> to find out more.
    </div>
    <button class="b-cookie-banner__close" aria-label="Close cookie message">
      <svg role="img" class="b-cookie-banner__close-icon">
        <use xlink:href="/assets/svg/svg-template.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
