@use "../../mixins";
@use "../../base";

.b-holding-page {
  margin: auto;
  max-width: 1440px;
  width: 100%;

  &-content {
    margin: 0 20px;
    position: absolute;
    top: 50px;

    @include mixins.breakpoints-bpMinSmall {
      margin: 0 50px;
      top: 100px;
    }
  }

  &-icon {
    color: white;
    height: 72px;
    margin-bottom: 0;
    width: 128px;

    @include mixins.breakpoints-bpMinSmall {
      height: 120px;
      margin-bottom: 20px;
      width: 200px;
    }
  }

  &-heading {
    @include base.typography-typeSetting(6, "regular");

    color: white;
    line-height: 2.5rem;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(8, "regular");

      line-height: 4rem;
    }
  }

  &-message {
    @include base.typography-typeSetting(3, "regular");

    color: white;
    line-height: 1.5rem;
    margin-bottom: 10px;
    max-width: 700px;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(5, "light");

      line-height: 2.25rem;
    }
  }

  &-return {
    @include base.typography-typeSetting(3, "light");

    color: white;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "light");
    }
  }

  &-info {
    margin-bottom: 40px;

    @include mixins.breakpoints-bpMinSmall {
      margin-bottom: 60px;
    }
  }
}
