<div class="b-image-background b-image-background--darker">
</div>
<div class="b-holding-page">
  <div class="b-holding-page-content">
    <svg role="img" class="b-holding-page-icon">
      <use xlink:href="/assets/svg/svg-template.svg#valogo"></use>
    </svg>
    <div class="b-holding-page-info">
      <h1 class="b-holding-page-heading">{{heading}}</h1>
      <div class="b-holding-page-message">{{explaination}}</div>
      <div class="b-holding-page-message">{{action}}</div>
    </div>
    <div class="b-holding-page-return">Go back to the <a href="https://www.vam.ac.uk" class="u-link">V&A website.</a></div>
  </div>
</div>