@use "../../mixins";
@use "../../base";
@use "sass:color";

.b-event-teaser {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 100%;

  &--venue {
    display: flex;
    flex-direction: column;

    .u-btn.u-btn--outlined {
      border: 1px solid base.sitecolors-siteColor("vam-black");

      &:hover,
      &:focus {
        background-color: base.sitecolors-siteColor("vam-grey-5");
        outline: none;
      }
    }
  }

  @include mixins.breakpoints-bpMinXSmall {
    margin-bottom: 32px;
    width: 50%;
  }

  @include mixins.breakpoints-bpMinMedium {
    width: 33.333%;

    &--venue {
      width: 50%;
    }
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    position: relative;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:hover + ul,
    &:focus + ul {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
    }

    &:hover h2,
    &:focus h2 {
      text-decoration: underline;
    }
  }

  &__media {
    margin-bottom: 6px;
    overflow: hidden;
    padding-top: 66.67%;
    position: relative;

    @include mixins.breakpoints-bpMinXSmall {
      margin-bottom: 10px;
    }

    &::after {
      background-image:
        linear-gradient(
          rgba(base.sitecolors-siteColor("vam-black"), 0.35),
          rgba(base.sitecolors-siteColor("vam-black"), 0)
        );
      content: "";
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.35s ease;
      width: 100%;
      z-index: 0;

      .b-event-teaser__link:hover &,
      .b-event-teaser__link:focus & {
        opacity: 1;
      }
    }

    &--fallback {
      filter: grayscale(1);
      opacity: 0.4;
    }
  }

  &__media-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.s-lazyload--error {
    margin-top: -66.67%;
    padding-top: 66.67% !important; /* stylelint-disable-line declaration-no-important */
  }

  &__sponsor {
    @include base.typography-typeSetting(0, "regular");

    background-color: color.scale(base.sitecolors-siteColor("vam-black"), $alpha: -60%);
    color: base.sitecolors-siteColor("vam-white");
    height: 32px;
    margin: -32px 0 0;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    color: base.sitecolors-siteColor("vam-black");
    padding-bottom: 20px;
    position: relative;

    &--venue {
      @include base.typography-typeSetting(4, "regular");

      flex-grow: 3;
      margin-bottom: 10px;

      @include mixins.breakpoints-bpMinXSmall {
        margin-bottom: 20px;
      }

      @include mixins.breakpoints-bpMinSmall {
        @include base.typography-typeSetting(5, "regular");
      }
    }

    @include mixins.breakpoints-bpMinXSmall {
      min-height: 310px;
    }

    @include mixins.breakpoints-bpMinSmall {
      min-height: 150px;
    }

    @include mixins.breakpoints-bpMinMedium {
      min-height: 210px;
      padding-bottom: 60px;

      &--venue {
        @include base.typography-typeSetting(5, "regular");

        margin-bottom: 15px;
      }
    }

    .b-event-teaser--venue & {
      .b-icon-list {
        &__item {
          margin-bottom: 15px;
        }

        &__content {
          margin-left: 0;
          padding-top: 5px;

          @include mixins.breakpoints-bpMinSmall {
            padding-top: 0;
          }
        }

        &__heading {
          @include base.typography-typeSetting(1, "regular");

          @include mixins.breakpoints-bpMinSmall {
            @include base.typography-typeSetting(4, "regular");
          }
        }
      }
    }
  }

  &__venue,
  &__label {
    @include base.typography-typeSetting(1, "regular");

    margin-bottom: 5px;
  }

  &__title {
    @include base.typography-typeSetting(5, "bold");

    margin: 1px 0 10px;

    &-icon {
      color: base.sitecolors-siteColor("vam-black");
      height: 14px;
      width: 14px;
    }

    &-container {
      align-items: baseline;
      column-gap: 5px;
      display: flex;
    }

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(5, "bold");
    }

    &--venue {
      @include base.typography-typeSetting(4, "bold");

      margin: 4px 0 8px;

      @include mixins.breakpoints-bpMinXSmall {
        margin: 10px 0;
      }
    }

    @include mixins.breakpoints-bpMinSmall {
      &--venue {
        @include base.typography-typeSetting(5, "bold");
      }
    }
  }

  &__data {
    @include base.typography-typeSetting(1, "light");

    color: base.sitecolors-siteColor("vam-grey-3");
  }

  &__type {
    display: flex;
    margin-bottom: 5px;
  }

  &__footer {
    bottom: 10px;
    display: none;
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;

    @include mixins.breakpoints-bpMinMedium {
      display: inline-block;
    }

    > .u-btn {
      @include base.typography-typeSetting(1);
    }

    .b-event-teaser--venue & {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-6");
      column-gap: 10px;
      display: flex;
      height: auto;
      list-style: none;
      margin-left: 0;
      padding: 0 6px 15px;
      position: static;

      .u-btn {
        column-gap: 6px;
        display: flex;
        margin: 10px 0;
      }

      .b-icon-list__icon {
        color: base.sitecolors-siteColor("vam-black");
        float: none;
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
}
