.b-event-teaser {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 100%;

  &--venue {
    display: flex;
    flex-direction: column;
  }

  .no-flexbox & {
    float: left;
  }

  @include bpMinXSmall {
    flex-basis: 50%;
    margin-bottom: 32px;
    max-width: 50%;

    .no-flexbox & {
      width: 50%;
    }
  }

  @include bpMinMedium {
    &--venue {
      flex-basis: 50%;
      max-width: 520px;
    }

    flex-basis: 33.333%;
    max-width: 33.333%;

    .no-flexbox & {
      width: 33.333%;
    }
  }

  .u-label-tag {
    z-index: 1;
  }

  &__link {
    display: block;
    position: relative;
  }

  &__media {
    margin-bottom: 6px;
    overflow: hidden;

    @include bpMinXSmall {
      margin-bottom: 10px;
    }

    &:after {
      background-image: linear-gradient(rgba(siteColor(vam-black), .35), rgba(siteColor(vam-black), 0));
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .35s ease;
      width: 100%;
      z-index: 0;

      .b-event-teaser__link:hover & {
        opacity: 1;
      }
    }

    &--fallback {
      filter: grayscale(1);
      opacity: .4;
    }
  }

  &__media,
  &__media:after,
  &__media-image {
    height: (.65 * 75vw);
    object-fit: cover;
    width: 100%;

    @include bpMinXSmall {
      height: (.65 * 44vw);
    }

    @include bpMinSmall {
      height: (.65 * 38vw);
    }

    @include bpMinMedium {
      height: (.65 * 28vw);
      max-height: 223px;
    }
  }

  &__media--venue,
  &__media--venue:after,
  &__media-image--venue {
    @include bpMinMedium {
      height: (.85 * 28vw);
      max-height: 346px;
    }
  }

  &__sponsor {
    @include typeSetting(0, regular);
    background-color: rgba(siteColor(vam-black), .4);
    color: siteColor(vam-white);
    height: 32px;
    margin: -32px 0 0;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__description {
    border-bottom: 1px solid siteColor(vam-grey-6);
    color: siteColor(vam-black);
    padding-bottom: 20px;
    position: relative;

    &--venue {
      flex-grow: 3;
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 10px;
    }

    @include bpMinXSmall {
      min-height: 200px;
    }

    @include bpMinSmall {
      min-height: 150px;
    }

    @include bpMinMedium {
      &--venue {
        font-size: 23px;
        margin-bottom: 20px;
      }
      min-height: 210px;
      padding-bottom: 60px;
    }

    .b-event-teaser__link:hover & {
      border-bottom: 1px solid siteColor(vam-grey-4);
    }
  }

  &__label {
    @include typeSetting(1, bold);
  }

  &__title {
    margin: 1px 0 10px;

    &-icon {
      height: 14px;
      margin-top: 1px;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;


      @include bpMinXSmall {
        margin-top: 5px;
      }

      @include bpMinMedium {
        height: 20px;
        margin-top: 4px;
        right: 5px;
        width: 20px;
      }
    }

    &-container {
      display: inline-flex;
      flex-direction: row;
      position: relative;
    }

    @include bpMinSmall {
      @include typeSetting(5, regular);
    }

    &--venue {
      font-size: 17px;
      font-weight: 700;
      margin: 10px 30px 8px 0;
      line-height: 1.24;
      @include bpMinXSmall {
        margin: 20px 30px 10px 0;
      }
    }

    @include bpMinMedium {
      &--venue {
        font-size: 23px;
      }
    }
  }

  &__data {
    @include typeSetting(2, regular);
    color: siteColor(vam-grey-3);
  }

  &__price {
    &::after {
      content: ' | ';
      margin: 0, .3em;
    }
  }

  &__footer {
    &--venue {
      @include bpMaxXSmall {
        position: relative;
      }

      display: inline-block;
      position: absolute;

      .u-btn:nth-of-type(2) {
        margin-right: 0;
      }

      .u-btn {
        width: calc(50% - 7px);
        @include bpMaxXSmall {
          padding: 15px 25px;
        }
        @include bpMinXSmall {
          width: auto;
        }
      }
    }
    bottom: 10px;
    display: none;
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 1;

    @include bpMinMedium {
      display: inline-block;
    }
  }
}
