<div class="b-event-teaser{% for m in modifiers %} b-event-teaser--{{ m }}{% endfor %}" itemscope itemprop="event" itemtype="http://schema.org/Event">

  <a class="b-event-teaser__link" itemprop="url" content="{{ eventUrl }}" href="{{ eventUrl }}">

    {% if eventTag %}
    {%- render "@label-tag--book-soon" -%}
    {% endif %}

    <div class="b-event-teaser__media">
      <img alt="{{ eventTitle }}"
           class="b-event-teaser__media-image"
           itemprop="image"
           sizes="(max-width: 499px) calc(100vw - 20px),
                  (min-width: 500px) calc(50vw - 40px),
                  (min-width: 992px) calc(33vw - 80px)"
           srcset="{% for k, img in eventImage %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
           src="{{ eventImage[640] }}"
           loading="lazy">

      {% if eventSponsorText %}
      <div class="b-event-teaser__sponsor" itemprop="sponsor" itemtype="http://schema.org/Organization">
        <span itemprop="name">
          {{ eventSponsorText }}
        </span>
      </div>
      {% endif %}
    </div>

    <div class="b-event-teaser__description">
      <span itemprop="description" content="{{ eventDescription }}"></span>
      <span itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name" content="Victoria and Albert Museum"></span>
        <span itemprop="address" content="Victoria and Albert Museum, Cromwell Road, London SW7 2RL, UK"></span>
      </span>

      <div class="b-event-teaser__type">
        {{ eventType }}
      </div>

      <h2 class="b-event-teaser__title" itemprop="name" content="{{ eventTitle }}">
        {{ eventTitle }}
      </h2>

      <div class="b-icon-list{% for m in modifiers %} b-icon-list--{{ m }}{% endfor %}">
        <ul class="b-icon-list__list">
          <li class="b-icon-list__item b-icon-list__icon b-icon-list__icon--calendar" title="Calendar timing">
            <div class='b-icon-list__content'>
              <meta itemprop="startDate" content="{{ eventMachineStartDate }}"/>
              <meta itemprop="endDate" content="{{ eventMachineEndDate }}"/>
              <p class="b-icon-list__item-text">{{ eventHumanDates }}</p>
            </div>
          </li>
          <li class="b-icon-list__item b-icon-list__icon b-icon-list__icon--pin" title="Venue location">
            <div class='b-icon-list__content'>
              <p class="b-icon-list__item-text">{{ eventVenue }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="b-icon-list{% for m in modifiers %} b-icon-list--{{ m }}{% endfor %}">
      <ul class="b-icon-list__list b-event-teaser__footer">
        <li class="b-icon-list__item b-icon-list__icon b-icon-list__icon--ticket" title="Admission fee">
          <div class='b-icon-list__content'>
            <meta itemprop="priceCurrency" content="GBP"/>
            <p class="b-icon-list__item-text" itemprop="price" content="{{ eventPrice }}">{{ eventPrice }}</p>
          </div>
        </li>
        <li class="b-icon-list__item">
          <div class="b-event-teaser__cta u-btn u-btn--micro {% if modifiers and 'dark' in modifiers %}u-btn--outlined-inverse{% else %}u-btn--outlined{% endif %}">
            More info
          </div>
        </li>
      </ul>
    </div>
  </a>
</div>
