<div class="b-event-teaser {% if isVenue %}b-event-teaser--venue{% endif %}" itemscope itemprop="{% if not isVenue %}event{% else %}place{% endif %}" itemtype="http://schema.org/{% if not isVenue %}Event{% else %}Place{% endif %}">

  <a class="b-event-teaser__link" itemprop="url" content="{{ eventUrl }}" href="{{ eventUrl }}">

    {% if eventTag %}
    {%- render "@label-tag--book-soon" -%}
    {% endif %}

    <div class="b-event-teaser__media {% if isVenue %}b-event-teaser__media--venue{% endif %} js-object-fit-container">
      <span itemprop="image" itemscope="" itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ eventImage[960] }}">
        <img alt="{{ eventTitle }}"
             class="b-event-teaser__media-image  {% if isVenue %}b-event-teaser__media-image--venue{% endif %}"
             itemprop="contentUrl"
             sizes="(max-width: 499px) calc(100vw - 20px),
                    (min-width: 500px) calc(50vw - 40px),
                    (min-width: 992px) calc(33vw - 40px)"
             srcset="{% for k, img in eventImage %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
             src="{{ eventImage[640] }}">
      </span>

      {% if eventSponsorText %}
      <div class="b-event-teaser__sponsor" itemprop="sponsor" itemtype="http://schema.org/Organization">
        <span itemprop="name">
          {{ eventSponsorText }}
        </span>
      </div>
      {% endif %}
    </div>

    <div class="b-event-teaser__description">
      {% if not isVenue %}
        <span itemprop="description" content="{{ eventDescription }}"></span>
        <span itemprop="location" itemscope itemtype="http://schema.org/Place">
          <span itemprop="name" content="Victoria and Albert Museum"></span>
          <span itemprop="address" content="Victoria and Albert Museum, Cromwell Road, London SW7 2RL, UK"></span>
        </span>
      {% endif %}

      <div class="b-event-teaser__label">
        {{ eventType }}
      </div>

      {% if not isVenue %}
      <div class="b-event-teaser__title-container">
        <h2 class="b-event-teaser__title {% if isVenue %}b-event-teaser__title--venue{% endif %}" aria-label="{{ eventTitle }}" itemprop="name" content="{{ eventTitle }}">
          {{ eventTitle }}
        </h2>
      </div>
      {% endif %}

      {% if isVenue %}
      <div class="b-event-teaser__title-container">
        <h2 class="b-event-teaser__title b-event-teaser__title--venue" aria-label="Pink Floyd: Their Mortal Remains" itemprop="name" content="Pink Floyd: Their Mortal Remains">
            Test Venue #02
        </h2>
        <svg class="b-event-teaser__title-icon"><use xlink:href="/assets/vamicons-e0a70cfe4d2c4a31896adb3ced6222f4ad44cdc7b356aa8ee46dde21949d7aaa.svg#link-external"></use></svg>
      </div>
      {% endif %}

      {% if isVenue %}
      <p class="b-event-teaser__description--venue" itemprop="description" content="{{ eventDescription }}">
        {{ eventDescription }}
      </p>

      <ul class='b-icon-list b-icon-list--venue'>
        {% if address %}
          <li class='b-icon-list__item b-icon-list__item--venue'>
            <svg role="presentation" class="b-icon-list__item__icon b-icon-list__item__icon--venue">
                <use xlink:href="/assets/svg/svg-template.svg#map"></use>
            </svg>
            <div class="b-icon-list__item__content">
                <div itemprop="address" class="b-icon-list__item__heading b-icon-list__item__heading--venue">{{ address }}</div>
            </div>
          </li>
        {% endif %}
        {% if admission_info %}
          <li class='b-icon-list__item b-icon-list__item--venue'>
            <svg role="presentation" class="b-icon-list__item__icon b-icon-list__item__icon--venue">
                <use xlink:href="/assets/svg/svg-template.svg#clock"></use>
            </svg>
            <div class="b-icon-list__item__content" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
              <div itemprop="description" class="b-icon-list__item__heading b-icon-list__item__heading--venue">{{ admission_info|safe }}</div>
            </div>
          </li>
        {% endif %}
      </ul>
      {% endif %}

      {% if eventPrice %}
      <div class="b-event-teaser__data">
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <link itemprop="url" href="#">
          <span itemprop="priceCurrency" content="GBP"></span>
          <span class="b-event-teaser__price" itemprop="price" content="2360">
            {{ eventPrice }}
          </span>
        </span>
        <span class="b-event-teaser__date">
          {{ eventHumanDates }}
        </span>
        <span itemprop="startDate" content="{{ eventMachineStartDate }}"></span>
        <span itemprop="endDate" content="{{ eventMachineEndDate }}"></span>
      </div>
      {% endif %}
    </div>
  </a>

  {% if not isVenue %}
    <div class="b-event-teaser__footer">
      {% for action in actions %}
      <a class="u-btn u-btn--micro u-btn--outlined" href="#">{{ action }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if isVenue %}
    <ul class="b-event-teaser__footer">
      {% for action in actions %}
      <li>
        <a class="u-btn u-btn--micro u-btn--outlined" href="#">{{ action }}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
