<div class="b-event-teaser{% for m in modifiers %} b-event-teaser--{{ m }}{% endfor %}" itemscope itemprop="event" itemtype="http://schema.org/Event">

  <a class="b-event-teaser__link" itemprop="url" content="{{ eventUrl }}" href="{{ eventUrl }}">

    {% if eventTag %}
    {%- render "@label-tag--book-soon" -%}
    {% endif %}

    <div class="b-event-teaser__media">
      <img alt="{{ eventTitle }}"
           class="b-event-teaser__media-image"
           itemprop="image"
           sizes="(max-width: 499px) calc(100vw - 20px),
                  (min-width: 500px) calc(50vw - 40px),
                  (min-width: 992px) calc(33vw - 80px)"
           srcset="{% for k, img in eventImage %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
           src="{{ eventImage[640] }}"
           loading="lazy">

      {% if eventSponsorText %}
      <div class="b-event-teaser__sponsor" itemprop="sponsor" itemtype="http://schema.org/Organization">
        <span itemprop="name">
          {{ eventSponsorText }}
        </span>
      </div>
      {% endif %}
    </div>

    <div class="b-event-teaser__description">
      <span itemprop="description" content="{{ eventDescription }}"></span>
      <span itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name" content="Victoria and Albert Museum"></span>
        <span itemprop="address" content="Victoria and Albert Museum, Cromwell Road, London SW7 2RL, UK"></span>
      </span>

      <div class="b-event-teaser__type">
        {{ eventType }}
      </div>

      <h2 class="b-event-teaser__title" itemprop="name" content="{{ eventTitle }}">
        {{ eventTitle }}
      </h2>

      <div class='b-event-teaser__data'>
        <svg class="b-event-teaser__data__icon" aria-hidden="true">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#calendar"></use>
        </svg>
        <meta itemprop="startDate" content="{{ eventMachineStartDate }}"/>
        <meta itemprop="endDate" content="{{ eventMachineEndDate }}"/>
        {{ eventHumanDates }}
      </div>
      <div class='b-event-teaser__data'>
        <svg class="b-event-teaser__data__icon" aria-hidden="true">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#pin"></use>
        </svg>
        {{ eventVenue }}
      </div>
    </div>

    <div class="b-event-teaser__footer">
      <div class='b-event-teaser__data'>
        <svg class="b-event-teaser__data__icon" aria-hidden="true">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#ticket"></use>
        </svg>
        <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="GBP"/>
          <span itemprop="price" content="{{ eventPrice }}">{{ eventPrice }}</span>
        </span>
      </div>
      <div class="b-event-teaser__footer__buttons">
        <div class="u-btn u-btn--micro {% if modifiers and 'dark' in modifiers %}u-btn--outlined-inverse{% else %}u-btn--outlined{% endif %}" href="#">
          More info
        </div>
      </div>
    </div>
  </a>
</div>
