.b-search-result-object {
  display: inline-block;
  margin: 0 2px;
  max-width: 200px;
  min-width: 100px;
  width: calc(20% - 4px);

  &__content {
    max-width: 130px;
    min-width: 100px;

    &-credit {
      @include typeSetting(2);
      color: siteColor(vam-grey-2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include bpMinSmall {
        @include typeSetting(2, normal);
      }
    }

    &-image {
      height: 130px;
      margin-bottom: 8px;
      object-fit: cover;
      width: 100%;
    }

    &-title {
      @include typeSetting(2, bold);
      color: siteColor(vam-grey-2);
      max-height: 32px;
      overflow: hidden;
      text-overflow: clip;
      white-space: normal;

      @include bpMinSmall {
        max-height: 38px;
      }
    }
  }
}
