.b-search-result-object {
  display: inline-block;
  margin: 0 5px;

  &__content {
    width: 100px;

    &--credit {
      @include typeSetting(1, normal);
      color: siteColor(vam-grey-2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--image {
      height: 100px;
      margin-bottom: 8px;
      width: 100%;
    }

    &--title {
      @include typeSetting(1, bold);
      color: siteColor(vam-grey-2);
      height: 32px;
      overflow: hidden;
      text-overflow: clip;
      white-space: normal;
    }
  }
}
