@use "../../mixins";
@use "../../base";

.b-toggle-nav {
  margin: 0 0 32px;
  overflow: hidden;
  position: relative;

  @include mixins.breakpoints-bpMinSmall {
    margin: 0 0 64px;
  }

  @include mixins.breakpoints-bpMinLarge {
    padding: 0 40px;
  }

  &__list {
    @include mixins.unstyledelements-unstyledList;

    display: flex;
    gap: 2px;
    padding: 4px 0;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    // .cssscrollbar & {
    //   overflow: auto;
    //   white-space: nowrap;
    // }
  }

  &__item {
    display: inline-block;
    margin: 0;
  }

  &__button {
    margin: 6px;
    white-space: nowrap;
  }
}
