<div class="b-image-carousel" data-images='{
  "images": [
    {
      "alt": "The Miraculous Draught of Fishes",
      "imageId": "2006AN5938",
      "ref": "1",
      "copyright": "Copyright notice 1"
    },
    {
      "alt": "Christs Charge to Peter",
      "imageId": "2006AT7784",
      "ref": "2",
      "copyright": "Copyright notice 2"
    },
    {
      "alt": "The Healing of the Lame Man",
      "imageId": "2006AN5917",
      "ref": "3",
      "copyright": "Copyright notice 3"
    },
    {
      "alt": "The Death of Ananias",
      "imageId": "2006AT7795",
      "ref": "4",
      "copyright": "Copyright notice 4"
    },
    {
      "alt": "The Conversion of the Proconsul also known as The Blinding of Elymas",
      "imageId": "2006AH9360",
      "ref": "5",
      "copyright": "Copyright notice 5"
    },
    {
      "alt": "The Sacrifice at Lystra",
      "imageId": "2006AH9363",
      "ref": "6",
      "copyright": "Copyright notice 6"
    },
    {
      "alt": "Paul Preaching at Athens",
      "imageId": "2006AT3616",
      "ref": "7",
      "copyright": "Copyright notice 7"
    }
  ]
}' data-image-id="">
  <div class="b-image-carousel__prevnext">
    <button class="b-image-carousel__prev" disabled title="Previous image" aria-label="Previous">
      <svg role="presentation" aria-hidden="true">
        <use xlink:href="/assets/svg/svg-template.svg#point-left"></use>
      </svg>
    </button>
    <div class="b-image-carousel__conceal-left"></div>
    <div class="b-image-carousel__image-carousel"></div>
    <div class="b-image-carousel__conceal-right"></div>
    <button class="b-image-carousel__next" title="Next image" aria-label="Next">
      <svg role="presentation" aria-hidden="true">
        <use xlink:href="/assets/svg/svg-template.svg#point-right"></use>
      </svg>
    </button>
  </div>
</div>
