<div class="b-image-carousel" data-images='{
  "images": [
    {
      "alt": "A Research Institute made of Lego.",
      "src": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "ref": "1",
      "copyright": "Copyright notice 1"
    },
    {
      "alt": "Cartoon for a tapestry",
      "src": "https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df6cf596/1280.jpg",
      "thumb": "https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df6cf596/1280.jpg",
      "ref": "2",
      "copyright": "Copyright notice 2"
    },
    {
      "alt": "A Research Institute made of Lego.",
      "src": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "ref": "3",
      "copyright": "Copyright notice 3"
    },
    {
      "alt": "A Research Institute made of Lego.",
      "src": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "ref": "4",
      "copyright": "Copyright notice 4"
    },
    {
      "alt": "A Research Institute made of Lego.",
      "src": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2010EA/2010EA6470_jpg_l.jpg",
      "ref": "5",
      "copyright": "Copyright notice 5"
    }
  ]
}'>
    <div class="b-image-carousel__prevnext">
        <div class="b-image-carousel__navigation-container">
           <button href="#" class="b-image-carousel__prev" disabled title="Previous image" aria-label="Previous">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#point-left"></use>
                </svg>
            </button>
        </div>
        <div class="b-image-carousel__conceal-left"></div>
        <div class="b-image-carousel__image-carousel"></div>
        <div class="b-image-carousel__conceal-right"></div>
        <div class="b-image-carousel__navigation-container">
            <button  href="#" class="b-image-carousel__next b-image-carousel__next--enabled" title="Next image" aria-label="Next">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#point-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
