@use "../../mixins";
@use "../../base";

.b-image-carousel {
  background: base.sitecolors-siteColor("vam-black");
  display: block;
  position: relative;
  width: 400px;

  @include mixins.breakpoints-bpMinLarge {
    width: 710px;
  }

  &__conceal-left,
  &__conceal-right {
    content: "";
    height: 100px;
    position: absolute;
    top: 0;
    width: 68px;
    z-index: 1;
  }

  &__conceal-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0%), base.sitecolors-siteColor("vam-black"));
    left: 0;
  }

  &__conceal-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0%), base.sitecolors-siteColor("vam-black"));
    right: 0;
  }

  &__prevnext {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__image-carousel {
    display: none;

    @include mixins.breakpoints-bpMinMedium {
      align-items: center;
      display: flex;
      flex-direction: row;
      max-width: 710px;
      padding: 5px;
      position: relative;
    }
  }

  &__image-preview {
    height: 91%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
  }

  &__image-preview-container {
    height: 91px;
    margin: 0 12px 0 0;
    min-width: 110px;
    position: relative;

    &:hover {
      cursor: pointer;
      opacity: 0.3;
    }

    &--selected {
      transform: scale(1.2);
    }
  }

  &__prev,
  &__next {
    display: inline-flex;
    margin: 0 12px;
    z-index: 1;

    &--mobile {
      margin: 0 12px 0 0;
    }
  }
}
