.b-image-carousel {
  background: siteColor(vam-black);
  display: block;
  position: relative;
  text-align: right;
  width: 400px;

  &__conceal-left {
    background-image: linear-gradient(to left, rgba(29, 30, 32, 0), #1d1e20);
    left: 20px;

    @include bpMinLarge {
      left: 50px;
    }
    width: 0;
  }

  &__conceal-left, &__conceal-right {
    @include bpMinLarge {
      width: 140px;
    }

    content: '';
    height: 100px;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 1;
  }

  &__conceal-right {
    @include bpMinLarge {
      width: 140px;
    }
    background-image: linear-gradient(to right, rgba(29, 30, 32, 0), #1d1e20);

    right: 20px;

    @include bpMinLarge {
      right: 50px;
    }

    width: 80px;
  }

  @include bpMinLarge {
    width: 710px;
  }

  &__prevnext {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__navigation-container {
    align-self: center;
    flex: 1 0 auto;
    margin: 0 12px;
    position: relative;
    text-align: center;
  }

  &__image-carousel {
    @include bpMinMedium {
      align-items: center;
      display: flex;
      flex-direction: row;
      max-width: 710px;
      padding: 5px;
      position: relative;
    }

    display: none;
  }

  &__image-preview {
    height: 91%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
  }

  &__image-preview-container {
    height: 91px;
    margin: 0 12px 0 0;
    min-width: 110px;
    position: relative;
    &:hover {
      background-color: #b7b8bd;
      cursor: pointer;
    }
    &--selected {
      background-color:  siteColor(vam-white);
    }
  }

  &__prev,
  &__next {
    border: 1px solid siteColor(vam-white);
    border-radius: 100%;
    color: siteColor(vam-white);
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    opacity: 1;
    width: 30px;

    &[disabled] {
      border: 1px solid siteColor(vam-grey-5);
      color: siteColor(vam-grey-5);
      cursor: default;
      opacity: .4;
      &:hover {
        background: inherit;
        svg {
          color: inherit;
        }
      }
    }

    svg {
      height: 12px;
      margin: auto;
      width: 12px;
    }

    &:hover {
      background: siteColor(vam-white);
      svg {
        color: siteColor(vam-black);
      }
    }
  }
}
