@use "../../mixins";
@use "../../base";

.b-image-carousel {
  background: base.sitecolors-siteColor("vam-black");
  display: block;
  position: relative;
  width: 400px;

  @include mixins.breakpoints-bpMinLarge {
    width: 710px;
  }

  &__conceal-left,
  &__conceal-right {
    content: "";
    height: 100px;
    position: absolute;
    top: 0;
    width: 68px;
    z-index: 1;
  }

  &__conceal-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0%), base.sitecolors-siteColor("vam-black"));
    left: 0;
  }

  &__conceal-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0%), base.sitecolors-siteColor("vam-black"));
    right: 0;
  }

  &__prevnext {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__image-carousel {
    display: none;

    @include mixins.breakpoints-bpMinMedium {
      align-items: center;
      display: flex;
      flex-direction: row;
      max-width: 710px;
      padding: 5px;
      position: relative;
    }
  }

  &__image-preview {
    height: 91%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 91%;
  }

  &__image-preview-container {
    height: 91px;
    margin: 0 12px 0 0;
    min-width: 110px;
    position: relative;

    &:focus {
      @include mixins.focus-defaultFocus;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.3;
    }

    &--selected {
      transform: scale(1.2);
    }
  }

  &__prev,
  &__next {
    border: 1px solid base.sitecolors-siteColor("vam-white");
    border-radius: 100%;
    color: base.sitecolors-siteColor("vam-white");
    display: inline-flex;
    flex: none;
    height: 30px;
    margin: 0 12px;
    opacity: 1;
    width: 30px;
    z-index: 2;

    &--mobile {
      height: 44px;
      margin: 0 12px 0 0;
      width: 44px;

      svg {
        height: 14px;
        pointer-events: none;
        width: 14px;
      }
    }

    svg {
      height: 12px;
      margin: auto;
      pointer-events: none;
      width: 12px;
    }

    &:hover {
      background: base.sitecolors-siteColor("vam-white");

      svg {
        color: base.sitecolors-siteColor("vam-black");
      }
    }

    &[disabled] {
      border: 1px solid base.sitecolors-siteColor("vam-grey-5");
      color: base.sitecolors-siteColor("vam-grey-5");
      cursor: default;
      opacity: 0.4;

      &:hover {
        background: inherit;

        svg {
          color: inherit;
        }
      }
    }
  }
}
