<div class="b-image-carousel" data-images='{
  "images": [
        {
          "src": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1057_jpg_l.jpg",
          "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1057_jpg_l.jpg",
          "alt": "Ring image 1 of 4"
        }  ,

        {
          "src": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1056_jpg_l.jpg",
          "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1056_jpg_l.jpg",
          "alt": "Ring image 2 of 4"
        }  ,

        {
          "src": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1055_jpg_l.jpg",
          "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1055_jpg_l.jpg",
          "alt": "Ring image 3 of 4"
        }  ,

        {
          "src": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1054_jpg_l.jpg",
          "thumb": "https://media.vam.ac.uk/media/thira/collection_images/2011EN/2011EN1054_jpg_l.jpg",
          "alt": "Ring image 4 of 4"
        }
      ]
}'>
    <div class="b-image-carousel__prevnext">
        <div class="b-image-carousel__navigation-container">
           <button href="#" class="b-image-carousel__prev" disabled title="Previous image" aria-label="Previous">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#point-left"></use>
                </svg>
            </button>
        </div>
        <div class="b-image-carousel__conceal-left"></div>
        <div class="b-image-carousel__image-carousel"></div>
        <div class="b-image-carousel__conceal-right"></div>
        <div class="b-image-carousel__navigation-container">
            <button  href="#" class="b-image-carousel__next b-image-carousel__next--enabled" title="Next image" aria-label="Next">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#point-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
