<!DOCTYPE html>

<html lang="en-gb" dir="ltr" prefix="og: http://ogp.me/ns#">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no">

    <title>V&amp;A</title>

    <link rel="stylesheet" href="{{ '/assets/styles/vam-style.css' | path }}"/>
    <link rel="stylesheet" href="{{ '/assets/styles/preview.css' | path }}"/>

  </head>

  <body class="{% if _target.context.ignore_global_theme !== true %}theme-{{ global_theme_color }}{%- endif -%}">
    {{ yield }}
  </body>
</html>
