.b-input-select {
  background: siteColor(vam-white);
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  z-index: 1;

  &::after {
    border: 5px solid transparent;
    border-top: 7px solid siteColor(vam-black);
    content: '';
    display: inline-block;
    margin-top: -4px;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: -1;
  }
}

.b-input-select-field {
  @include typeSetting(3, normal);
  appearance: none;
  background-color: transparent;
  border: 1px solid siteColor(vam-black);
  border-radius: 2px;
  color: siteColor(vam-black);
  cursor: pointer;
  display: block;
  margin: 0;
  outline: none;
  padding: 12px 41px 12px 17px;
  position: relative;
  width: 100%;

  &::-ms-expand {
    display: none;
  }
  
  & option {
    background-color: siteColor(vam-white);
    line-height: 50px;
    outline: none;
  }
}
