@use "../../base/site-color/site-color";

@mixin defaultFocus {
  box-shadow: 0 0 0 2px #1d1e20, 0 0 0 4px #e6ff02;
  outline: 0;
}

@mixin inverseFocus {
  box-shadow: 0 0 0 2px #e6ff02, 0 0 0 4px #1d1e20;
  outline: 0;
}

@mixin insetFocus {
  box-shadow: inset 0 0 0 2px #1d1e20, inset 0 0 0 4px #e6ff02;
  outline: 0;
}

@mixin inlineFocus {
  background-color: #e6ff02;
  box-shadow: 0 0 0 2px #e6ff02;
  color: site-color.siteColor("vam-black");
  outline: 0;
  text-decoration-thickness: 2px;
  text-shadow: none;

  &:hover {
    color: site-color.siteColor("vam-black");
  }
}

@mixin disableFocus {
  box-shadow: none;
  outline: 0;
}

@mixin raisedPseudoFocus {
  /* when default focus style is clipped we can employ
   * a raised pseudo element on which to apply focus style */
   position: relative;

   &::before {
     content: '';
     inset: 0;
     position: absolute;
     z-index: 1;
   }

   &:focus-visible {
     @include disableFocus;

     &::before {
       @include insetFocus;
     }
   }
  }
