<div class="example-focus" style="background-color: black;">
  <h1 style="color: white;">Link Examples</h1>

  <a href="#" class="u-btn">
      Click me
  </a>

  <p style="color: white;">This <a href="#" class="u-link" style="color: white">link</a> is for use inside a body of text</p>

  <h1 style="color: white;">Input Example</h1>

  <button class="u-btn u-btn--micro b-image-overlay-license-modal__open-button b-image-overlay-license-modal__download-button">
    Download image
  </button>
  <br>
  <input aria-invalid="false" type="text" placeholder="Enter your email address" name="Email" class="js-emailValidation b-newsletter__form-fields-field">

  <h1 style="color: white;">Tab Index Examples</h1>
  <a class="b-beta-tag">
      <div tabindex="0" class="b-beta-tag__tag div-focus-example">
          <span class="b-beta-tag__text">
              BETA
          </span>
      </div>
  </a>


</div>

<div class="example-focus">
  <h1>Link Examples</h1>

  <a href="#" class="u-btn">
      Click me
  </a>

  <p>This <a href="#" class="u-link">link</a> is for use inside a body of text</p>

  <h1>Input Example</h1>

  <button class="u-btn u-btn--micro b-image-overlay-license-modal__open-button b-image-overlay-license-modal__download-button">
    Download image
  </button>
  <br>
  <input aria-invalid="false" type="text" placeholder="Enter your email address" name="Email" class="js-emailValidation b-newsletter__form-fields-field">

  <h1>Tab Index Examples</h1>
  <a class="b-beta-tag">
      <div tabindex="0" class="b-beta-tag__tag div-focus-example">
          <span class="b-beta-tag__text">
              BETA
          </span>
      </div>
  </a>

</div>
