@use "../../mixins";
@use "../../base";

.b-object-image-overlay {
  display: none;

  &--active {
    animation: opacity-fade-in .34s;
    display: block;
    inset: 0;
    position: fixed;
    z-index: 100; // needs to go over site-nav
  }

  &__items {
    display: flex;
    height: 100%;
    position: relative;
    width: 300vw;
  }

  &__item {
    background-color: base.sitecolors-siteColor("vam-black");
    color: base.sitecolors-siteColor("vam-white");
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    float: left;
    gap: 8px;
    height: 100%;
    overflow: auto;
    padding: 40px 10px 10px;
    position: relative;
    width: 100vw;

    @include mixins.breakpoints-bpMinXSmall {
      padding: 50px 20px 20px;
    }

    @include mixins.breakpoints-bpMinSmall {
      padding: 40px 40px 20px;
    }

    @include mixins.breakpoints-bpMinMedium {
      flex-direction: row;
      gap: 20px;
      padding: 40px;
    }

    @media (pointer: coarse) {
      transition: margin .35s ease;
    }

    &:first-of-type {
      margin-left: -100vw;
    }
  }

  &--img-only &__item {
    gap: 8px;
  }

  &__img-pane {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    max-height: 70%;
    
    @include mixins.breakpoints-bpMinSmall {
      max-height: 78%;
    }
    
    @include mixins.breakpoints-bpMinMedium {
      flex-basis: 66%;
      max-height: 100%;
    }
    
    @include mixins.breakpoints-bpMinLarge {
      flex-basis: 72%;
    }
  }

  &__img {
    max-height: 100%;
    max-width: 100%;
  }

  // in case failed img replaced with div by s-imageload
  div#{&}__img {
    aspect-ratio: 1;
    height: 60%;
  }

  &--img-only &__img-pane {
    flex-basis: auto;
    max-height: 94%;

    @include mixins.breakpoints-bpMinMedium {
      max-height: 100%;
    }
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    max-height: 40%;

    @include mixins.breakpoints-bpMinMedium {
      flex-basis: 340px;
      justify-content: flex-start;
      max-height: none;
    }
    
    @include mixins.breakpoints-bpMinXLarge {
      flex-basis: 480px;
    }
  }

  &--img-only &__content {
    flex: 0 0 0;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    @include mixins.breakpoints-bpMinMedium {
      margin-bottom: 24px;
    }
  }

  &__header {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }

  &__caption {
    @include base.typography-typeSetting(4);

    @include mixins.breakpoints-bpMaxSmall {
      @include base.typography-typeSetting(3);

      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      overflow: hidden;
    }
  }

  &__dismiss {
    --btn-bg: #{base.sitecolors-siteColor("vam-grey-1")};
    --btn-border: #{base.sitecolors-siteColor("vam-grey-1")};
    --btn-bg-hover: #{base.sitecolors-siteColor("vam-grey-2")};

    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      right: 20px;
    }

    @include mixins.breakpoints-bpMinSmall {
      right: 40px;
    }
    
    @include mixins.breakpoints-bpMinMedium {
      position: relative;
      right: 0;
      top: 0;
    }
  }

  &__number {
    display: none;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(2);

      display: block;
      margin-top: 12px;
    }
  }

  &__location {
    @include base.typography-typeSetting(2);

    align-items: flex-start;
    display: flex;
    gap: 4px;

    &::before {
      background-color: currentColor;
      content: '';
      flex: 0 0 auto;
      height: 16px;
      margin-top: 1px;
      mask: url("#{base.$icons-svgSpritePath}#pin-view") no-repeat;
      width: 16px;
    }
  
    &--room::before {
      mask: url("#{base.$icons-svgSpritePath}#signpost-view") no-repeat;
    }

    > a {
      text-decoration: underline;
    }
  }

  &__more {
    display: flex;
    flex-direction: column;

    @include mixins.breakpoints-bpMinMedium {
      flex: 1 0 0;
      justify-content: space-between;
    }
  }

  &__onward {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__location-type {
    @include base.typography-typeSetting(2);
    
    background-color: base.sitecolors-siteColor("vam-grey-2");
    border-radius: 2px;
    padding: 2px 5px 3px;
  }
  
  &__cta {
    @include base.typography-typeSetting(1);

    border: 1px solid base.sitecolors-siteColor("vam-grey-2");
    border-radius: 2px;
    margin: 0 0 0 auto;
    padding: 4px 8px;
  }

  &__footer {
    align-items: center;
    border-top: 1px solid base.sitecolors-siteColor("vam-grey-3");
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8px;
    padding-top: 8px;
    
    @include mixins.breakpoints-bpMinMedium {
      align-items: flex-start;
      flex: 1 0 0;
      flex-direction: column;
      margin-top: 12px;
      padding-top: 12px;
    }
  }

  &__copyright {
    @include base.typography-typeSetting(1);
  }

  &__buttons {
    display: flex;
    flex-shrink: 0;
    gap: 8px;
    justify-content: flex-end;

    @include mixins.breakpoints-bpMinMedium {
      align-self: flex-end;
    }
  }

  &--img-only &__details,
  &--img-only &__footer {
    margin: 0;
  }

  &--img-only &__caption,
  &--img-only &__location,
  &--img-only &__onward,
  &--img-only &__copyright {
    display: none;
  }

  &--img-only &__header,
  &--img-only &__footer {
    border: none;
    justify-content: flex-end;
  }
}
