<div class="b-accordion">
  {% for n in [1, 2, 3] %}
  <details class="b-accordion__section">
    <summary class="b-accordion__section-header">
      Section heading can be long enough to wrap
    </summary>
    <div class="b-accordion__section-content">
      <p>section content section content section content section content section content section content section content section content section content section content section content section content</p>
      <p>section content section content section content section content section content section content section content section content section content section content section content section content</p>
    </div>
  </details>
  {% endfor %}
</div>
