@use "../../mixins";

.b-exhibition-promo {
  &__list {
    @include mixins.unstyledelements-unstyledList;

    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @include mixins.breakpoints-bpMinMedium {
      column-gap: 20px;
      flex-direction: row;
    }
  
    @include mixins.breakpoints-bpMinLarge {
      column-gap: 30px;
    }
  }
}
