.b-story-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__col-break {
    flex-basis: 100%;
    height: 24px;

    @include bpMinSmall {
      flex-basis: auto;
      height: 0;
    }
  }
  &__row-break {
    flex-basis: 100%;
    height: 24px;
  }
}
