.b-story-box-container {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &-background {
    background-color: siteColor(vam-grey-1);
  }
  max-width: 712px;
  &__story-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__reveal-container {
    margin-top: 50px;
    display: none;
    &--active {
      display: block;
    }
  }

  &__col-break {
    @include bpMinXSmall {
      flex-basis: 12px;
    }
    @include bpMinSmall {
      flex-basis: 12px;
    }
  }
}
