.s-lazyload {
  width: 100%;

  &--blur {
    filter: blur(.3rem);
    height: auto;
  }

  &--error {
    // sass-lint:disable no-important
    display: block !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    overflow: hidden !important;
    padding-top: 100% !important;
    position: relative !important;
    visibility: hidden !important;
    // sass-lint:enable no-important

    &::before {
      background-color: #505354;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='264' height='265'%3E%3Cpath fill='%235E6264' d='M716.053 357.187c-.828-.135-3.57-.438-7.864-.79-21.023-1.709-43.996-6.04-57.657-41.826-4.384-11.466-177.006-463.622-178.138-466.637-1.298-3.452-4.537-3.36-5.673.114C465.751-148.978 420-11.921 420-11.921l119.075 331.115c2.088 6.15 4.123 12.235 4.123 16.91 0 5.92-3.952 12.703-10.616 15.885-5.26 2.508-15.27 3.841-22.976 4.492-2.426.202-4.499.415-6.69.738-2.412.354-3.382 2.447-3.382 4.29 0 2.256 1.674 3.884 4.124 3.884h212.666c1.784 0 3.676-1.672 3.676-3.622 0-3.323-1.983-4.256-3.945-4.584h-.002zm-450.205-495.02c2.334-.128 4.152-1.433 4.152-3.816 0-2.517-1.917-3.903-3.716-3.903l-100.066-.035c-2.34 0-5.047.714-5.047 3.89 0 1.609.664 3.421 3.737 3.837 2.323.31 7.643.644 13.577 1.064 14.312 1.014 19.812 2.524 23.923 8.514 3.859 5.629 1.784 15.626-2.564 27.52C195.51-88.916 80.33 210.1 80.33 210.1h-.465c-1.386-4.37-92.63-294.868-96.59-307.41-3.954-12.546-5.544-21.378-3.502-26.227 3.726-8.848 11.148-11.956 29.657-13.247 2.543-.177 3.72-.273 6.039-.474 2.434-.212 3.817-2.377 3.293-5.022-.545-2.758-2.13-3.328-5.113-3.328l-192.723.013c-1.773 0-3.72 1.197-3.908 3.678-.152 1.962.756 3.066 1.92 3.603 1.135.522 4.52.967 10.869 1.424 14.104 1.008 18.662 2.222 23.876 4.747 10.578 5.121 17.82 18.85 21.433 29.804 3.614 10.952 153.313 466.707 153.788 468.097.725 2.132 3.768 2.21 4.68.046.922-2.202 186.482-473.826 189.145-480.399 2.288-5.64 5.967-13.115 12.241-16.851 6.226-3.713 14.382-5.487 30.879-6.389zm202.009 463.455c-4.105-1.297-6.663 1.29-9.676 8.501-3.495 8.36-11.03 10.625-18.276 10.625-13.551 0-27.194-15.708-37.326-31.694-.554-.879-6.307-10.009-14.947-23.736 21.995-30.94 34.536-67.158 40.287-91.07 1.982-8.245 4.912-20.706 9.291-25.88 6.07-7.167 12.708-9.234 22.294-10.205 4.158-.42 6.006-.625 7.565-1.088 2.164-.647 2.79-2.722 2.593-4.239-.298-2.281-1.894-3.284-3.596-3.284l-83.782-.015c-2.79 0-4.053 1.817-4.053 3.995 0 2.046 1.325 3.197 3.235 3.662 1.325.323 3.692.563 5.299.648 10.498.55 18.169 1.752 22.957 4.977 7.72 5.197 6.97 13.311 5.509 24.37-3.276 24.698-15.667 61.106-33.69 88.466-32.784-52.072-92.28-146.581-92.28-146.581s24.633-12.948 41.353-22.678c16.316-9.494 41.282-28.582 41.282-59.793 0-18.507-10.469-32.884-24.797-42.472-14.73-9.854-36.795-17.738-61.841-17.738-31.222 0-64.602 11.6-82.687 40.638-17.469 28.04-12.958 68.987 7.593 103.232 5.553 9.251 11.646 18.6 11.646 18.6-7.303 2.645-16.369 6.626-24.014 10.142C156.254 182.53 121 218.98 121 269.002c0 55.643 40.89 100.391 116.26 100.391 41.098 0 74.967-13.198 101.963-32.717 12.442 17.081 35.475 29.901 68.574 29.901 31.405 0 56.274-18.501 62.71-33.654 1.096-2.587.43-6.328-2.65-7.298v-.003zm-219.6-312.99c6.418-9.37 16.02-13.239 28.885-13.239 17.48 0 38.858 16.57 38.858 58.393 0 26.289-13.086 51.549-34.126 65.607 0 0-18.144-28.462-28.546-48.329-9.107-17.405-17.48-44.317-5.07-62.431zm-64.255 226.216c0-25.113 8.67-57.837 40.307-78.455l.038.06-.038-.06.096.153c.052.08.122.195.216.337C293.615 268.974 297.458 275.19 331 327.47c-14.743 9.947-31.093 15.922-47.439 15.922-55.885 0-99.561-52.662-99.561-104.543l.002-.002z'/%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      padding-top: 100%;
      position: absolute;
      top: 0;
      visibility: visible;
      width: 100%;
    }

    &::after {
      @include typeSetting(4, bold);
      color: #fff;
      content: 'Image unavailable';
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(0, -50%);
      visibility: visible;
      width: 100%;
    }
  }

  &--abort {
    display: none !important; // sass-lint:disable-line no-important
  }
}
