<h1>Classes for use in the mechanism for lazy-loading responsive images</h1>
See <em>vam-scripts.js</em> for LazyLoad implementation.

<br><br>
<h2>s-lazyload--blur</h2>
to be applied by LazyLoad to low-res image thumbnails while their full-size images are loaded. 
<img class="s-lazyload s-lazyload--blur" src="https://media.vam.ac.uk/media/thira/collection_images/2006AA/2006AA7299.jpg" alt="image alt text">

<br><br>
<h2>s-lazyload--error</h2>
to be applied by LazyLoad in the event of an error
<img class="s-lazyload" data-srcset="image-missing" alt="image alt text">
