{% if not css_icon_example %}

<div class="fr-icon-group">
  {% for icon in icons %}
  <div class="fr-icon-box">
    <svg role="img" class="fr-icon-box__icon">
      <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#{{ icon }}"></use>
    </svg>
    <p class="fr-icon-box__name">{{ icon }}</p>
  </div>
  {% endfor %}
</div>

{% else %}

<div class="fr-css-icon-fragment-identifier-example fr-css-icon-fragment-identifier-example--pin" title="Description of Icon's meaning">
  Icon accessed in CSS from the SVG sprite-sheet using the symbol fragment identifier.
</div>

{% endif %}