.b-event-feature {
  box-sizing: border-box;
  margin: 0 10px 10px;
  overflow: hidden;
  position: relative;

  @include bpMinSmall {
    margin-bottom: 20px;

    &--half-width-fixed,
    &--third-width:nth-of-type(n+2) {
      float: left;
      width: calc(50% - 20px);
    }
  }

  @include bpMinMedium {
    &--half-width {
      float: left;
      width: calc(50% - 20px);
    }
    &--third-width:nth-of-type(n+0) {
      float: left;
      width: calc(33.33% - 20px);
    }
  }

  &__media {
    @include constrainedImage(300 344);
    min-height: 300px;

    @include bpMinSmall {
      min-height: 545px;

      .b-event-feature--half &,
      .b-event-feature--half-width-fixed &,
      .b-event-feature--third-width & {
        min-height: 400px;
      }
    }
  }

  &__media-inner {
    @include constrainedImageInner;

    &:after {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8), rgba(0, 0, 0, .9));
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      opacity: .7;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .35s ease;
      width: 100%;
      z-index: 0;

      .b-event-feature__link:hover &,
      .b-event-feature__link:focus & {
        opacity: 1;
      }
    }
  }

  &__media-image {
    @include constrainedImageImage;
  }

  &__content {
    bottom: 0;
    left: 0;
    margin: 10px 10px 0;
    position: absolute;
    right: 0;
    top: 0;

    @include bpMinSmall {
      margin: 14px 10px;
    }
  }

  &__info {
    bottom: 0;
    color: siteColor(vam-white);
    left: 0;
    margin: 10px;
    position: absolute;
    text-shadow: 0 1px 2px rgba(siteColor(vam-black), .5);
  }

  &__type {
    @include typeSetting(1, bold, uppercase);
    margin: 0 0 6px;

    @include bpMinSmall {
      @include typeSetting(3, bold, uppercase);

      .b-event-feature--half-width-fixed &,
      .b-event-feature--half-width:nth-of-type(n+2) &,
      .b-event-feature--third-width:nth-of-type(n+2) & {
        @include typeSetting(1, bold, uppercase);
      }
    }

    @include bpMinMedium {
      .b-event-feature--half-width:nth-of-type(1) &,
      .b-event-feature--third-width:nth-of-type(1) & {
        @include typeSetting(1, bold, uppercase);
      }
    }
  }

  &__date {
    @include typeSetting(1, normal, initial);
    margin: 6px 0 0;

    &::before {
      margin-left: 2px;
    }

    .b-event-feature__type & {
      display: none;
    }

    @include bpMinSmall {
      @include typeSetting(3, normal, initial);

      &::before {
        margin-left: -1px;
      }

      .b-event-feature__type & {
        display: inline-block;
      }

      .b-event-feature__name & {
        display: none;
      }

      .b-event-feature--half-width-fixed &,
      .b-event-feature--half-width:nth-of-type(n+2) &,
      .b-event-feature--third-width:nth-of-type(n+2) & {
        @include typeSetting(1, bold, initial);
        &::before {
          margin-left: 2px;
        }
      }

      .b-event-feature--half-width-fixed .b-event-feature__type &,
      .b-event-feature--half-width:nth-of-type(n+2) .b-event-feature__type &,
      .b-event-feature--third-width:nth-of-type(n+2) .b-event-feature__type & {
        display: none;
      }

      .b-event-feature--half-width-fixed .b-event-feature__name &,
      .b-event-feature--half-width:nth-of-type(n+2) .b-event-feature__name &,
      .b-event-feature--third-width:nth-of-type(n+2) .b-event-feature__name & {
        display: block;
      }
    }

    @include bpMinMedium {
      .b-event-feature--half-width:nth-of-type(1) &,
      .b-event-feature--third-width:nth-of-type(1) & {
        @include typeSetting(1, bold, initial);
        &::before {
          margin-left: 2px;
        }
      }

      .b-event-feature--half-width:nth-of-type(1) .b-event-feature__type &,
      .b-event-feature--third-width:nth-of-type(1) .b-event-feature__type & {
        display: none;
      }

      .b-event-feature--half-width:nth-of-type(1) .b-event-feature__name &,
      .b-event-feature--third-width:nth-of-type(1) .b-event-feature__name & {
        display: block;
      }
    }
  }

  &__name {
    @include typeSetting(5);

    @include bpMinSmall {
      @include typeSetting(6);

      .b-event-feature--half-width-fixed &,
      .b-event-feature--half-width:nth-of-type(n+2) &,
      .b-event-feature--third-width:nth-of-type(n+2) & {
        @include typeSetting(5, bold);
      }
    }

    @include bpMinMedium {
      .b-event-feature--half-width:nth-of-type(1) &,
      .b-event-feature--third-width:nth-of-type(1) & {
        @include typeSetting(5, bold);
      }
    }

    line-height: 1.3;
  }

  &__cta {
    margin: 10px 0 0;

    & :nth-child(n+2) {
      @include bpMaxXSmall {
        display: none;
      }
    }
  }
}
