.b-image-overlay-detail {
  align-items: center;
  background: siteColor(vam-black);
  color: siteColor(vam-white);
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;

  @include bpMinMedium {
    padding-bottom: 0;
  }

  &__navigation-container {
    margin-bottom: 10px;

    button {
      &:nth-of-type(1) {
        margin-right: 10px;
      }
    }


    @include bpMinMedium {
      display: none;
    }
  }

  &__prev,
  &__next {
    border: 1px solid siteColor(vam-grey-5);
    border-radius: 100%;
    color: siteColor(vam-grey-5);
    cursor: default;
    display: inline-flex;
    height: 30px;
    margin-right: 10px;
    opacity: .4;
    pointer-events: none;
    width: 30px;

    svg {
      height: 12px;
      margin: auto;
      width: 12px;
    }

    &--enabled {
      border: 1px solid siteColor(vam-white);
      color: siteColor(vam-white);
      cursor: pointer;
      opacity: 1;
      pointer-events: all;

      &:hover {
        background: siteColor(vam-white);

        svg {
          color: siteColor(vam-black);
        }
      }
    }
  }

  &__caption {
    flex: 0 1 auto;
  }

  &__image-counter {
    @include typeSetting(3, bold);
  }

  &__copyright-holder {
    @include typeSetting(0, light);
    line-height: 22px;
  }

  &__download-button-container {
    margin-top: 4px;
  }

  &__caption-container {
    margin: 0 0 0 20px;
    max-width: 371px;
    text-align: left;

    @include bpMinMedium {
      margin: 22px 0 24px 30px;
    }
  }

  &__caption-container, &__zoom-container {
    flex: 1 0 auto;
  }

  &__zoom-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 372px;
  }

  &__details {
    @include bpMinMedium {
      background: #393b3f;
      display: inline-flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      justify-content: space-between;
      width: 35%;
    }
  }

  &__carousel-container {
    display: none;
    margin: 33px 0 24px;

    @include bpMinMedium {
      display: block;
    }
  }
}

