.b-image-overlay-detail {
  align-items: center;
  background: siteColor(vam-black);
  color: siteColor(vam-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;

  @include bpMinMedium {
    padding: 22px 30px 24px;
  }

  &__navigation-container {
    margin-bottom: 10px;

    @include bpMinMedium {
      display: none;
    }
  }

  &__caption {
    flex: 0 1 auto;
  }

  &__image-counter {
    @include typeSetting(3, bold);
  }

  &__copyright-holder {
    @include typeSetting(0, light);
    line-height: 22px;
  }

  &__download-button-container {
    margin-top: 4px;
  }

  &__caption-container {
    align-self: flex-start;
    flex: 1 0 auto;
    text-align: left;

    @include bpMinMedium {
      max-width: 371px;
    }
  }

  &__carousel-container {
    display: none;

    @include bpMinMedium {
      display: block;
      left: 50%;
      margin: 33px 0 24px;
      position: absolute;
      transform: translate(-50%, 0);
    }
  }

  &__zoom-btns {
    left: 20px;
    position: absolute;
    top: 20px;

    @include bpMinMedium {
      left: auto;
      margin: 0 20px 0 auto;
      position: relative;
      top: auto;
    }
  }

  &__zoom-in,
  &__zoom-out {
    background: #fff;
    border-radius: 50%;
    color: siteColor(vam-black);
    cursor: default;
    display: flex !important; // sass-lint:disable-line no-important
    height: 32px;
    opacity: .4;
    width: 32px;

    > svg {
      height: 14px;
      margin: auto;
      width: 14px;
    }

    &--enabled {
      cursor: pointer;
      opacity: 1;

      &:hover,
      &:focus {
        background: siteColor(vam-grey-5);
      }
    }
  }

  &__zoom-out {
    margin-top: 18px;
  }

  &__zoomnavigator {
    // sass-lint:disable no-important
    display: none !important;

    @include bpMinMedium {
      border: 1px solid siteColor(vam-grey-7) !important;
      display: block !important;
      height: 104px;
      width: 156px;
    }
    // sass-lint:enable no-important
  }
}

