<div class="b-image-overlay-detail">
  <div class="b-image-overlay-detail__caption-container">
    <div class="b-image-overlay-detail__navigation-container">
      <button class="b-image-carousel__prev b-image-carousel__prev--mobile u-btn-icon u-btn-icon--point-left" disabled="true" title="Previous image">Previous image</button>
      <button class="b-image-carousel__next b-image-carousel__next--mobile u-btn-icon u-btn-icon--point-right" disabled="true" title="Next image">Next image</button>
    </div>
    <div class="b-image-overlay-detail__image-counter">
      Image <span class="b-image-overlay-detail__current-image"></span> of <span class="b-image-overlay-detail__total-number-of-images"></span>
    </div>
    <div class="b-image-overlay-detail__copyright-holder">
      © Victoria and Albert Museum, London
    </div>
    {%- render "@image-overlay-license-modal" -%}
  </div>
  <div class="b-image-overlay-detail__carousel-container">
    {% if not more_than_five_images %}
    {%- render "@image-carousel" -%}
    {% endif %}
    {% if more_than_five_images %}
    {%- render "@image-carousel--more-than-five-images" -%}
    {% endif %}
  </div>
  <div class="b-image-overlay-detail__zoom-btns">
    <button class="b-image-overlay-detail__zoom-in b-image-overlay-detail__zoom-in--enabled u-btn-icon u-btn-icon--light u-btn-icon--plus" id="js-image-overlay__zoomin" title="Zoom in">Zoom in</button>
    <button class="b-image-overlay-detail__zoom-out b-image-overlay-detail__zoom-out--enabled u-btn-icon u-btn-icon--light u-btn-icon--minus" id="js-image-overlay__zoomout" title="Zoom out">Zoom out</button>
  </div>
  <div class="b-image-overlay-detail__zoomnavigator" id="js-image-overlay__zoomnavigator"></div>
</div>
