<div class="b-image-overlay-detail">
  <div class="b-image-overlay-detail__caption-container">
    <div class="b-image-overlay-detail__navigation-container">
      <button class="b-image-carousel__prev b-image-carousel__prev--mobile" disabled="true" title="Previous" aria-label="Previous image">
        <svg role="img">
          <use xlink:href="/assets/svg/svg-template.svg#point-left"></use>
        </svg>
      </button>
      <button class="b-image-carousel__next b-image-carousel__next--mobile" disabled="true" title="Next" aria-label="Next image">
        <svg role="img">
          <use xlink:href="/assets/svg/svg-template.svg#point-right"></use>
        </svg>
      </button>
    </div>
    <div class="b-image-overlay-detail__image-counter">
      Image <span class="b-image-overlay-detail__current-image"></span> of <span class="b-image-overlay-detail__total-number-of-images"></span>
    </div>
    <div class="b-image-overlay-detail__copyright-holder">
      © Victoria and Albert Museum, London
    </div>
    {%- render "@image-overlay-license-modal" -%}
  </div>
  <div class="b-image-overlay-detail__carousel-container">
    {% if not more_than_five_images %}
    {%- render "@image-carousel" -%}
    {% endif %}
    {% if more_than_five_images %}
    {%- render "@image-carousel--more-than-five-images" -%}
    {% endif %}
  </div>
  <div class="b-image-overlay-detail__zoom-container">
    {%- render "@zoom" -%}
  </div>
</div>
