.tout-label {
  @include typeSetting(1, semi-bold, uppercase);
  background: orange;
  border-radius: 2px;
  bottom: initial;
  color: white;
  display: inline-block;
  height: 2.4em;
  line-height: inherit;
  margin: 12px;
  padding: 4px 12px 2px;
  position: absolute;
  top: 0;
  z-index: 1;

  &--sold-out,
  &--ending-soon {
    background: map-get($theme-colors, strawberry);
  }

  &--selling-fast {
    background: map-get($theme-colors, cyan);
  }

  &--family-friendly {
    background: map-get($theme-colors, blue-green);
  }

  &--members-only,
  &--teachers-only {
    background: map-get($theme-colors, velvet);
  }

  &--more-tickets-added {
    background: map-get($theme-colors, teal-blue);
  }

  &--last-few-tickets {
    background: map-get($theme-colors, blue);
  }

  &--last-few-days {
    background: map-get($theme-colors, orange);
  }

  &--book-soon {
    background: map-get($theme-colors, salmon);
  }
}
