$site_colors: (
  vam-black: #1d1e20,
  alert-red: #fd6060,
  primary-green: #50e3c2,
  vam-white: #fff,

  vam-grey-1: #393b3f,
  vam-grey-2: #505354,
  vam-grey-3: #70787C,
  vam-grey-4: #b7b8bd,
  vam-grey-5: #dee0e2,
  vam-grey-6: #eaeaea,
  vam-grey-7: #efefed,
  vam-grey-8: #f6f6f6,
);

@function siteColor($c) {
  @return map-get($site_colors, $c);
}
