<div style="background: black;">
  <p class="b-search-pagination__display-counter"></p>
  <div class="b-search-pagination" data-page-index="1" data-offset="15" data-pages="1032" data-total-count="15473">
      <span data-page-index="0" class="b-search-pagination__prev-link b-search-pagination__prev-link--inactive">
          <span class="b-search-pagination__caret">
              <</span> <span class="b-search-pagination__link-text">Prev
          </span>
      </span>
      <div class="b-search-pagination__page-button-container">
          <button data-page-index="1" value="1" class="b-search-pagination__page-button-start b-search-pagination__page-button--current">
              01
          </button>
          <span class="b-search-pagination__page-button-seperator-start">
              ...
          </span>
          <button data-page-index="2" value="2" class="b-search-pagination__page-button">
              02
          </button>
          <button data-page-index="3" value="3" class="b-search-pagination__page-button">
              03
          </button>
          <span class="b-search-pagination__page-button-seperator-middle b-search-pagination__page-button-seperator-middle--inactive">
              ...
          </span>
          <button data-page-index="4" value="4" class="b-search-pagination__page-button b-search-pagination__page-button">
              04
          </button>
          <span class="b-search-pagination__page-button-seperator-last">
              ...
          </span>
          <button data-page-index="1032" value="1032" class="b-search-pagination__page-button-last">
              1032
          </button>
      </div>
      <span data-page-index="2" class="b-search-pagination__next-link">
          <span class="b-search-pagination__link-text">Next</span> <span class="b-search-pagination__link-caret">></span>
      </span>
  </div>
</div>
