<div class="b-search-results__count" data-count="{{ pages }}" ></div>

<p class="b-search-pagination__display-counter"></p>
<div class="b-search-pagination">
    <span class="b-search-pagination__prev-link b-search-pagination__prev-link--inactive">
        <span class="b-search-pagination__caret">
            <</span> <span class="b-search-pagination__link-text">Prev
        </span>
    </span>
    <div class="b-search-pagination__page-button-container">
        <button page-index="1" class="b-search-pagination__page-button-start b-search-pagination__page-button--current">
            01
        </button>
        <span class="b-search-pagination__page-button-seperator-start b-search-pagination__page-button-seperator-start--inactive">
            ...
        </span>
        <button page-index="2" class="b-search-pagination__page-button">
            02
        </button><button page-index="3" class="b-search-pagination__page-button">
            03
        </button>
        <span class="b-search-pagination__page-button-seperator-middle b-search-pagination__page-button-seperator-start--inactive">
            ...
        </span>
    </div>
    <span class="b-search-pagination__next-link">
        <span class="b-search-pagination__link-text">Next</span> <span class="b-search-pagination__link-caret">></span>
    </span>
</div>
