.b-search-pagination {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &__container {
    align-items: center;
    color: siteColor(vam-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    &--display-counter {
      justify-content: left;
    }
    &--page-size {
      margin-top: 20px;
    }
    &--col {
      flex-direction: column;
    }
  }

  &__page-size {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
    &--active {
      cursor: default;
      font-weight: 800;
      text-decoration: none;
    }
    &:hover {
      font-weight: 600;
    }
  }

  &__prev-link {
    left: 0;
  }
  &__next-link {
    right: 0;
  }
  &__prev-link, &__next-link {
    @include typeSetting(2, bold);
    @include bpMinMedium {
      top: 11px;
      @include typeSetting(3, bold);
    }

    color: siteColor(vam-white);
    cursor: pointer;
    position: absolute;
    top: 11px;
    user-select: none;

    &[disabled] {
      color: siteColor(vam-grey-4);
      cursor: initial;
    }
  }

  &__link {
    &-caret {
      text-decoration: none;
    }
    &-text {
      pointer-events: none;
      text-decoration: underline;
    }
  }

  &__page-button {
    display: block;
    &[disabled] {
      display: none;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__page-button-last {
    &[disabled] {
      display: none;
    }
  }

  &__page-button, &__page-button-start, &__page-button-last {
    @include typeSetting(3, medium);
    @include bpMinMedium {
      height: 44px;
      margin-right: 8px;
    }

    border: 1px solid siteColor(vam-white);
    border-radius: 0;
    color: siteColor(vam-white);
    height: 40px;
    margin-right: 6px;
    min-width: 32px;
    padding: 0 5px;
    &-seperator {
      &-start, &-middle, &-last {
        color: siteColor(vam-white);
        margin-right: 8px;
        margin-top: 6px;
        user-select: none;
      }
      &[disabled] {
        display: none;
      }
    }

    &:hover {
      background-color: siteColor(vam-grey-3);
      cursor: pointer;
    }

    &--current {
      background-color: themeColor(silent-green);
      border-color: themeColor(silent-green);
      border-radius: 0;
      color: siteColor(vam-black);
    }

    &-container {
      display: flex;
      flex-direction: row;
    }
  }
}
