@use "../../mixins";
@use "../../base";

.b-search-pagination {
  @include base.typography-typeSetting(1);

  @include mixins.breakpoints-bpMinSmall {
    @include base.typography-typeSetting(3);
  }

  &__container {
    color: base.sitecolors-siteColor("vam-white");
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include mixins.breakpoints-bpMinXSmall {
      justify-content: space-between;
    }

    &--display-counter {
      justify-content: left;
      margin-bottom: 20px;
    }

    &--page-size {
      justify-content: center;
      margin-top: 20px;
    }

    &--col {
      flex-direction: column;
    }
  }

  &__page-size {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;

    &--active {
      @include base.typography-fontWeight("x-bold");

      cursor: default;
      text-decoration: none;
    }

    &:hover {
      @include base.typography-fontWeight("x-bold");
    }
  }

  &__prev-link,
  &__next-link {
    @include base.typography-typeSetting(2, "bold");

    align-self: flex-start;
    color: base.sitecolors-siteColor("vam-white");
    cursor: pointer;
    padding: 16px;
    user-select: none;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "bold");

      margin-top: -5px;
    }

    &[disabled] {
      color: base.sitecolors-siteColor("vam-grey-4");
      cursor: initial;
    }
  }

  &__prev-link {
    padding-left: 0;
  }

  &__next-link {
    padding-right: 0;
  }

  &__link {
    &-caret {
      text-decoration: none;
    }

    &-text {
      display: none;
      pointer-events: none;
      text-decoration: underline;

      @include mixins.breakpoints-bpMinXSmall {
        display: inline-block;
      }
    }
  }

  &__page-button,
  &__page-button-start,
  &__page-button-last {
    @include base.typography-typeSetting(3);

    border: 1px solid base.sitecolors-siteColor("vam-white");
    color: base.sitecolors-siteColor("vam-white");
    height: 50px;
    margin-right: 9px;
    min-width: 36px;
    padding: 0 10px;

    @include mixins.breakpoints-bpMinSmall {
      height: 44px;
      margin-right: 8px;
    }

    &-seperator {
      &-start,
      &-middle,
      &-last {
        color: base.sitecolors-siteColor("vam-white");
        margin: 8px 9px 0 0;
        user-select: none;
      }

      &[disabled] {
        display: none;
      }
    }

    &--current {
      background-color: base.themecolors-themeColor("silent-green");
      border-color: base.themecolors-themeColor("silent-green");
      border-radius: 0;
      color: base.sitecolors-siteColor("vam-black");
    }

    &-container {
      display: flex;
      flex-direction: row;
    }
  }

  &__page-button {
    display: block;

    &[disabled] {
      display: none;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background-color: base.sitecolors-siteColor("vam-grey-3");
      cursor: pointer;
    }
  }

  &__page-button-start,
  &__page-button-last {
    &:hover {
      background-color: base.sitecolors-siteColor("vam-grey-3");
      cursor: pointer;
    }
  }

  &__page-button-last[disabled] {
    display: none;
  }
}
