.b-block-grid {
  margin: 12px 0;

  &--padded {
    overflow: hidden;
    padding: 0 0 38px;

    @include bpMinSmall {
      padding: 0 22px 38px;
    }

    @include bpMinMedium {
      padding: 0 54px 54px;
    }
  }

  &__header {
    color: siteColor(vam-white);
    margin: 50px 0 20px;
    width: 100%;

    @include bpMinSmall {
      margin: 70px 0 30px;
    }
  
    &--black {
      color: siteColor(vam-black);
    }

    &--transparent {
      background-color: transparent;
    }
  }

  // sass-lint:disable no-css-comments
  /* this is required to differentiate from b-block-grid__header being used outside of a b-block-grid, as it is in places - in those cases it gets the default margins defined above */
  // sass-lint:enable no-css-comments
  > #{&}__header {
    margin: 40px 0 50px;

    @include bpMinSmall {
      margin: 50px 0 70px;
    }
  }

  &__title {
    @include typeSetting(5, bold);
    text-align: center;

    @include bpMinSmall {
      @include typeSetting(6, bold);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer {
    background-color: siteColor(vam-black);
    clear: both;
    padding: $spacing-small * 2;

    &--light {
      background-color: siteColor(vam-white);
    }

    > a:focus {
      .b-icon-badge__icon {
        @include defaultFocus;
      }
    }

    > svg {
      color: siteColor(vam-black);
    }
  }

  &__cols-restarter {
    // sass-lint:disable no-important
    column-span: all !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    // sass-lint:enable no-important
  }
}
