.b-block-grid {
  background-color: siteColor(vam-white);
  margin: 0 0 $spacing-small;

  @include bpMinMedium {
    background-color: transparent;
  }

  &--padded {
    overflow: hidden;
    padding: 0 0 (48px - 10px);

    @include bpMinSmall {
      padding: 0 (32px - 10px) (48px - 10px);
    }

    @include bpMinMedium {
      padding: 0 (64px - 10px) (64px - 10px);
    }
  }

  &__header {
    padding: $spacing-medium $spacing-small;
    width: 100%;

    @include bpMinSmall {
      padding: 54px $spacing-small;
    }

    @include bpMinMedium {
      background-color: transparent;
    }
  }

  &__title {
    @include typeSetting(3, bold, uppercase);
    color: siteColor(vam-black);
    display: block;
    text-align: center;

    @include bpMinSmall {
      @include typeSetting(5, bold, uppercase);
    }

    @include bpMinMedium {
      color: siteColor(vam-white);
      text-shadow: siteColor(vam-black) 0 1px 2px;

      .b-block-grid--light & {
        color: siteColor(vam-black);
        text-shadow: none;
      }

    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer {
    background-color: siteColor(vam-black);
    clear: both;
    padding: $spacing-small * 2;

    &--light {
      background-color: siteColor(vam-white);
    }

    svg {
      color: siteColor(vam-black);
    }
  }
}
