.b-block-grid {
  margin: 0 0 $spacing-small;

  &--padded {
    margin: 20px 0 0;
    overflow: hidden;
    padding: 0 0 (48px - 10px);

    @include bpMinSmall {
      padding: 0 (32px - 10px) (48px - 10px);
    }

    @include bpMinMedium {
      padding: 0 (64px - 10px) (64px - 10px);
    }
  }

  &__header {
    color: siteColor(vam-white);
    padding: $spacing-medium $spacing-small;
    width: 100%;

    .shop-touts & {
      color: siteColor(vam-black);
    }
  
    .event-touts & {
      color: siteColor(vam-black);
    }

    @include bpMinSmall {
      padding: 54px $spacing-small;
    }

    &--transparent {
      background-color: transparent;
      color: siteColor(vam-white);
    }
  }

  &__title {
    @include typeSetting(5, bold);
    text-align: center;

    @include bpMinSmall {
      @include typeSetting(6, bold);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer {
    background-color: siteColor(vam-black);
    clear: both;
    padding: $spacing-small * 2;

    &--light {
      background-color: siteColor(vam-white);
    }
  }

  &__cols-restarter {
    // sass-lint:disable no-important
    column-span: all !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    // sass-lint:enable no-important
  }
}
