<section class="b-block-grid">
  <header class="b-block-grid__header">
    <h2 class="b-block-grid__title">{{ title }}</h2>
  </header>

  <div class="b-block-grid__content {% for c in additionalClasses %} {{ c }}{% endfor %}{%if revealMoreCount %} js-grid-reveal-more{% endif %}" {%if revealMoreCount %}data-reveal-more-theme="{{ revealMoreTheme }}" data-reveal-more-counter="{{ revealMoreCount }}" data-reveal-more-tracking="{{ revealMoreTracking }}" data-icon-url="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg"{% endif %}>
    {% if articles %}
      {% for a in articles %}
        {%- render "@promo", a -%}
      {% endfor %}
    {% endif %}

    {% if events %}
      {% for i in [1,2,3,4,5,6,7,8,9,10,11,12] %}
        {%- render "@event-teaser--dark" -%}
      {% endfor %}
    {% endif %}
  </div>

</section>
