@use "../../mixins";

.b-search-page {
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 1200px;
  width: 100%;

  @include mixins.breakpoints-bpMinSmall {
    padding: 0 27px;
  }

  &-content-container {
    margin-bottom: 120px;

    @include mixins.breakpoints-bpMinMedium {
      margin-bottom: 140px;
    }
  }

  &-title {
    color: #fff;
    font-size: 48px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 50%);

    @include mixins.breakpoints-bpMinMedium {
      font-size: 54px;
    }
  }

  &-subtitle,
  &-title {
    padding: 0 12px;

    @include mixins.breakpoints-bpMinSmall {
      padding: 0;
    }
  }

  &-subtitle {
    color: #fff;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.25;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 50%);
    width: 100%;

    @include mixins.breakpoints-bpMinSmall {
      height: 118px;
      width: 476px;
    }

    @include mixins.breakpoints-bpMinMedium {
      font-size: 24px;
    }
  }
}

.b-search-page-bg {
  background-color: rgb(47, 49, 50);
  height: 100vh;
}
