<div class="b-search-page-bg">
  <div class="b-search-page">
    <div class="b-search-page-content-container">
      <div class="b-search-page-title">
        Collections
      </div>
      <div class="b-search-page-subtitle">
          From ancient Chinese ceramics to Alexander McQueen evening dresses, take an incredible journey through 5000 years of human creativity with our online collections.     
      </div>
    </div>

    <div class="b-search-box-container b-search-box-container--start">
      <div class="b-search-box-container-header">
          <div class="b-search-box-container-header__title">
              explore our collections
          </div>
          <div class="b-search-box-container-header__subtitle">
              Search 1,254,534 objects
          </div>
      </div>

      <form action="/" method="get">
          <div class="search-box__form-fields">
              <input id="user_input" name="q" type="text" class="search-box__form-fields-field search-box__form-fields-field--start" placeholder="Search by object, artist, maker...">
              <input id="submit" style="display:none;" type="submit" value="Search"></input>
              <a href="#" onclick="document.querySelector('#submit').click();" class="u-btn u-btn--arrowed search-box__form-submit search-box__form-submit--start">
            Search
          </a>
              <div class="search-box__form-logo-container search-box__form-logo-container--start">
                  <svg class="search-box__form-logo" role="img">
                <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#valogo"></use>
            </svg>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>