.b-horizontal-scroll-grid {
  overflow: hidden;

  ::-webkit-scrollbar { 
    display: none; 
  }

  &__content {
    align-content: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    overflow-x: scroll;
    white-space: nowrap;

    &--noflex {
      display: inline-flex;
    }
  }
}
