.b-horizontal-scroll-grid {
  margin: auto;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }

  &__content {
    display: flex;
    margin-bottom: 40px;
    place-content: stretch space-between;

    &--noflex {
      display: inline-flex;
    }

    .cssscrollbar & {
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
