<div class="fr-content-bg">
</div>

<div aria-hidden="true" class="b-modal js-modal" data-modal-campaign="{{modalID}}" data-modal-once-only="{{modalOnceOnly}}" data-modal-domain="{{modalDomain}}">
  <section class="b-modal__content">
    <a href="#" class="b-modal__close-button" aria-label="Close message">
      <svg role="img" class="b-modal__close-icon">
        <use xlink:href="/assets/svg/svg-template.svg#close"></use>
      </svg>
    </a>
    <h1 class="b-modal__title">{{title}}</h1>
    <div class="b-modal__description">
      {{body}}
    </div>
    <a href="{{cta.url}}" class="u-btn u-btn--arrowed js-modal-action">{{cta.title}}</a>
    <div>
      <a href="#" class="b-modal__dismiss u-link u-link--arrowed">{{dismiss}}</a>
    </div>
  </section>
</div>
