<div class="b-modal js-modal" role="dialog" aria-modal="true"
  data-modal-campaign="{{modalID}}" data-modal-once-only="{{modalOnceOnly}}" data-modal-domain="{{modalDomain}}">
  <div class="b-modal__content">
		<button class="u-btn-icon u-btn-icon--close b-modal__exit js-modal-exit" title="Dismiss modal">Dismiss</button>
    <h1 class="b-modal__title">{{title}}</h1>
    <div class="b-modal__description">
      {{body}}
    </div>
    <a href="{{cta.url}}" class="u-btn u-btn--arrowed js-modal-action">{{cta.title}}</a>
    <div>
      <a href="#" class="b-modal__dismiss u-link u-link--arrowed">{{dismiss}}</a>
    </div>
  </div>
</div>
