<div class="fr-content-bg">
</div>

<div class="b-modal js-modal" data-modal-campaign="{{modalID}}" data-modal-once-only="{{modalOnceOnly}}" data-modal-domain="{{modalDomain}}">
  <section class="b-modal__content">
    <h1 class="b-modal__title">{{title}}</h1>
    <div class="b-modal__description">
      {{body}}
    </div>
    <a href="{{cta.url}}" class="u-btn u-btn--arrowed js-modal-action">{{cta.title}}</a>
    <div>
      <a href="#" class="b-modal__dismiss u-link u-link--arrowed">{{dismiss}}</a>
    </div>
  </section>
</div>
