@use "../../mixins";
@use "../../base";

.u-checkbox {
  --input-border: #{base.sitecolors-siteColor("vam-grey-5")};
  --input-background: transparent;
  --input-color: #{base.sitecolors-siteColor("vam-black")};
  --input-checked-background: #{base.sitecolors-siteColor("vam-white")};
  
  appearance: none;
  background-color: var(--input-background, transparent);
  border-radius: 2px;
  flex-shrink: 0;
  height: 25px;
  position: relative;
  width: 25px;
  
  &::before {
    border: 1px solid var(--input-border, #{base.sitecolors-siteColor("vam-grey-5")});
    border-radius: 2px;
    content: "";
    inset: 0;
    position: absolute;
  }
  
  &::after {
    background-color: var(--input-checked-background, #{base.sitecolors-siteColor("vam-white")});
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E %3Cpath d='M6.186 9.528l-.106-.124a205.746 205.746 0 0 1-2.036-2.41L1.737 8.913l.176.211a234.544 234.544 0 0 0 1.89 2.235l.11.127a71.654 71.654 0 0 0 1.433 1.626c.223.243.407.436.556.58.098.095.185.174.272.243.088.068.088.068.231.159.226.13.45.216.789.216.567 0 .802-.164 1.107-.474.07-.07.128-.14.19-.221.079-.104.167-.231.272-.392.177-.27.41-.648.698-1.129a198.71 198.71 0 0 0 1.935-3.331l.106-.186a586.26 586.26 0 0 0 2.81-4.99l-2.62-1.46a363.728 363.728 0 0 1-.868 1.552A583.35 583.35 0 0 1 8.896 7.09l-.106.185c-.73 1.277-1.35 2.348-1.826 3.148-.234-.266-.495-.566-.778-.895z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    color: var(--input-color, #{base.sitecolors-siteColor("vam-black")});
    inset: 1px;
    position: absolute;
  }
  
  &:checked::before,
  &[aria-checked="true"]::before {
    border-color: var(--input-checked-background, #{base.sitecolors-siteColor("vam-white")});
  }
  
  &:checked::after,
  &[aria-checked="true"]::after {
    content: "";
  }

  &:focus-visible::before {
    @include mixins.focus-defaultFocus;
  }

  &--toggle {
    --input-border: #{base.sitecolors-siteColor("vam-grey-4")};

    border-radius: 10px;
    height: 20px;
    width: 36px;
    
    &::before {
      border-color: var(--input-border, #{base.sitecolors-siteColor("vam-grey-4")});
      border-radius: 10px;
    }

    &::after {
      background-color: var(--input-border, #{base.sitecolors-siteColor("vam-grey-4")});
      background-size: 0;
      border-radius: 50%;
      content: "";
      height: 16px;
      margin: 1px;
      transition: transform 0.2s;
      width: 16px;
    }

    &:checked::before {
      background-color: var(--input-checked-background, #{base.sitecolors-siteColor("vam-white")});
    }

    &:checked::after {
      background-size: 80%;
      transform: translateX(100%);
    }
  }

}
