.zoom-container {
    display: none;

    @include bpMinMedium {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 16px 40px 24px 0px;
    }
    &__zoom-controls-container {
      display: flex;
      flex-direction: column-reverse;
    }    

    &__zoom-out {
      margin-top: 6px;
    }

    &__zoom-in,
    &__zoom-out {
      margin-right: 10px;
      border: 1px solid #fff;
      border-radius: 100%;
      color: #fff;
      cursor: default;
      display: inline-flex;
      height: 30px;
      opacity: .4;
      width: 30px;
  
      svg {
        height: 12px;
        margin: auto;
        width: 12px;
      }

      &--enabled {
        cursor: pointer;
        opacity: 1;
  
        &:hover,
        &:focus {
          background: #ffffff1a;
        }
      }
    }
    
    &__zoom-placeholder {
      width: 156px;
      height: 103px;
      border: solid 1px #b7b8bd;
      background-color: #747c80;      
    }        
}