<div class="zoom-container">
    <div class="zoom-container__zoom-controls-container">
        <div class="zoom-container__zoom-button-container">
            <a class="zoom-container__zoom-out zoom-container__zoom-out--disabled zoom-container__zoom-out--enabled" href="#" title="Zoom-Out" aria-label="Zoom-Out">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#minus"></use>
                </svg>
            </a>
        </div>
        <div class="zoom-container__zoom-button-container">
            <a class="zoom-container__zoom-in zoom-container__zoom-in--disabled zoom-container__zoom-in--enabled" href="#" title="Zoom-In" aria-label="Zoom-In">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
                </svg>
            </a>
        </div>            
    </div>
    <div class="zoom-container__zoom-placeholder"></div>
</div>