<div class="zoom-container">
    <div class="zoom-container__zoom-controls-container">
        <div class="zoom-container__zoom-button-container">
            <button class="zoom-container__zoom-out zoom-container__zoom-out--disabled zoom-container__zoom-out--enabled" title="Zoom-Out" aria-label="Zoom-Out">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#minus"></use>
                </svg>
            </button>
        </div>
        <div class="zoom-container__zoom-button-container">
            <button class="zoom-container__zoom-in zoom-container__zoom-in--disabled zoom-container__zoom-in--enabled" title="Zoom-In" aria-label="Zoom-In">
                <svg role="img">
                    <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
                </svg>
            </button>
        </div>            
    </div>
    <div class="zoom-container__zoom-placeholder"></div>
</div>