<section class="b-venue-blog-card b-venue-blog-card--{{ modifier }}">
  <a class="b-venue-blog-card__link b-venue-blog-card__link--{{ modifier }}" href="">
    <h3 class="b-venue-blog-card__subheading b-venue-blog-card__subheading--{{ modifier }}">
      Blog post
    </h3>
    <div class="b-venue-blog-card__img b-venue-blog-card__img--{{ modifier }}">
      <img alt="" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/af00779a-48b5-49c7-ae16-cff21e9094bf/1920.jpg" loading="lazy">
    </div>
    <div class="b-venue-blog-card__text b-venue-blog-card__text--{{ modifier }}">
      <h2 class="b-venue-blog-card__heading b-venue-blog-card__heading--{{ modifier }}">
        Title
      </h2>
      <article class="b-venue-blog-card__desc b-venue-blog-card__desc--{{ modifier }}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      </article>
    </div>
  </a>
</section>
