@use "../../mixins";
@use "../../base";

.b-list-promo {
  display: flex;
  flex-direction: column;

  &--dark {
    color: base.sitecolors-siteColor("vam-white");
  }

  @include mixins.breakpoints-bpMinSmall {
    flex-direction: row;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    padding: 8px 10px 16px;

    .b-list-promo--dark & {
      background-color: base.sitecolors-siteColor("vam-black");
    }

    @include mixins.breakpoints-bpMinSmall {
      flex: 1 1 0;
      padding: 12px;
    }

    @include mixins.breakpoints-bpMinMedium {
      padding: 12px 20px;
    }

    @include mixins.breakpoints-bpMinLarge {
      padding: 20px 30px;
    }
  }

  &__title {
    @include base.typography-typeSetting(5, "bold");
    @include base.typography-lineheight(5);

    margin-bottom: 8px;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(6, "bold");
      @include base.typography-lineheight(6);

      margin-bottom: 10px;
    }
  }

  &__strapline {
    @include base.typography-typeSetting(3);
    @include base.typography-lineheight(3);

    margin-bottom: 8px;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(4);
      @include base.typography-lineheight(4);

      margin-bottom: 10px;
    }
  }

  &__image-list-container {
    min-height: 190px;
    position: relative;

    @include mixins.breakpoints-bpMinSmall {
      flex: 1 1 0;
      min-height: 296px;
    }

    @include mixins.breakpoints-bpMinMedium {
      min-height: 390px;
    }
  }

  &__image-list-item {
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in;

    &--active {
      opacity: 1;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__ctrls {
    bottom: 10px;
    display: none;
    gap: 4px;
    position: absolute;
    right: 10px;

    &--active {
      display: flex;
    }
  }

  &__ctrls-btn {
    box-shadow: 1px 1px 12px 0 rgba(29, 30, 32, 50%), -1px -1px 12px 0 rgba(29, 30, 32, 50%);
    height: 26px;
    width: 26px;

    @include mixins.breakpoints-bpMinSmall {
      height: 34px;
      width: 34px;
    }
  }

  &__info-list {
    @include mixins.unstyledelements-unstyledList;

    margin-bottom: 20px;
  }

  &__list-item {
    @include base.typography-typeSetting(3);
    @include base.typography-lineheight(3);

    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    padding-left: 2px;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(4);
      @include base.typography-lineheight(4);

      margin-bottom: 10px;
    }

    &::before {
      flex: 0 0 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      font-variation-settings: "wght" 600;
      padding-left: 0;

      &::before {
        color: base.sitecolors-siteColor("vam-white");
        height: 16px;
        left: 4px;
        margin-right: 2px;
        position: relative;
        width: 16px;
        z-index: 2;

        .b-list-promo--dark & {
          color: base.sitecolors-siteColor("vam-black");
        }
      }

      &::after {
        background-color: base.sitecolors-siteColor("vam-black");
        border-radius: 50%;
        content: "";
        height: 24px;
        position: absolute;
        width: 24px;
        z-index: 1;

        .b-list-promo--dark & {
          background-color: base.sitecolors-siteColor("vam-white");
        }
      }
    }
  }

  &__cta-list {
    @include mixins.unstyledelements-unstyledList;

    display: flex;
    gap: 10px;
    margin-top: auto;
  }

  &__cta-btn {
    @include base.typography-typeSetting(2);

    margin: 0;
    padding: 8px;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(4);
    }
  }
}
