.b-content-warning {
  background-color: siteColor(vam-grey-2);
  color: siteColor(vam-white);
  padding: 30px;

  &__header {
    @include typeSetting(2, bold);
    display: flex;
    flex-direction: column;
    text-align: center;

    &-icon {
      height: 41px;
      margin: auto;
      padding-bottom: 10px;
      width: 36px;
    }
  }

  &__content {
    padding-top: 10px;
    @include typeSetting(4, regular);
  }
}
