@use "../../base";

.b-content-warning {
  background-color: base.sitecolors-siteColor("vam-grey-2");
  color: base.sitecolors-siteColor("vam-white");
  padding: 30px;

  &__header {
    @include base.typography-typeSetting(2, "bold");

    display: flex;
    flex-direction: column;
    text-align: center;

    &-icon {
      height: 41px;
      margin: auto;
      padding-bottom: 10px;
      width: 36px;
    }
  }

  &__content {
    padding-top: 10px;

    @include base.typography-typeSetting(4, "regular");
  }
}
