.b-content-warning {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: siteColor(vam-grey-2);
  color: siteColor(vam-white);
  padding: 30px;
  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include typeSetting(2, bold);
    &-icon {
      height: 41px;
      margin: auto;
      padding-bottom: 10px;
      width: 36px;
    }
  }
  &__content {
    padding-top: 10px;
    @include typeSetting(4, regular);
  }
}
