<div class="b-content-warning">
  <div class="b-content-warning__header">
    <svg class="b-content-warning__header-icon" role="img">
      <use xlink:href="/assets/svg/svg-template.svg#warning"></use>
    </svg>
    <span class="b-content-warning__header-note">
      language note
    </span>
  </div>
  <div class="b-content-warning__content">
    While the term '?????' has been used in this record, it has since fallen from usage and is now considered offensive. The term is repeated in this record in its original historical context.
  </div>
</div>
