.b-facet-box {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(29, 30, 32, .92);
  color: siteColor(vam-white);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__instruction {
    height: 1px;
    left: -2px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
  }

  &--active {
    display: block;
    overflow-y: auto;
    z-index: 9999;
    @include bpMinMedium {
      z-index: 0;
    }
  }

  @include bpMinMedium {
    background-color: transparent;
    display: block;
    opacity: 1;
    position: relative;
    width: 270px;
  }

  &__hidden-input {
    display: none;
  }

  &__modal-button {
    @include bpMinMedium {
      display: none;
    }
    background-color: transparent;
    border-color: themeColor(silent-green);
    color: siteColor(vam-white);
    display: block;
    padding-right: 36px;
    position: relative;
    &:hover {
      background-color:  themeColor(silent-green);
      border-color: themeColor(silent-green);
      color: siteColor(vam-black);
    }

    &-close {
      border: .7px solid themeColor(silent-green);
      border-radius: 19.5px;
      color: siteColor(vam-white);
      font-size: 36px;
      height: 40px;
      position: relative;
      width: 40px;
    }
  }

  &__modal-content {
    &-close {
      color: siteColor(vam-white);
      height: 19px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18px;
    }
    &-open {
      height: 34px;
      margin-top: -1px;
      width: 30px;
    }

    .b-facet-box__modal-button:hover & {
      color: siteColor(vam-white);
      filter: invert(100%);
    }

    color: themeColor(silent-green);
    left: calc(100% - 34px);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__modal {
    &-container {
      @include bpMinMedium {
        display: none;
      }
      &--close {
        @include bpMinMedium {
          display: none;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      padding-right: 20px;
      padding-top: 20px;
      text-align: right;
    }
  }

  &__facet {
    &:nth-of-type(1) {
      margin-top: 0;
    }
    border-radius: 2px;
    margin-bottom: 15px;
    margin-top: 15px;

    &-date-start-container, &-date-end-container {
      display: flex;
      flex-direction: column;
    }

    &-text {
      @include typeSetting(3, bold, uppercase);
      &:hover {
        background-color: siteColor(vam-grey-1);
        cursor: pointer;
      }

      color: siteColor(vam-white);
      padding: 10px;
      position: relative;
      text-align: left;
      width: 100%;

      &::after {
        @include typeSetting(6, light);
        content: '+';
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &--active {
        background-color: siteColor(vam-grey-1);
        padding-bottom: 1px;

        &::after {
          @include typeSetting(8, light);
          background-color: white;
          content: ' ';
          height: 2px;
          width: 12px;
        }
      }
    }

    &-container {
      @include bpMinMedium {
        margin-top: 0;
        padding: 0;
      }
      margin: auto;
      margin-top: 37px;
      max-width: 530px;
      padding: 0 20px;
    }

    &-date {
      &-container {
        display: flex;
        flex-flow: nowrap;
        max-width: 270px;
        padding-bottom: 10px;

        @include bpMinXSmall {
          max-width: none;
        }
        &-start, &-end {
          flex-basis: 30%;
          margin-right: 8px;
          @include bpMinXSmall {
            flex-basis: 30%;
          }
        }
        &-button {
          flex-basis: 10%;
        }
        &-start, &-end, &-button {
          display: flex;
          flex-direction: column;
        }
      }
      &-button {
        background-color: #ceffd6;
        border-radius: 2px;
        height: 44px;
        position: relative;
        width: 44px;
        &-icon {
          color: siteColor(vam-black);
          height: 100%;
          left: 50%;
          padding: 10px;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
      }
      &-input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: inner-spin-button;
          margin-left: 5px;
          opacity: 1;
        }
        background-color: siteColor(vam-white);
        border: solid 1px #979797;
        border-radius: 2px;
        font-size: 18px;
        height: 44px;
        padding-left: 10px;
        width: 95px;
        &--error {
          border-color: red;
        }
      }
    }

    &-term-container {
      background-color: siteColor(vam-grey-1);
      display: none;
      flex-direction: row;
      list-style: none;
      margin-left: 0;
      padding: 10px;
      width: 100%;

      &-text {
        @include typeSetting(2, light);
        padding-bottom: 10px;
        &--warning {
          color: white;
          padding-bottom: 0;
        }
        &[disabled] {
          display: none;
        }
      }

      &--active {
        display: inline-flex;
        flex-flow: wrap;
      }
    }

    &-term-toggle {
      &:hover {
        color: siteColor(vam-white);
      }

      color: siteColor(vam-grey-5);
      cursor: pointer;
      display: flex;
      flex-basis: 100%;
      flex-direction: row;
      margin-bottom: 10px;
      margin-top: 10px;
      position: relative;

      &-text {
        @include bpMinMedium {
          max-width: 167px;
        }
        flex-grow: 1;
        text-align: left;
      }

      &-tick use {
        display: none;
      }
      &-tick {
        border: 1px siteColor(vam-white) solid;
        border-radius: 3px;

        &--active {
          background-color: themeColor(silent-green);
          border-color: themeColor(silent-green);
        }

        &--active use {
          display: block;
        }

        color: siteColor(vam-black);
        height: 25px;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
      }

      &-button {
        align-items: center;
        display: flex;
        user-select: text;
        width: 100%;
      }

      &-checkbox {
        margin-left: 40px;
        &:before {
          content: '';
          cursor: pointer;
          height: 25px;
          left: 0;
          position: absolute;
          top: 0;
          width: 25px;
        }
      }
      &-result {
        flex-shrink: 1;
        padding-left: 10px;
        text-align: right;
        white-space: nowrap;
      }
    }
  }

  &__term {
    &-more {
      cursor: pointer;
      font-weight: 700;
      margin: 10px 0;
      text-decoration: underline;
    }

    @include typeSetting(3, light);

    border: solid themeColor(silent-green) 1px;
    border-radius: 4px;
    color: siteColor(vam-white);
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px 33px 10px 13px;
    position: relative;

    &:last-of-type {
      margin-right: 0;
    }

    &--form {
      @include bpMinXSmall {
        display: block;
      }
      border: solid siteColor(vam-black) 1px;
      color: siteColor(vam-black);
      display: none;
      width: fit-content;
      &-revealer {
        display: block;
        padding-right: 13px;
      }
    }

    &:hover {
      background-color: siteColor(vam-grey-5);
      color: siteColor(vam-grey-1);
      cursor: pointer;
    }

    &--mobile {
      &:hover {
        background-color: themeColor(silent-green);
      }
    }

    // this button/container gets reused a lot of places...I should really make this a mixin... see also controlled vocab

    &-text {
      &::after {
        content: '\2715';
        display: inline-block;
        font-size: 14px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
      &--no-cross {
        font-weight: 800;
        text-decoration: underline;
        &::after {
          content: '';
        }
      }
    }

    &-list {
      @include bpMinMedium {
        display: none;
        margin-top: 15px;
      }

      display: flex;
      flex: auto;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      max-width: 530px;
      padding: 40px 20px 0 20px;
    }
  }
}
