{% if testEvent %}
  <button class="add-facet-button" > add facets </button>
  <script type="text/javascript">
    document.onload = (() => {

      document.body.style.backgroundColor = 'black';

      window.active_facets = new Set();

      window.active_facets.add('facet_1_id-T15');
      window.active_facets.add('facet_1_id-T10');

      document.body.addEventListener('updatedSearch', (e) => {
        console.log(e);
        console.log('recieved the updated search event');
        Array.from(document.querySelectorAll('.b-facet-box__hidden-input')).forEach(el => console.log(el.value, el.checked))
      });

      document.querySelector(".add-facet-button").onclick = e => {
        document.querySelector('.b-facet-box').dispatchEvent(
          new CustomEvent('newFacets', {
            detail: {
              activeFacets: window.active_facets,
              facets: [
                {
                  facet: 'Facet 1',
                  paramName: 'facet_1_id',
                  terms: (new Array(20).fill(null)).map((x, i) => {
                    return {
                      term: `Term ${i}`,
                      count: '< 10000',
                      value: `T1${i}`
                    }
                  })
                },
                {
                  facet: 'Facet 2',
                  paramName: 'facet_1_id',
                  terms: (new Array(20).fill(null)).map((x, i) => {
                    return {
                      term: `Term ${i}`,
                      count: '< 10000',
                      value: `T2${i}`
                    }
                  })
                }
              ]
            }
          })
        )
      }
    })();
  </script>
{% endif %}

<div class="b-facet-box">
  <div class="b-facet-box__close-container">
    <button class="b-facet-box__close-button">
       <svg class="b-facet-box__close-content" role="img">
            <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
        </svg>
    </button>
  </div>
  <div class="b-facet-box__term-list">
  <!--  example
     <div class="b-facet-box__term">
        <span class="b-facet-box__term-text">
          Facet: Term
        </span>
      </div>
  -->
  </div>
  <div class="b-facet-box__facet-container">
    {% for facet in facets %}
      <div class="b-facet-box__facet b-facet-box__facet">
        <div class="b-facet-box__facet-text">
          {{ facet.facet }}
        </div>
        <ul class="b-facet-box__facet-term-container">
          {% for term in facet.terms %}
            <li class="b-facet-box__facet-term-toggle" data-id="{{ facet.facet }}-{{ term.term }}-{{loop.index0}}" data-facet="{{ facet.facet }}" data-term="{{ term.term }}">
              <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
                <svg class="b-facet-box__facet-term-toggle-tick" role="img">
                  <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
                </svg>
              </a>
              <span class="b-facet-box__facet-term-toggle-text">
                {{ term.term }}
              </span>
              <span class="b-facet-box__facet-term-toggle-result">
                ({{ term.count }})
              </span>
            </li>
          {% endfor %}
        </ul>
     </div>
    {% endfor %}

    <div class="b-facet-box__facet b-facet-box__facet-date">
      <div class="b-facet-box__facet-text">
        Dates
      </div>
      <div class="b-facet-box__facet-term-container b-facet-box__facet-date-container">
        <div class="b-facet-box__facet-date-container-start">
          <label class="b-facet-box__facet-date-label">
            From year:
          </label>
          <input class="b-facet-box__facet-date-input" placeholder="Year" type="number" name="date-start">
        </div>
        <div class="b-facet-box__facet-date-container-end">
          <label class="b-facet-box__facet-date-label">
            To year:
          </label>
          <input class="b-facet-box__facet-date-input" placeholder="Year" type="number" name="date-end">
        </div>
        <div class="b-facet-box__facet-date-container-button">
          <label class="b-facet-box__facet-date-label">
            &nbsp;
          </label>
          <button class="b-facet-box__facet-date-button">
            <svg class="b-facet-box__facet-date-button-icon" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#search"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
