<div class="b-facet-box">
  <div class="b-facet-box__close-container">
    <button class="b-facet-box__close-button">
       <svg class="b-facet-box__close-content" role="img">
            <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
        </svg>
    </button>
  </div>
  <div class="b-facet-box__term-list">
  <!--  example
     <div class="b-facet-box__term">
        <span class="b-facet-box__term-text">
          Facet: Term
        </span>
      </div>
  -->
  </div>
  <div class="b-facet-box__facet-container">
    <div class="b-facet-box__facet b-facet-box__facet">
      <div class="b-facet-box__facet-text">
        Facet 1
      </div>
      <ul class="b-facet-box__facet-term-container">
        <li class="b-facet-box__facet-term-toggle" data-id="1" data-facet="Facet 1" data-term="Term 1">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 1
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="b-facet-box__facet-term-toggle" data-id="2" data-facet="Facet 1" data-term="Term 2">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 2
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="b-facet-box__facet-term-toggle" data-id="3" data-facet="Facet 1" data-term="Term 3">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 3
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
      </ul>
    </div>
    <div class="b-facet-box__facet b-facet-box__facet">
      <div class="b-facet-box__facet-text">
        Facet 2
      </div>
      <ul class="b-facet-box__facet-term-container">
        <li class="b-facet-box__facet-term-toggle" data-id="4" data-facet="Facet 2" data-term="Term 1">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 4
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="b-facet-box__facet-term-toggle" data-id="5" data-facet="Facet 2" data-term="Term 2">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 5
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="b-facet-box__facet-term-toggle" data-id="6" data-facet="Facet 2" data-term="Term 3">
          <a class="b-facet-box__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="b-facet-box__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="b-facet-box__facet-term-toggle-text">
            Term 6
          </span>
          <span class="b-facet-box__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
      </ul>
    </div>
    <div class="b-facet-box__facet">
      <div class="b-facet-box__facet-text">
        Dates
      </div>
      <div class="b-facet-box__facet-term-container b-facet-box__facet-date-container">
        <div class="b-facet-box__facet-date-container-start">
          <label class="b-facet-box__facet-date-label">
            From year:
          </label>
          <input class="b-facet-box__facet-date-input" placeholder="Year" type="number" name="date-start">
        </div>
        <div class="b-facet-box__facet-date-container-end">
          <label class="b-facet-box__facet-date-label">
            To year:
          </label>
          <input class="b-facet-box__facet-date-input" placeholder="Year" type="number" name="date-end">
        </div>
        <div class="b-facet-box__facet-date-container-button">
          <label class="b-facet-box__facet-date-label">
            &nbsp;
          </label>
          <button class="b-facet-box__facet-date-button">
            <svg class="b-facet-box__facet-date-button-icon" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#search"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
