.b-annotated-tour-preview {
  background-color: siteColor(vam-black);
  height: 500px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  &__content  {
    height: 100%;
    width: 100%;
  }

  &__overlay {
    background-color: rgba(siteColor(vam-black), .5);
    height: 100%;
    width: 100%;

    &-container {
      height: 100%;
      padding: 10px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }

  &__btn {
    margin: auto;

    &-container {
      display: flex;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  &__image {
    display: block;
    height: 100%;
    margin: auto;
    
    .objectfit & {
      object-fit: cover;
      width: 100%;
    }
  }
}
