@use "../../mixins";
@use "../../base";

.b-card {
  background: base.sitecolors-siteColor("vam-white");
  border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
  color: base.sitecolors-siteColor("vam-black");
  display: block;
  min-height: 380px;
  overflow: hidden;
  position: relative;

  @include mixins.breakpoints-bpMinXSmall {
    min-height: 480px;
  }

  /* default focus style can be clipped if inside a carousel */
  @include mixins.focus-raisedPseudoFocus;

  &__image-container {
    overflow: hidden;
  }

  &__image {
    border-radius: 2px 2px 0 0;
    height: 160px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.25s ease-out;
    width: 100%;

    @include mixins.breakpoints-bpMinXSmall {
      height: 190px;
    }
  }

  &--picture-card-top-aligned &__image {
    object-position: center top;
  }

  &__info-container {
    max-width: 340px;
    padding: 8px 10px;
    position: relative;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      max-width: 420px;
    }

    @include mixins.breakpoints-bpMinSmall {
      max-width: 532px;
    }
  }

  &__heading {
    @include base.typography-typeSetting(4, "bold");
    @include base.typography-lineheight(3);

    margin-bottom: 8px;

    @include mixins.breakpoints-bpMinXSmall {
      @include base.typography-typeSetting(5, "bold");
      @include base.typography-lineheight(4);
    }
  }

  &__synopsis {
    @include base.typography-typeSetting(3);
    @include base.typography-lineheight(1);

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin-bottom: 24px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mixins.breakpoints-bpMinXSmall {
      @include base.typography-typeSetting(4);
      @include base.typography-lineheight(3);
    }
  }

  .u-icon-label-tag {
    top: 128px;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      top: 158px;
    }
  }

  .u-label-tag {
    left: 10px;
    margin: 0;
    top: 124px;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      top: 154px;
    }
  }

  &--featured {
    .b-card__heading {
      @include mixins.breakpoints-bpMinMedium {
        @include base.typography-typeSetting(6, "bold");
        @include base.typography-lineheight(6);
      }
    }

    .b-card__synopsis {
      @include mixins.breakpoints-bpMinMedium {
        @include base.typography-typeSetting(5);
        @include base.typography-lineheight(4);
      }
    }

    @include mixins.breakpoints-bpMinMedium {
      border-bottom: none;
      display: flex;
      gap: 20px;

      .b-card__image-container,
      .b-card__info-container {
        flex: 1 1 0;
      }

      .b-card__info-container {
        border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
        max-width: none;
        padding: 16px 20px 16px 0;
        position: static;
      }

      .u-icon-label-tag,
      .u-label-tag {
        bottom: 10px;
        top: auto;
      }

      .b-card__image {
        border-radius: 2px 0 0 2px;
        height: 100%;
        position: static;
      }
    }

    @include mixins.breakpoints-bpMinLarge {
      gap: 30px;

      .b-card__info-container {
        padding-right: 30px;
      }
    }

    &.b-card--picture-card {
      @include mixins.breakpoints-bpMinMedium {
        display: block;

        .b-card__image {
          border-radius: 2px;
        }

        .b-card__info-container {
          border-bottom: none;
          max-width: 532px;
          padding: 198px 10px 8px;
          position: relative;
        }

        .u-icon-label-tag {
          bottom: initial;
          top: 158px;
        }
      }
    }
  }

  &--picture-card {
    border-bottom: none;
    color: base.sitecolors-siteColor("vam-white");

    &::after {
      background:
        linear-gradient(
          180deg, rgba(0, 0, 0, 0%) 0%,
          rgba(0, 0, 0, 78%) 57%,
          rgba(0, 0, 0, 90%) 71%,
          #000 100%
        );
      border-radius: 2px;
      content: "";
      inset: 0;
      opacity: 0.65;
      position: absolute;
    }

    .b-card__image {
      border-radius: 2px;
      height: 100%;
      position: absolute;
    }

    .b-card__info-container {
      padding-top: 160px;

      @include mixins.breakpoints-bpMinXSmall {
        padding-top: 198px;
      }
    }
  }

  &:visited {
    color: base.sitecolors-siteColor("vam-grey-3");
  }

  &--picture-card:visited {
    color: base.sitecolors-siteColor("vam-white");
  }

  &:hover &__image,
  &:focus-visible &__image {
    transform: scale(1.1);
  }
}
