.b-section-header {
  background: siteColor(vam-white);
  padding: 21px $spacing-small 25px;

  @include bpMinXSmall {
    padding: 28px $spacing-small 32px;
  }

  @include bpMinSmall {
    padding: 47px $spacing-small $spacing-medium;
  }

  &--transparent {
    background: transparent;
  }

  &__title {
    @include typeSetting(2, bold);
    color: siteColor(vam-black);
    display: block;
    text-align: center;

    @include bpMinXSmall {
      @include typeSetting(3, bold);
    }

    @include bpMinSmall {
      @include typeSetting(5, bold);
    }

    .b-section-header--transparent & {
      color: siteColor(vam-white);
    }
  }
}
