@use "../../mixins";
@use "../../base";

.b-section-header {
  background: base.sitecolors-siteColor("vam-white");
  clear: both;
  color: base.sitecolors-siteColor("vam-black");
  margin: 21px base.$spacings-spacing-small 25px;

  @include mixins.breakpoints-bpMinXSmall {
    margin: 28px base.$spacings-spacing-small 32px;
  }

  @include mixins.breakpoints-bpMinSmall {
    margin: 47px base.$spacings-spacing-small base.$spacings-spacing-medium;
  }

  &__title {
    @include base.typography-typeSetting(6, "bold");

    display: block;
    text-align: center;
  }

  &__subtitle {
    @include base.typography-typeSetting(5, "bold");

    margin-top: 13px;
    text-align: center;
  }

  &__copy {
    @include base.typography-typeSetting(4);

    margin: 13px auto 0;
    max-width: 720px;
    text-align: center;
  }

  &__cta {
    display: flex;
    justify-content: flex-end;
    margin-top: 13px;

    > .u-btn {
      margin: 0;
    }
  }

  &--transparent {
    background: transparent;
    color: base.sitecolors-siteColor("vam-white");
  }

  &--compact {
    padding-bottom: base.$spacings-spacing-xsmall;
  }

  &--alternate {
    margin: 0 0 20px;

    @include mixins.breakpoints-bpMinSmall {
      margin-bottom: 40px;
    }

    @include mixins.breakpoints-bpMinMedium {
      margin-bottom: (base.$spacings-spacing-small * 6.5);
    }

    & .b-section-header__title {
      padding: 10px 15px;

      &::before {
        color: base.sitecolors-siteColor("vam-grey-4");
        content: "\\\\" / "";
        display: block;
        font-size: 16px;
        letter-spacing: 7px;
        margin-bottom: 20px;
      }
    }
  }

  &--alternate-image {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-bottom: 40px;
    position: relative;
    transition: height 0.5s, margin 0.5s;

    @include mixins.breakpoints-bpMinSmall {
      margin-bottom: 60px;
    }

    @include mixins.breakpoints-bpMinMedium {
      height: 340px;
    }

    & .b-section-header__media-image {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    & .b-section-header__title {
      align-self: center;
      background: base.sitecolors-siteColor("vam-white");
      bottom: -26px;
      position: absolute;

      &::before {
        display: none;
      }
    }
  }
}
