<header class="b-section-header{% for m in modifiers %} b-section-header--{{ m }}{% endfor %}">
  {% if modifiers and 'alternate-image' in modifiers %}
    <img alt=""
      class="b-section-header__media-image"
      itemprop="image"
      sizes="100vw"
      srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
      src="{{ image[640] }}"
      loading="lazy">
  {% endif %}

  <h2 class="b-section-header__title">{{ title }}</h2>
  {% if subtitle %}
  <h3 class="b-section-header__subtitle">{{ subtitle }}</h3>
  {% endif %}
  {% if copy %}
  <p class="b-section-header__copy">{{ copy }}</p>
  {% endif %}
  {% if cta %}
  <div class="b-section-header__cta">
    <a class="u-btn u-btn--outlined-inverse u-btn--micro" href="#0">{{ cta }}</a>
  </div>
  {% endif %}
</header>
