.stc-lead-image {
  max-width: 756px;
  box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 0.33);
  border: solid 1px #b7b8bd;

  &:hover {
    border: solid 1px #ffffff;
  }

  &__media {
    @include constrainedImage(27 17);
  }

  &__media-inner {
    @include constrainedImageInner;
    overflow: hidden;
  }

  &__media-image {
    @include constrainedImageImage;
    border-radius: 2px 2px 0 0;
  }
}
