<div class="fr-bg--dark">
  <div class="b-membership-upsell">
    <section class="b-membership-upsell__promo">
      <div class="b-membership-upsell__content">
        <p class="b-membership-upsell__title">
          Members go free
        </p>
        <p class="b-membership-upsell__description">
          Enjoy unlimited free entry to all our exhibitions from as little as £57
        </p>
  
        <ul class="b-membership-upsell__list">
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="/assets/svg/svg-template.svg#tick-circle"></use>
            </svg>
            No booking necessary
          </li>
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="/assets/svg/svg-template.svg#tick-circle"></use>
            </svg>
            Access to our stunning members' room with restaurant and bar
          </li>
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="/assets/svg/svg-template.svg#tick-circle"></use>
            </svg>
            Members’ Previews of major exhibitions and new galleries
          </li>
        </ul>
          <a href="#" class="u-btn u-btn--outlined u-btn--arrowed b-membership-upsell__button">
            Become a Member
          </a>
          <a href="#" class="b-membership-upsell__link">
            <span class="u-link--border">
              Become a Member
            </span>
            <span class="u-link--arrow">
            </span>
          </a>
      </div>
    </section>
    <div class="b-membership-upsell__navigation">
      <a href="#" class="u-btn u-btn--arrowed b-membership-upsell__navigation--button">
          continue to booking
      </a>
    </div>
  </div>
</div>
