<div class="b-membership-upsell__overlay">
  <div class="b-membership-upsell">
    <section class="b-membership-upsell__promo">
      <div class="b-membership-upsell__content">
        <p class="b-membership-upsell__title">
          {{title}}
        </p>
        <p class="b-membership-upsell__description">
          {{body}}
        </p>
  
        <ul class="b-membership-upsell__list">
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#tick-circle"></use>
            </svg>
            {{listItems.first}}
          </li>
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#tick-circle"></use>
            </svg>
            {{listItems.second}}
          </li>
          <li class="b-membership-upsell__list--item">
            <svg role="img" class="b-membership-upsell__list--item-point">
              <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#tick-circle"></use>
            </svg>
            {{listItems.third}}
          </li>
        </ul>
          <a href="#" class="u-btn u-btn--outlined u-btn--arrowed b-membership-upsell__button">
            {{cta}}
          </a>
          <a href="#" class="u-btn u-btn--arrowed b-membership-upsell__navigation--button">
              {{continue}}
          </a>
      </div>
    </section>
  </div>
</div>
