<div class="fr-bg--dark">
  <div class="b-membership-upsell">
    <section class="b-membership-upsell__promo">
      <div class="b-membership-upsell__content">
        <p class="b-membership-upsell__title">
          Members Go Free
        </p>
        <p class="b-membership-upsell__description">
          Enjoy unlimited free entry to all our exhibitions from as little as £57
        </p>
  
        <ul class="b-membership-upsell__list">
          <li class="b-membership-upsell__list--item">
            No booking necessary
          </li>
          <li class="b-membership-upsell__list--item">
            Access to our stunning members' room with restaurant and bar
          </li>
          <li class="b-membership-upsell__list--item">
            Members’ Previews of major exhibitions and new galleries
          </li>
        </ul>
        <a href="#" class="u-link--border u-link--arrow">
          Become a Member
        </a>
      </div>
    </section>
    <div class="b-membership-upsell__navigation">
      <a href="#" class="u-btn u-btn--arrowed">
        continue to booking
      </a>
    </div>
  </div>
</div>
