<section class="" id="shop-items">

  <header class="b-section-header">
    <h2 class="b-section-header__title">{{ title }}</h2>
  </header>

  <div class="b-carousel">
    <div class="b-carousel__viewport" tabindex="-1">

      <div class="b-carousel__list">
        {% for shopitem in promoitems %}
        <figure class="b-shop-product__item b-carousel__item">
          <a href="{{ shopitem.url }}">
            <img alt="{{ shopitem.title }}" itemprop="image" sizes="100vw" srcset="{{ shopitem.image["320"] }} 320w, {{ shopitem.image["640"] }} 640w," src="{{ shopitem.image["960"] }}" loading="lazy">
            <figcaption>
              {% if shopitem.customlabel %}
                <div class="b-label b-shop-product__label">
                  <span class="u-priceinfo u-priceinfo--custom">{{ shopitem.customlabel }}</span>
                </div>
              {% elif shopitem.onsale  %}
                <div class="b-label b-shop-product__label">
                  <span class="u-priceinfo u-priceinfo--promotion">Sale</span>
                </div>
              {% endif %}

              <h2 class="b-shop-product__title">{{ shopitem.title }}</h2>
              <p class="b-shop-product__description">

                <meta itemprop="priceCurrency" content="GBP">
                <span class="u-value{% if shopitem.onsale %} s-strike-through{% endif %}" itemprop="price" content="{{ shopitem.price }}">{{ shopitem.price }}</span>
                {% if shopitem.onsale %}
                  <span class="u-value u-sale-price" itemprop="price" content="{{ shopitem.saleprice }}">{{ shopitem.saleprice }}</span>
                {% endif %}
              </p>

            </figcaption>
          </a>
        </figure>
        {% endfor %}

      </div>

    </div>

    <div class="b-carousel__ctrls">
      <button class="js-carousel__ctrl--prev u-btn-icon u-btn-icon--point-left" disabled
        title="Previous">Previous</button>
      <button class="js-carousel__ctrl--next u-btn-icon u-btn-icon--point-right" title="Next">Next</button>
    </div>

  </div>


  <footer class="b-shop-product__footer">
    <a href="#" class="u-btn u-btn--block u-btn--black u-btn--arrowed">
      Browse the V&A Shop
    </a>
  </footer>
</section>
