.b-search-results-section-objects {
  height: 380px;
  background-color: siteColor(vam-white);
  padding: 45px;
  width: 100%;

  &__content {
    display: block;

    &--link {
      @include typeSetting(4, normal);
      color: siteColor(vam-grey-2);

      &-icon {
        height: 16px;
        margin-right: 2px;
        position: relative;
        top: 2px;
        width: 16px;

      }
    }

    &--results {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &--title {
      @include typeSetting(5, bold);
      margin: 0 5px 35px 5px;
      color: siteColor(vam-black);
      bottom: auto;
    }
  }
}
