.b-search-box {
  &__form {
    @include bpMinXSmall {
      max-width: 100%;
    }

    margin: auto;
    position: relative;
    width: 100%;

    &-logo-container {
      display: none;
      &--listing {
        display: none;

        @include bpMinXSmall {
          display: block;
        }
      }
    }

    &-logo {
      color: siteColor(vam-grey-3);

      @include bpMinXSmall {
        height: 75.6px;
        margin-left: 10px;
        width: 130.3px;
      }

      @include bpMinMedium {
        height: 118px;
        margin-left: 31px;
        width: 203px;
      }
    }

    &-fields {
      position: relative;
      @include bpMinXSmall {
        display: flex;
        flex-direction: row;
      }

      &-field {
        @include typeSetting(3, regular);
        border: 1px solid white;
        border-radius: 2px;
        flex-grow: 1;
        height: 46px;
        padding: 15px;
        text-align: left;
        width: 100%;

        &--listing {
          @include bpMinSmall {
            @include typeSetting(4, regular);
            height: 46px;
          }

          @include bpMinMedium {
            @include typeSetting(5, regular);
            font-size: 20px;
            height: 60px;
          }
        }

        &--start {
          @include bpMinSmall {
            @include typeSetting(5, regular);
            height: 64px;
          }

          @include bpMinMedium {
            height: 74px;
          }
        }

        &::placeholder {
          color: siteColor(vam-grey-4);
        }

        &:focus {
          border: 1px solid themeColor(silent-green);
          outline: none;
        }
      }
    }

    &-submit {
      background-color: themeColor(silent-green);
      border-color: themeColor(silent-green);
      border-radius: 0 2px 2px 0;
      font-size: 12px;
      height: 46px;
      margin: 0;
      padding: 14px 10px 14px 4px;
      position: absolute;
      right: 0;
      top: 0;
      width: 88px;
      z-index: 2;

      &--listing {
        background-color: siteColor(vam-white);
        border-color: siteColor(vam-white);
        width: 100px;

        @include bpMinXSmall {
          font-size: 14px;
          height: 46px;
          margin-right: 141px;
          padding: 14px 0;
          width: 124px;
        }

        @include bpMinMedium {
          font-size: 16px;
          height: 57px;
          letter-spacing: 4.15px;
          line-height: 1.33;
          margin-right: 234px;
          padding: 18px 20px 18px 0;
          width: 150px;
        }

        &:hover {
          background-color: siteColor(vam-white);
          border-color: siteColor(vam-white);
          text-decoration: underline;
        }

      }

      &--start {
        @include bpMinSmall {
          font-size: 14px;
          height: 64px;
          padding: 23px 12px 23px 0;
          width: 124px;
        }

        @include bpMinMedium {
          font-size: 18px;
          height: 74px;
          letter-spacing: 4.15px;
          line-height: 1.33;
          padding: 25px 0;
          padding-right: 20px;
          width: 178px;
        }

        &:hover,
        .sent & {
          background-color: darken(#ceffd6, 30);
          border-color: darken(#ceffd6, 30);
          color: siteColor(vam-black);
        }
      }
    }
  }
}

.u-btn.u-btn--arrowed.b-search-box__form-submit--start.u-btn--arrowed::after {
  margin-top: 0;
  right: 5px;
  transform: translateY(-50%);

  @include bpMinSmall {
    border-width: 6px;
    right: 15px;
  }

  @include bpMinMedium {
    right: 35px;
  }
}

.u-btn.u-btn--arrowed.b-search-box__form-submit--listing.u-btn--arrowed::after {
  @include bpMinXSmall {
    right: 10px;
  }

  @include bpMinMedium {
    border-width: 6px;
    right: 20px;
  }

  margin-top: 0;
  right: 8px;
  transform: translateY(-50%);
}
