<form action="/" method="get">
  <div class="b-search-box__form-fields">
        <input id="user_input" name="q" type="text" class="b-search-box__form-fields-field b-search-box__form-fields-field--{{ modifier }}" placeholder="Search by object, artist, maker...">
        <input id="submit" style="display:none;" type="submit" value="Search"></input>
        <a href="#" onclick="document.querySelector('#submit').click();" class="u-btn u-btn--arrowed b-search-box__form-submit b-search-box__form-submit--{{ modifier }}">
          Search
        </a>
      <div class="b-search-box__form-logo-container b-search-box__form-logo-container--{{ modifier }}">
          <svg class="b-search-box__form-logo" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#valogo"></use>
          </svg>
      </div>
  </div>
</form>