@use "../../mixins";
@use "../../base";

.b-object-details {
  color: base.sitecolors-siteColor("vam-grey-4");
  width: 100%;

  &__title {
    @include base.typography-typeSetting(5, "bold");

    color: base.sitecolors-siteColor("vam-white");
    margin-bottom: 34px;
    text-align: center;
  }

  &__row {
    border-color: base.sitecolors-siteColor("vam-grey-3");
    border-style: dashed;
    border-width: 1px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 46px;

    &:nth-last-of-type(1) {
      border-width: 1px 0;
    }

    @include mixins.breakpoints-bpMinSmall {
      flex-direction: row;
    }
  }

  &__cell {
    padding: 12px 10px 12px 0;

    @include mixins.breakpoints-bpMinSmall {
      padding: 15px 10px 14px 0;
    }
  }

  &__cell-name {
    @include base.typography-typeSetting(3, "bold");

    color: base.sitecolors-siteColor("vam-white");
    flex-shrink: 0;
    padding-bottom: 3px;

    @include mixins.breakpoints-bpMinSmall {
      padding-bottom: 14px;
      width: 165px;
    }
  }

  &__cell-data {
    @include base.typography-typeSetting(4);

    padding-left: 0;
    padding-top: 0;

    @include mixins.breakpoints-bpMinSmall {
      padding-left: 20px;
      padding-top: 10px;
    }
  }

  &__controlled-vocab-string-container {
    padding-bottom: 8px;
  }

  &__controlled-vocab {
    &-container {
      display: flex;
      flex: auto;
      flex-flow: row wrap;
    }

    &-content {
      @include base.typography-typeSetting(1);

      border: solid base.themecolors-themeColor("silent-green") 1px;
      border-radius: 4px;
      color: base.sitecolors-siteColor("vam-white");
      margin-right: 10px;
      margin-top: 12px;
      padding: 9px 10px 11px;

      &:hover {
        background-color: base.themecolors-themeColor("silent-green");
        color: base.sitecolors-siteColor("vam-grey-1");
        cursor: pointer;
      }

      @include mixins.breakpoints-bpMinSmall {
        margin-bottom: 2px;
        margin-right: 10px;
        margin-top: 6px;
        padding: 3px 9px 6px 11px;
      }
    }
  }

  &__cell-free-content {
    word-break: break-word;

    &--hidden {
      height: 200px;
      overflow: hidden;
      word-break: break-word;
    }
  }

  &__cell-concealer {
    &::before {
      background-image: linear-gradient(rgba(57, 59, 63, 0%), #393b3f);
      content: "";
      height: 100px;
      left: 0;
      position: absolute;
      top: -100px;
      width: 100%;
    }
  }

  &__cell-concealer,
  &__cell-revealer {
    @include base.typography-typeSetting(1);

    height: 40px;
    padding: 10px 10px 0 0;
    position: relative;
    text-align: left;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__cell-concealer-text {
    color: base.sitecolors-siteColor("vam-white");
    pointer-events: none;
  }

  &__cell-concealer-button {
    align-items: center;
    background-color: themeColor(silent-green);
    border-radius: 100%;
    display: inline-flex;
    height: 14px;
    justify-content: center;
    margin-left: 6px;
    position: relative;
    vertical-align: middle;
    width: 14px;

    &::before {
      background-color: base.sitecolors-siteColor("vam-black");
      content: "";
      height: 1.5px;
      position: absolute;
      width: 55%;
    }

    &--more {
      &::after {
        background-color: base.sitecolors-siteColor("vam-black");
        content: "";
        height: 55%;
        position: absolute;
        width: 1.5px;
      }
    }
  }
}
