@use "../../mixins";
@use "../../base";

.b-object-details {
  color: base.sitecolors-siteColor("vam-grey-4");
  width: 100%;

  &__title {
    @include base.typography-typeSetting(5, "bold");

    color: base.sitecolors-siteColor("vam-white");
    margin-bottom: 34px;
    text-align: center;
  }

  &__summary {
    @include base.typography-typeSetting(4, "light");
  }

  &__row {
    align-items: baseline;
    border-color: base.sitecolors-siteColor("vam-grey-3");
    border-style: dashed;
    border-width: 1px 0 0;
    display: flex;
    flex-direction: column;
    min-height: 46px;

    &:nth-last-of-type(1) {
      border-width: 1px 0;
    }

    @include mixins.breakpoints-bpMinSmall {
      flex-direction: row;
    }
  }

  &__cell {
    padding: 12px 10px 12px 0;

    @include mixins.breakpoints-bpMinSmall {
      padding: 15px 10px 14px 0;
    }
  }

  &__cell-name {
    @include base.typography-typeSetting(1);

    color: base.sitecolors-siteColor("vam-white");
    flex-shrink: 0;
    font-size: 13px;
    letter-spacing: 2px;
    padding-bottom: 3px;
    text-transform: uppercase;

    @include mixins.breakpoints-bpMinSmall {
      padding-bottom: 14px;
      width: 165px;
    }
  }

  &__cell-data {
    @include base.typography-typeSetting(3);

    padding-left: 0;
    padding-top: 0;

    @include mixins.breakpoints-bpMinSmall {
      padding-left: 20px;
      padding-top: 10px;
    }
  }

  &__controlled-vocab-string-container {
    padding-bottom: 8px;
  }

  &__controlled-vocab {
    &-container {
      display: flex;
      flex: auto;
      flex-flow: row wrap;
      gap: 10px;
      margin: 12px 0 2px;

      @include mixins.breakpoints-bpMinSmall {
        margin-top: 6px;
      }
    }

    &-content {
      @include base.typography-typeSetting(1);

      border: solid base.themecolors-themeColor("silent-green") 1px;
      border-radius: 4px;
      color: base.sitecolors-siteColor("vam-white");
      padding: 9px 10px 10px;

      &:hover {
        background-color: base.themecolors-themeColor("silent-green");
        color: base.sitecolors-siteColor("vam-grey-1");
        cursor: pointer;
      }

      @include mixins.breakpoints-bpMinSmall {
        padding: 3px 9px 5px 11px;
      }
    }
  }

  &__cell-free-content {
    word-break: break-word;

    &--hidden {
      height: 200px;
      overflow: hidden;
      word-break: break-word;
    }
  }

  &__cell-concealer {
    &::before {
      background-image: linear-gradient(rgba(57, 59, 63, 0%), #393b3f);
      content: "";
      cursor: text;
      height: 100px;
      left: 0;
      position: absolute;
      top: -100px;
      width: 100%;
    }
  }

  &__cell-concealer,
  &__cell-revealer {
    @include base.typography-typeSetting(1);

    position: relative;
  }

  &__cell-concealer-button {
    align-items: center;
    color: base.sitecolors-siteColor("vam-white");
    display: flex;
    gap: 6px;
    padding: 10px 10px 10px 0;
    position: relative;
    z-index: 1;

    &:hover {
      cursor: pointer;

      .b-object-details__cell-concealer-text {
        text-decoration: underline;
      }
    }

    &::after {
      @include base.typography-fontSize(3);

      align-items: center;
      background-color: base.themecolors-themeColor("silent-green");
      border-radius: 100%;
      color: base.sitecolors-siteColor("vam-black");
      content: "\002B";
      display: inline-flex;
      height: 14px;
      justify-content: center;
      line-height: 1;
      padding: 2px 3px 3px;
      width: 14px;
    }

    &--minus::after {
      content: "\2212";
    }
  }
}
