.b-venue-visit-lead {
  background-color: siteColor(vam-white);
  display: flex;
  flex-direction: column;
  padding: 10px;

  @include bpMinSmall {
    flex-direction: row;
    padding: 30px;
  }

  @include bpMinMedium {
    padding: 40px;
  }

  &__img {
    height: calc(80vw - 20px);
    margin-bottom: 30px;
    max-height: 374px;
    object-fit: cover;
    width: 100%;

    @include bpMinSmall {
      margin-bottom: 0;
      width: 56%;
    }
  }

  &__content {
    @include bpMinSmall {
      margin: 12px 0 0 27px;
    }

    @include bpMinMedium {
      margin-left: 42px;
    }

    @include bpMinLarge {
      margin: 16px 0 0 53px;
    }
  }
}
