@use "../../mixins";
@use "../../base";

.b-venue-visit-lead {
  background-color: base.sitecolors-siteColor("vam-white");
  display: flex;
  flex-direction: column;
  padding: 10px;

  @include mixins.breakpoints-bpMinSmall {
    flex-direction: row;
    padding: 30px;
  }

  @include mixins.breakpoints-bpMinMedium {
    padding: 40px;
  }

  &__img-link {
    margin-bottom: 30px;
    width: 100%;

    @include mixins.breakpoints-bpMinSmall {
      margin-bottom: 0;
      width: 56%;
    }
  }

  &__img {
    height: calc(80vw - 20px);
    max-height: 374px;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include mixins.breakpoints-bpMinSmall {
      margin: 12px 0 0 27px;
    }

    @include mixins.breakpoints-bpMinMedium {
      margin-left: 42px;
    }

    @include mixins.breakpoints-bpMinLarge {
      margin: 16px 0 0 53px;
    }
  }
}
