.s-themed {
  @each $color in map-keys($theme-colors) {
    .theme-#{$color} &--color {
      color: map-get($theme-colors, $color);
      transition: all .2s ease-out;

      &--hover { // sass-lint:disable-line class-name-format
        &:hover {
          color: darken(map-get($theme-colors, $color), 10%);
        }
      }
    }

    .theme-#{$color} &--color--hover { // sass-lint:disable-line class-name-format
      transition: all .2s ease-out;

      &:hover {
        color: map-get($theme-colors, $color);
      }
    }

    .theme-#{$color} &--background-color {
      background-color: map-get($theme-colors, $color);
      transition: all .2s ease-out;

      &--hover { // sass-lint:disable-line class-name-format
        &:hover {
          background-color: darken(map-get($theme-colors, $color), 10%);
        }
      }
    }

    .theme-#{$color} &--border-color,
    .theme-#{$color} &--border-color--hover:hover { // sass-lint:disable-line class-name-format
      border-color: darken(map-get($theme-colors, $color), 10%);
      transition: all .2s ease-out;
    }


    .theme-#{$color} &--border-color { // sass-lint:disable-line class-name-format
      border-color: map-get($theme-colors, $color);
    }

    // This was breaking when chained with the above.
    // Duplicated the hover styling into it's own declaration for now.
    .theme-#{$color}--border-color--hover:hover { // sass-lint:disable-line class-name-format
      border-color: map-get($theme-colors, $color);
    }
  }
}
