:root {
  --theme-color: #{themeColor($theme-color-default)};
}

.s-themed {
  &#{&}#{&}--color {
    color: var(--theme-color);
    transition: color .2s ease-out, border-color .2s ease-out;

    &#{&}#{&}--hover:hover { // sass-lint:disable-line class-name-format
      filter: brightness(.9);
    }
  }

  &#{&}#{&}--background-color {
    background-color: var(--theme-color);
    transition: background-color .2s ease-out;

    &#{&}#{&}--hover:hover { // sass-lint:disable-line class-name-format
      filter: brightness(.9);
    }
  }

  &#{&}#{&}--border-color { // sass-lint:disable-line class-name-format
    border-color: var(--theme-color);

    &#{&}#{&}--hover:hover { // sass-lint:disable-line class-name-format
      filter: brightness(.9);
    }
  }
}
