@use "../../mixins";
@use "../../base";

.b-venue-core-info {
  background-color: base.$themecolors-theme-color-default;

  @include mixins.breakpoints-bpMinSmall {
    display: flex;
  }

  &__img-container {
    height: 150px;
    position: relative;

    @include mixins.breakpoints-bpMinXSmall {
      height: 200px;
    }

    @include mixins.breakpoints-bpMinSmall {
      flex: 1 0 320px;
      height: auto;
      min-height: 310px;
    }

    @include mixins.breakpoints-bpMinMedium {
      flex-basis: 412px;
      min-height: 400px;
    }

    @include mixins.breakpoints-bpMinLarge {
      flex-basis: 480px;
      min-height: 470px;
    }
  }

  &__img-badge {
    @include base.typography-typeSetting(2, "light");

    background-color: rgba(255, 255, 255, 80%);
    padding: 3px 6px;
    position: absolute;

    @include mixins.breakpoints-bpMaxSmall {
      bottom: 10px;
      left: 10px;
    }

    @include mixins.breakpoints-bpMinSmall {
      right: 20px;
      top: 20px;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include base.typography-typeSetting(4, "light");

    padding: 20px 10px;

    @include mixins.breakpoints-bpMinXSmall {
      display: flex;
    }

    @include mixins.breakpoints-bpMinSmall {
      flex: 0 1 auto;
      flex-direction: column;
      padding: 30px 87px 30px 50px;
    }

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(5, "light");

      padding: 50px 100px 50px 60px;
    }

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(6, "light");

      padding: 50px 94px 50px 70px;
    }

    &__info {
      @include mixins.breakpoints-bpMinXSmall {
        margin: -17px 0 0 30px;
      }

      @include mixins.breakpoints-bpMinSmall {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  &__address {
    @include base.typography-typeSetting(3, "light");

    align-items: center;
    column-gap: 8px;
    display: flex;
    margin: 20px 0 30px;

    @include mixins.breakpoints-bpMinXSmall {
      align-items: flex-start;
    }

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "light");

      align-items: center;
    }

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(5, "light");
    }

    &::before {
      height: 24px;
      width: 24px;
    }
  }

  &__button {
    margin: 0;
    white-space: nowrap;

    @include mixins.breakpoints-bpMinSmall {
      align-self: flex-end;
    }
  }
}
