.b-venue-core-info {
  background-color: $theme-color-default;

  @include bpMinSmall {
    display: flex;
  }

  &__img-container {
    height: 150px;
    position: relative;

    @include bpMinXSmall {
      height: 200px;
    }

    @include bpMinSmall {
      flex: 1 0 320px;
      height: auto;
      min-height: 310px;
    }

    @include bpMinMedium {
      flex-basis: 412px;
      min-height: 400px;
    }

    @include bpMinLarge {
      flex-basis: 480px;
      min-height: 470px;
    }
  }

  &__img-badge {
    @include typeSetting(2, light);
    background-color: rgba(255, 255, 255, .8);
    padding: 3px 6px;
    position: absolute;

    @include bpMaxSmall {
      bottom: 10px;
      left: 10px;
    }

    @include bpMinSmall {
      right: 20px;
      top: 20px;
    }
  }

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    @include typeSetting(4, light);
    padding: 20px 10px;

    @include bpMinXSmall {
      display: flex;
    }

    @include bpMinSmall {
      flex: 0 1 auto;
      flex-direction: column;
      padding: 30px 50px;
    }

    @include bpMinMedium {
      @include typeSetting(5, light);
    }

    @include bpMinLarge {
      @include typeSetting(6, light);
    }

    &__info {
      @include bpMinXSmall {
        margin: -17px 0 0 30px;
      }

      @include bpMinSmall {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  &__address {
    @include typeSetting(3, light);
    margin: 20px 0 30px;

    @include bpMinSmall {
      @include typeSetting(4, light);
    }

    @include bpMinLarge {
      @include typeSetting(5, light);
    }

    > svg {
      height: 18px;
      margin: 0 2px 0 -4px;
      width: 18px;
    }
  }

  &__button {
    margin: 0;
    white-space: nowrap;

    @include bpMinSmall {
      align-self: flex-end;
    }
  }
}
