.b-venue-core-info {
  background-color: red;
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  width: 100%;

  @include bpMinSmall {
    display: flex;
    height: 312px;
  }

  @include bpMinMedium {
    height: 403px;
  }

  @include bpMinLarge {
    height: 470px;
  }

  &__statement {

    @include bpMinXSmall {
      max-width: 65%;
      padding-right: 15px;
    }

    @include bpMinSmall {
      margin-bottom: 30px;
      max-width: none;
    }

    @include bpMinMedium {
      font-size: 23px;
      line-height: 32px;
    }

    @include bpMinLarge {
      font-size: 31px;
      line-height: 42px;
    }

    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
    max-width: 555px;
  }

  &__content {
    flex-direction: column;

    @include bpMinXSmall {
      flex-direction: row;
    }

    @include bpMaxSmall {
      display: flex;
    }

    @include bpMinSmall {
      display: block;
    }
  }

  &__button-container {
    @include bpMinXSmall {
      width: 30%;
    }

    @include bpMinSmall {
      display: block;
      width: 100%;
    }
  }

  &__content-container {
    @include bpMinSmall {
      float: right;
      padding: 30px 50px 30px;
      width: 60%;
    }

    @include bpMinSmall {
      flex: 1 2 60%;
      padding: 50px 50px 30px;
    }

    @include bpMinLarge {
      padding: 50px 50px;
    }

    height: 100%;
    overflow: auto;
    padding: 20px 10px;
    position: relative;
    width: 100%;

    button {
      display: block;
      font-size: 15px;
      margin: 0;
      position: relative;

      @include bpMaxXSmall {
        padding: 5px 10px;
      }

      @include bpMinXSmall {
        margin-left: 24px;
        margin-top: 20px;
      }

      @include bpMaxLarge {
        padding: 10px 25px 10px 20px;
      }

      @include bpMaxMedium {
        padding: 6px 25px 6px 15px;
        &:after {
          margin-top: -3px;
          right: 7px;
        }
      }

      @include bpMinSmall {
        bottom: 30px;
        float: right;
        margin: 0;
        position: absolute;
        right: 60px;

        &:after {
          right: 2px;
        }
      }

      @include bpMinMedium {
        bottom: 30px;
        right: 50px;
        &:after {
          margin-top: -3px;
          right: 7px;
        }
      }

      @include bpMinLarge {
        bottom: 50px;
        font-size: 17px;
        right: 50px;
        &:after {
          margin-top: -4px;
          right: 10px;
        }
      }
    }

    span {
      height: 20px;
      position: relative;
    }

    svg {
      @include bpMaxSmall {
        right: 5px;
      }

      height: 22px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
    }

    address {
      @include bpMinXSmall {
        margin-bottom: 0;
        margin-left: 27px;
      }

      @include bpMaxXSmall {
        font-size: 15px;
      }

      @include bpMinSmall {
        display: block;
        margin-left: 0;
        padding: 0 0 30px 30px;
        width: auto;
      }

      @include bpMinMedium {
        padding: 0 0 90px 30px;
      }

      @include bpMinLarge {
        font-size: 23px;
        padding: 0 0 100px 30px;
      }

      font-size: 17px;
      margin-bottom: 30px;
      margin-left: 25px;
    }
  }
  &__img-container {
    @include bpMinSmall {
      float: left;
      width: 40%;
    }
    height: auto;
    position: relative;
    width: 100%;
    @include bpMinXSmall {
      flex: 0;
    }

    @include bpMinSmall {
      flex-basis: 319px;
    }

    @include bpMinMedium {
      flex-basis: 412px;
    }

    @include bpMinLarge {
      flex-basis: 480px;
    }
  }
  &__img-badge {
    @include bpMaxSmall {
      bottom: 10px;
      left: 10px;
    }

    @include bpMinSmall {
      right: 20px;
      top: 20px;
    }

    background-color: rgba(255, 255, 255, .8);
    padding: 3px 6px;
    position: absolute;
  }

  &__img {
    @include bpMinSmall {
      max-height: none;
    }

    height: 100%;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }
}
