<section class="b-venue-core-info s-themed s-themed--background-color">
  <div class="b-venue-core-info__img-container">
    <div class="b-venue-core-info__img-badge">Opening 2023</div>
    <picture>
      <source srcset="{% for k, img in imageLandscape %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
          media="(max-width: 768px)">
      <img class="b-venue-card__image"
          itemprop="contentUrl"
          alt="" 
          sizes="(min-width: 1200px) 480px,
                      (min-width: 992px) 412px,
                      (min-width: 768px) 320px,
                      calc(100vw - 20px)"
          srcset="{% for k, img in imageSquare %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
          src="{{ imageSquare[320] }}"
          loading="lazy">
    </picture>
  </div>
  <div class="b-venue-core-info__content">
    <div>
      <p>Wagon Wheels are a delicious sweet snack food sold in the United Kingdom, Australia, Canada, and many other countries like New Zealand and India</p>
      <p>Wagon Wheels are a delicious sweet snack food sold in the United Kingdom, Australia, Canada, and many other countries like New Zealand and India</p>
    </div>
    <div class="b-venue-core-info__content__info">
      <address class="b-venue-core-info__address b-icon-list__icon b-icon-list__icon--pin" title="Venue location">
        Cromwell Road, London
      </address>
      <a class="b-venue-core-info__button u-btn u-btn--black u-btn--arrowed" href="#">Plan your visit</a>
    </div>
  </div>
</section>
