<section class="b-venue-core-info">
  <div class="b-venue-core-info__img-container">
    <div class="b-venue-core-info__img-badge">Opening 2023</div>
    <img class="b-venue-core-info__img" src="https://vanda-production-assets.s3.amazonaws.com/2021/05/14/09/14/55/3cfa92bd-4f1c-4d13-a0cc-840a3f60bf41/Hotels-header-1280.jpg" />
  </div>
  <div class="b-venue-core-info__content-container">
    <article class="b-venue-core-info__content">
      <p class="b-venue-core-info__statement">Wagon Wheels are a delicious sweet snack food sold in the United Kingdom, Australia, Canada, and many other countries like New Zealand and India</p>
      <div class="b-venue-core-info__button-container">
        <address><span><svg aria-hidden="true" role="img"><use xlink:href="/assets/svg/svg-template.svg#pin"></use></svg></span>Cromwell Road, London</address>
        <button class="u-btn u-btn--black">
          Plan A Visit
        </button>
      </div>
    </article>
  </div>
</section>
