<nav class="b-breadcrumb">
  <div class="b-breadcrumb__section">
    <div class="b-breadcrumb__section-decor">
    </div>
    <div class="b-breadcrumb__section-item">
      <a class="u-link u-link--no-decor" href="#0">Parent section</a>
      <div class="b-breadcrumb__section">
        <div class="b-breadcrumb__section-decor">
        </div>
        <div class="b-breadcrumb__section-item">
          <a class="u-link u-link--no-decor" href="#0">Child section with a longer title</a>
          <div class="b-breadcrumb__section">
            <div class="b-breadcrumb__section-decor">
            </div>
            <div class="b-breadcrumb__section-item">
              <a class="u-link u-link--no-decor" href="#0">Deeper nested section titles typically get longer</a>
              <div class="b-breadcrumb__section">
                <div class="b-breadcrumb__section-decor">
                </div>
                <div class="b-breadcrumb__section-item">
                  <a class="u-link u-link--no-decor" href="#0" aria-current="page">Record with a very long title, quite likely even longer than this in many cases</a>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
