<div style="background-color: black;">
	<div class="search-pagination">
		<span class="search-pagination__prev-link search-pagination__prev-link--inactive">
			<span class="search-pagination__caret"><</span> <span class="search-pagination__link-text">Previous</span>
		</span>
		<div class="search-pagination__page-button-container">
			<button page-index="1" class="search-pagination__page-button search-pagination__page-button-first search-pagination__page-button--current">
				01
			</button>
			<span class="search-pagination__page-button-seperator-start search-pagination__page-button-seperator-start--inactive">
				...
			</span>
			<button page-index="2" class="search-pagination__page-button">
				02
			</button>
			<button page-index="3" class="search-pagination__page-button">
				03
			</button>
			<span class="search-pagination__page-button-seperator-middle search-pagination__page-button-seperator-middle--inactive">
				...
			</span>
			<button page-index="4" class="search-pagination__page-button">
				04
			</button>
			<button page-index="5" class="search-pagination__page-button search-pagination__page-button-last">
				05
			</button>
			<button page-index="6" class="search-pagination__page-button search-pagination__page-button-last">
				06
			</button>
			<button page-index="7" class="search-pagination__page-button search-pagination__page-button-last">
				07
			</button>
			<button page-index="8" class="search-pagination__page-button search-pagination__page-button-last">
				08
			</button>	
			<span class="search-pagination__page-button-seperator-last search-pagination__page-button-seperator-last--inactive">
				...
			</span>
			<button page-index="9" class="search-pagination__page-button search-pagination__page-button-last">
				09
			</button>	
		</div>
		<span class="search-pagination__next-link">
			 <span class="search-pagination__link-text">Next</span> <span class="search-pagination__link-caret">></span>
		</span>
	</div>
</div>