.b-venue-teaser {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  width: 100%;

  @include bpMinXSmall {
    margin-bottom: 32px;
    width: 50%;
  }

  @include bpMinMedium {
    width: 50%;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    position: relative;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    &:hover + ul,
    &:focus + ul {
      border-bottom: 1px solid siteColor(vam-grey-4);
    }

    &:hover h2,
    &:focus h2 {
      text-decoration: underline;
    }
  }

  &__media {
    margin-bottom: 6px;
    overflow: hidden;
    padding-top: 66.67%;
    position: relative;

    @include bpMinXSmall {
      margin-bottom: 10px;
    }

    &:after {
      background-image: linear-gradient(rgba(siteColor(vam-black), .35), rgba(siteColor(vam-black), 0));
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity .35s ease;
      width: 100%;
      z-index: 0;

      .b-venue-teaser__link:hover &,
      .b-venue-teaser__link:focus & {
        opacity: 1;
      }
    }
  }

  &__media-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;

    &.s-lazyload--error {
      margin-top: -66.67%;
      padding-top: 66.67% !important; // sass-lint:disable-line no-important
    }
  }

  &__info {
    padding-bottom: 20px;

    @include bpMinXSmall {
      min-height: 310px;
    }

    @include bpMinSmall {
      min-height: 150px;
    }

    @include bpMinMedium {
      min-height: 210px;
      padding-bottom: 60px;
    }

    .b-icon-list {
      &__item {
        margin-bottom: 15px;

        &__content {
          margin-left: 0;
          padding-top: 5px;

          @include bpMinSmall {
            padding-top: 0;
          }
        }
      
        &__heading {
          @include typeSetting(1, regular);

          @include bpMinSmall {
            @include typeSetting(4, regular);
          }
        }
      }
    }
  }

  &__title {
    @include typeSetting(4, bold);
    margin: 4px 0 8px;

    @include bpMinSmall {
      @include typeSetting(5, bold);
    }

    @include bpMinXSmall {
      margin: 10px 0 10px;
    }

    &-icon {
      color: siteColor(vam-black);
      height: 14px;
      margin-left: 5px;
      width: 14px;
    }
  }

  &__description {
    @include typeSetting(4, regular);
    color: siteColor(vam-black);
    flex-grow: 3;
    margin-bottom: 10px;
    position: relative;

    @include bpMinXSmall {
      margin-bottom: 20px;
    }

    @include bpMinSmall {
      @include typeSetting(5, regular);
    }

    @include bpMinMedium {
      margin-bottom: 15px;
    }
  }

  &__footer {
    border-bottom: 1px solid siteColor(vam-grey-6);
    column-gap: 10px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 6px 15px;

    .u-btn {
      border: 1px solid siteColor(vam-black);
      column-gap: 6px;
      display: flex;
      margin: 10px 0;

      &:hover,
      &:focus {
        background-color: siteColor(vam-grey-5);
        outline: none;
      }
    }

    .b-icon-list__item__icon {
      margin: 0;
    }
  }
}
