<div class="b-venue-teaser" itemscope itemprop="place" itemtype="http://schema.org/Place">

  <a class="b-venue-teaser__link" itemprop="url" content="{{ url }}" href="{{ url }}">

    <div class="u-label-tag u-label-tag--venue">optional status tag</div>

    <div class="b-venue-teaser__media">
      <img alt="{{ title }}"
           class="b-venue-teaser__media-image"
           itemprop="image"
           sizes="(max-width: 499px) calc(100vw - 20px),
                  (min-width: 500px) calc(50vw - 40px),
                  (min-width: 992px) calc(33vw - 80px)"
           srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
           src="{{ image[640] }}"
           loading="lazy">
    </div>

    <div class="b-venue-teaser__info">
      <h2 class="b-venue-teaser__title" itemprop="name" content="{{ title }}">
        {{ title }}
      </h2>

      <p class="b-venue-teaser__description" itemprop="description" content="{{ description }}">
        {{ description }}
      </p>

      <div class="b-icon-list">
        <ul class='b-icon-list__list'>
          <li class='b-icon-list__item b-icon-list__icon b-icon-list__icon--map'>
            <div class="b-icon-list__content">
              <p itemprop="address" class="b-icon-list__item-text">{{ address }}</p>
            </div>
          </li>
          <li class='b-icon-list__item b-icon-list__icon b-icon-list__icon--clock'>
            <div class="b-icon-list__content" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
              <p itemprop="description" class="b-icon-list__item-text">{{ admission_info|safe }}</p>
            </div>
          </li>
        </ul>
      </div>  
    </div>
  </a>

  <ul class="b-venue-teaser__footer">
    {% for action in actions %}
    <li>
      <a class="u-btn u-btn--micro u-btn--outlined" href="#">
        {{ action }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
