<div class="b-venue-teaser" itemscope itemprop="place" itemtype="http://schema.org/Place">

  <a class="b-venue-teaser__link" itemprop="url" content="{{ url }}" href="{{ url }}">

    <div class="u-label-tag u-label-tag--venue">optional status tag</div>

    <div class="b-venue-teaser__media">
      <img alt="{{ title }}"
           class="b-venue-teaser__media-image"
           itemprop="image"
           sizes="(max-width: 499px) calc(100vw - 20px),
                  (min-width: 500px) calc(50vw - 40px),
                  (min-width: 992px) calc(33vw - 80px)"
           srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
           src="{{ image[640] }}">
    </div>

    <div class="b-venue-teaser__info">

      <h2 class="b-venue-teaser__title" itemprop="name" content="{{ title }}">
        {{ title }}
        {% if externalSite %}
        <svg class="b-venue-teaser__title-icon" role="presentation" aria-hidden="true">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#link-external"></use>
        </svg>
        {% endif %}
      </h2>

      <p class="b-venue-teaser__description" itemprop="description" content="{{ description }}">
        {{ description }}
      </p>

      <ul class='b-icon-list'>
        <li class='b-icon-list__item'>
          <svg role="presentation" class="b-icon-list__item__icon">
              <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#map"></use>
          </svg>
          <div class="b-icon-list__item__content">
              <div itemprop="address" class="b-icon-list__item__heading">{{ address }}</div>
          </div>
        </li>
        <li class='b-icon-list__item'>
          <svg role="presentation" class="b-icon-list__item__icon">
              <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#clock"></use>
          </svg>
          <div class="b-icon-list__item__content" itemprop="openingHoursSpecification" itemscope itemtype="http://schema.org/OpeningHoursSpecification">
            <div itemprop="description" class="b-icon-list__item__heading">{{ admission_info|safe }}</div>
          </div>
        </li>
      </ul>

    </div>
  </a>

  <ul class="b-venue-teaser__footer">
    {% for action in actions %}
    <li>
      <a class="u-btn u-btn--micro u-btn--outlined" href="#">
        {{ action }}
        {% if externalSite %}
        <svg class="b-icon-list__item__icon" role="presentation" aria-hidden="true">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#link-external"></use>
        </svg>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
