@use "../../mixins";
@use "../../base";
@use "sass:color";

.b-master-brand-nav {
  background-color: base.sitecolors-siteColor("vam-black");
  width: 100%;

  &__inner-wrapper {
    display: flex;
  }

  &__link {
    @include base.typography-typeSetting(0, "bold");

    align-items: center;
    border-bottom: 3px solid transparent;
    color: base.sitecolors-siteColor("vam-white");
    display: flex;
    padding: 14px 10px 11px;
    transition: border-bottom-color .15s ease-out;

    svg {
      height: 10px;
      width: 10px;
    }

    &::before {
      content: "";
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid base.sitecolors-siteColor("vam-white");
      display: block;
      height: 0;
      margin-right: 5px;
      width: 0;
    }

    &:hover,
    &:focus {
      border-bottom-color: base.sitecolors-siteColor("vam-white");
    }
  }
}
