<div style='background-color: black; color: white; height: 100%'>
BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL BUNCH OF STUFF UNDERNEATH TO TEST THE SEETHROUGH OVERLAY LOL
<div>

<div class="facet-overlay">
  <div class="facet-overlay__close-container">
    <button class="facet-overlay__close-button">
       <svg class="facet-overlay__close-content" role="img">
            <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
        </svg>
    </button>
  </div>
  <div class="facet-overlay__term-list">
<!--     <div class="facet-overlay__term">
      <span class="facet-overlay__term-text">
        Facet: Term
      </span>
    </div> -->
  </div>
  <div class="facet-overlay__facet-container">
    <div class="facet-overlay__facet facet-overlay__facet">
      <div class="facet-overlay__facet-text">
        Facet 1
      </div>
      <ul class="facet-overlay__facet-term-container">
        <li class="facet-overlay__facet-term-toggle" data-id="1" data-facet="Facet 1" data-term="Term 1">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 1
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="facet-overlay__facet-term-toggle" data-id="2" data-facet="Facet 1" data-term="Term 2">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 2
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="facet-overlay__facet-term-toggle" data-id="3" data-facet="Facet 1" data-term="Term 3">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 3
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
      </ul>
    </div>
    <div class="facet-overlay__facet facet-overlay__facet">
      <div class="facet-overlay__facet-text">
        Facet 2
      </div>
      <ul class="facet-overlay__facet-term-container">
        <li class="facet-overlay__facet-term-toggle" data-id="4" data-facet="Facet 2" data-term="Term 1">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 4
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="facet-overlay__facet-term-toggle" data-id="5" data-facet="Facet 2" data-term="Term 2">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 5
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
        <li class="facet-overlay__facet-term-toggle" data-id="6" data-facet="Facet 2" data-term="Term 3">
          <a class="facet-overlay__facet-term-toggle-checkbox" href="javascript:void(0);">
            <svg class="facet-overlay__facet-term-toggle-tick" role="img">
              <use xlink:href="/assets/svg/svg-template.svg#tick"></use>
            </svg>
          </a>
          <span class="facet-overlay__facet-term-toggle-text">
            Term 6
          </span>
          <span class="facet-overlay__facet-term-toggle-result">
            (< 1000)
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
