@use "../../mixins";
@use "../../base";

.b-global-bar {
  background-color: base.sitecolors-siteColor("vam-black");
  position: relative;

  @include mixins.typographytools-rem(height, 70px);

  @include mixins.breakpoints-bpMinSmall {
    @include mixins.typographytools-rem(height, 40px);
  }

  .b-back {
    color: base.sitecolors-siteColor("vam-grey-5");
    position: absolute;

    @include mixins.typographytools-rem(left, 5px);
    @include mixins.typographytools-rem(top, 10px);

    @include mixins.breakpoints-bpMinSmall {
      position: relative;

      @include mixins.typographytools-rem(left, 12px);
      @include mixins.typographytools-rem(top, 7px);
    }

    @include mixins.breakpoints-bpMinMedium {
      @include mixins.typographytools-rem(left, 60px);
    }

    &:hover {
      text-decoration: underline;
    }

    .u-back__icon {
      @include mixins.typographytools-rem(height, 8px);
      @include mixins.typographytools-rem(margin, 0 base.$spacings-spacing-xsmall);
      @include mixins.typographytools-rem(width, 10px);
    }

    .u-back__text {
      @include mixins.typographytools-rem(letter-spacing, 2px);
      @include base.typography-typeSetting(0, "normal");
    }
  }

  .u-logo {
    color: base.sitecolors-siteColor("vam-grey-5");
    position: absolute;

    @include mixins.typographytools-rem(right, 5px);
    @include mixins.typographytools-rem(top, 20px);

    @include mixins.breakpoints-bpMinSmall {
      display: none;
    }

    .u-logo__icon {
      @include mixins.typographytools-rem(height, 50px);
      @include mixins.typographytools-rem(width, 100px);
    }
  }
}
