<div class="b-global-bar">
    <span class="b-back">
        <svg role="img" class="u-back__icon">
            <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#fulltriangle-left"></use>
        </svg>
        <span class="u-back__text">
            <a href="https://www.vam.ac.uk">The V&A</a>
        </span>
    </span>
    <span class="u-logo">
      <svg role="img" class="u-logo__icon">
          <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#valogo-clipped"></use>
      </svg>
    </span>
</div>
