.b-search-field {
    width: 100%;
	height: 160px;
	background-color: #000000;
}

.b-search-field-input {
    width: 88%;
	height: 86px;
    background-color: #000000;
    margin: 37px 48px;
	font-size: 44px;
	line-height: 1.27;
	text-align: left;
    color: #ffffff;
    border: none;
    border-bottom: 0.5px solid #dee0e2;
    text-decoration: underline;
    text-decoration-color: #12d2a0;

    &:focus {
        outline: none;
    }
}

.b-search-field-input::selection {
        background-color: #b5b5bb;
    }