.u-media-btn {
  cursor: pointer;
  outline: 0;
  

  &:hover {
    .u-media-btn__icon {
      box-shadow: 2px 2px 4px siteColor(vam-black);
      &--stop {
        box-shadow: 2px 2px 4px siteColor(vam-black);
      }
    }
    .u-media-btn__text {
      text-shadow: 2px 2px 4px siteColor(vam-black);
    }
  }

  &__icon {
    border: 2px solid siteColor(vam-white);
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    height: 28px;
    width: 28px;
    box-shadow: none;
    

    &--stop {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      background-color: siteColor(vam-white);
      height: 8px;
      margin: auto;
      width: 8px;
      box-shadow: none;
    }
  }

  &__text {
    @include typeSetting(1, normal);
    color: siteColor(vam-white);
    line-height: 24px;
    display: table-cell;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
  }

}
