<section class="b-shop-promo-carousel b-block-grid" id="shop-items">
  <div class="b-block-grid__header b-block-grid__header--black">
    <h2 class="b-block-grid__title">V&A shop</h2>
  </div>

  <div class="b-carousel">
    <div class="b-carousel__viewport" tabindex="-1">

      <div class="b-shop-promo-carousel__container b-carousel__list">
        {% for shopitem in promoitems %}
          <figure class="b-shop-promo-carousel__item  b-carousel__item">
            <a href="{{ shopitem.url }}">
              <img
                alt="{{ shopitem.title }}"
                itemprop="image"
                sizes="100vw"
                srcset="{{ shopitem.image["320"] }} 320w, {{ shopitem.image["640"] }} 640w,"
                src="{{ shopitem.image["960"] }}"
                loading="lazy">
            <figcaption>
              <h2 class="b-shop-promo-carousel__title">
                {{ shopitem.title }}
              </h2>
              <p class="b-shop-promo-carousel__description">
                {{ shopitem.price }}
              </p>
            </figcaption>
          </a>
          </figure>
        {% endfor %}

      </div>

    </div>

      <div class="b-carousel__ctrls">
      <button class="js-carousel__ctrl--prev u-btn-icon u-btn-icon--point-left" disabled title="Previous">Previous</button>
      <button class="js-carousel__ctrl--next u-btn-icon u-btn-icon--point-right" title="Next">Next</button>
    </div>

</div>


  <footer class="b-shop-promo-carousel__footer">
    <a href="#" class="u-btn u-btn--block u-btn--black u-btn--arrowed">
      Browse the V&A Shop
    </a>
  </footer>
</section>
