.u-label-tag {
  @include typeSetting(2, semi-bold);
  background: siteColor(primary-green);
  bottom: initial;
  color: siteColor(vam-black);
  margin: 12px 12px 12px 0;
  padding: 5px 12px 4px;
  position: absolute;
  top: 0;

  &--sold-out,
  &--ending-soon {
    background: themeColor(strawberry);
  }

  &--selling-fast {
    background: themeColor(cyan);
  }

  &--family-friendly {
    background: themeColor(blue-green);
  }

  &--members-only {
    background: themeColor(velvet);
  }

  &--more-tickets-added {
    background: themeColor(teal-blue);
  }

  &--last-few-tickets {
    background: themeColor(blue);
  }

  &--last-few-days {
    background: themeColor(orange);
  }

  &--book-soon {
    background: themeColor(salmon);
  }

  &--closed {
    background: siteColor(vam-grey-2);
  }

  &--venue {
    background: siteColor(vam-grey-2);
    color: siteColor(vam-white);
  }
}
