.b-search-box-container {
	background-color: #242424;
	margin: auto;
	text-align: center;
	padding: 34px 10px 34px 10px;

	@include bpMinXSmall {
		padding: 32px 43px 34px 41px;
	}

	@include bpMinMedium {
		max-width: 1200px;
	}

	&--listing {
		padding: 0px;
		background-color: transparent;;
	}

	&-header {
		margin-bottom: 24px;
		&__title {
			color: siteColor(vam-white);
			@include typeSetting(3, semi-bold, uppercase);

			@include bpMinXSmall {
				@include typeSetting(4, semi-bold, uppercase);
			}
			@include bpMinMedium {
				@include typeSetting(5, semi-bold, uppercase);
				letter-spacing: 4.5px;
			    line-height: 2.5rem;
			}
		}
		&__subtitle {
			color: siteColor(vam-grey-4);
			@include typeSetting(3, light);

			@include bpMinXSmall {
				@include typeSetting(4, light);
			}
			@include bpMinMedium {
				@include typeSetting(5, light);
			}
		}
		&__logo {
			&-container {
				@include bpMinXSmall {
					display: none;
				}
				margin-bottom: -7px;
				display: block;
				width: 100%;
				text-align: right;
			}
			width: 80px;
			height: 46px;
			color: siteColor(vam-grey-3);	
		}
	}
}