<div class="b-search-box-container b-search-box-container--{{modifier}}">
	{% if not 'listing' in modifier %}
	<div class="b-search-box-container-header">
		<div class="b-search-box-container-header__title">
			explore our collections
		</div>
		<div class="b-search-box-container-header__subtitle">
			Search 1,254,534 objects
		</div>
	</div>
	{% else %}
	<div class="b-search-box-container-header__logo-container">
      <svg class="b-search-box-container-header__logo" role="img">
        <use xlink:href="/assets/svg/svg-template.svg#valogo"></use>
      </svg>
	</div>
	{% endif %}
  {% if not 'onpage' in modifier %}
    {% render "@search-form", {
        modifiers: ['etc'],
        inputId: 'q-etc',
        placeholder: 'Search by object, artist, maker&hellip;'
      }
    %}
  {% else %}
    {% render "@search-form", {
        modifiers: ['etc', 'onpage'],
        jsHook: 'js-search-etc',
        inputId: 'q-etc',
        placeholder: 'Search by object, artist, maker&hellip;',
        action: 'http://51.11.136.250/api/v2/objects/search'
      }
    %}
  {% endif %}

</div>
