<a class="b-site-nav__access-nav-link b-site-nav__access-nav-link--home" href="#main-content">Skip to main content</a>

<nav class="b-site-nav js-site-nav" id="vam_nav" aria-label="Main">

  <div class="b-site-nav__mobile" aria-hidden="true">
    <span class="b-site-nav__mobile__info">
    </span>
    <span class="b-site-nav__mobile-toggle-text s-themed--color js-site-nav__mobile-toggle-text js-site-nav__mobile-toggle">
      Menu
    </span>
    <a class="b-site-nav__mobile-bag b-site-nav__bag--hidden s-themed--color js-site-nav-bag" href="/shop/checkout/cart/" aria-label="view your shopping bag">
      <svg role="presentation">
        <use xlink:href="/assets/svg/svg-template.svg#bag"></use>
      </svg>
      <span class="b-site-nav__bag-total js-site-nav-bag-total"></span>
    </a>
  </div>

  <a class="b-site-nav__mobile-toggle s-themed--color js-site-nav__mobile-toggle js-site-nav__mobile-toggle--icon" href="#vam_nav">
    <svg role="presentation" class="b-site-nav__mobile-toggle__icon--hamburger">
      <use xlink:href="/assets/svg/svg-template.svg#menu-hamburger"></use>
    </svg>
    <svg role="presentation" class="b-site-nav__mobile-toggle__icon--close">
      <use xlink:href="/assets/svg/svg-template.svg#close"></use>
    </svg>
  </a>
  <a class="b-site-nav__mobile-top s-themed--color js-site-nav__mobile-top" href="#vam_nav">
    <svg role="presentation">
      <use xlink:href="/assets/svg/svg-template.svg#arrow-up"></use>
    </svg>
  </a>

  <div class="b-site-nav__core">

    <div class="b-site-nav__core__search js-site-nav-search">
      <div class="b-site-nav__core__search__wrapper">
        <div class="b-site-nav__core__search__container">
          {%- render "@search-form" -%}
        </div>
        <div class="b-site-nav__core__search__container b-site-nav__core__search__container--results b-site-nav__core__search__container--hidden js-search-content" aria-live="polite">
          <ul class="b-site-nav__core__search__results js-search-suggest">
          </ul>
        </div>
      </div>
    </div>

    <ul class="b-site-nav__core__items">

      <li class="b-site-nav__core__item b-site-nav__core__item--home">
        <a id="home" href="/" class="s-themed--color--hover s-themed--border-color s-themed--border-color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--visit">
        <a id="visit" href="/visit" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Visit
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--whatson">
        <a id="whatson" href="/whatson" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          What’s on
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--collections">
        <a id="collections" href="/collections" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Collections
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--learning">
        <a id="learn" href="/info/learn" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Learn
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--join">
        <a id="support" href="/info/join-support" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Join &amp; support
        </a>
      </li>
      <li class="b-site-nav__core__item b-site-nav__core__item--shop">
        <a id="shop" href="/shop" class="s-themed--color--hover">
          <svg role="presentation" class="b-site-nav__core__item__icon" aria-hidden="true">
            <use xlink:href="/assets/svg/svg-template.svg#arrow-right"></use>
          </svg>
          Shop
        </a>
      </li>

      <li class="b-site-nav__core__item b-site-nav__core__item--more js-site-nav-more">
        <a href="#more" class="js-site-nav__tablet-toggle s-themed--color--hover">More</a>
        <ul class="b-site-nav__core__overflowitems">
          <li class="b-site-nav__core__overflowitem b-site-nav__core__overflowitem--collections">
            <a id="more-collections" href="/collections" class="s-themed--color--hover">
              Collections
            </a>
          </li>
          <li class="b-site-nav__core__overflowitem b-site-nav__core__overflowitem--learning">
            <a id="more-learn" href="/info/learn/" class="s-themed--color--hover">
              Learning
            </a>
          </li>
          <li class="b-site-nav__core__overflowitem b-site-nav__core__overflowitem--join">
            <a id="more-support" href="/info/join-support/" class="s-themed--color--hover">
              Join &amp; support
            </a>
          </li>
          <li class="b-site-nav__core__overflowitem b-site-nav__core__overflowitem--shop">
            <a id="more-shop" href="https://www.vam.ac.uk/shop/" class="s-themed--color--hover">
              Shop
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="b-site-nav__core__rhs">
      <a class="b-site-nav__core__bag b-site-nav__bag--hidden s-themed--color js-site-nav-bag" href="/shop/checkout/cart/" title="Your bag" aria-label="View your shopping bag">
        <svg role="presentation">
          <use xlink:href="/assets/svg/svg-template.svg#bag"></use>
        </svg>
        <span class="b-site-nav__bag-total js-site-nav-bag-total"></span>
      </a>
      <a class="b-site-nav__core__search-btn s-themed--color js-site-nav-search-btn" href="/search" title="Search" aria-label="Search the site">
        <svg role="presentation" class="b-site-nav__core__search-btn-open" aria-hidden="true">
          <use xlink:href="/assets/svg/svg-template.svg#search"></use>
        </svg>
        <svg role="presentation" class="b-site-nav__core__search-btn-close" aria-hidden="true">
          <use xlink:href="/assets/svg/svg-template.svg#close"></use>
        </svg>
      </a>
    </div>
  </div>
</nav>

<div class="fr-content-bg">
</div>
