@use "../../mixins";
@use "../../base";

.b-search-results {
  color: base.sitecolors-siteColor("vam-white");
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__facet-container {
    display: none;

    @include mixins.breakpoints-bpMinMedium {
      display: block;
      flex-basis: 270px;
      margin-right: 30px;
    }
  }

  &__count {
    @include base.typography-typeSetting(4);

    color: base.sitecolors-siteColor("vam-white");
    margin-bottom: 8px;

    @include mixins.breakpoints-bpMinXSmall {
      @include base.typography-typeSetting(5);
    }
  }

  &__head {
    display: none;

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(4, "bold");

      display: flex;
      padding-bottom: 14px;
    }

    &-cell {
      &:focus {
        @include mixins.focus-insetFocus;
      }

      &--sortable {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }

      &--image {
        width: 185px;
      }

      &--title {
        flex-basis: 28%;
      }

      &--artist {
        flex-basis: 26%;
      }

      &--date {
        flex-basis: 17%;
      }

      &--place {
        flex-basis: 29%;
      }

      &--sort {
        &-asc,
        &-desc {
          align-items: center;
          display: flex;
          justify-content: flex-start;

          &::after {
            border: 5px solid transparent;
            border-bottom-color: currentColor;
            content: "";
            margin-left: 7px;
            margin-top: -5px;
          }
        }

        &-asc {
          &::after {
            margin-top: 10px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__body {
    &-row {
      margin-bottom: 10px;

      &--offensive {
        height: 180px;
        position: relative;

        @include mixins.breakpoints-bpMinXSmall {
          height: 160px;
        }

        div {
          filter: blur(10px);
        }

        td {
          background-color: rgba(57, 59, 63, 80%);
          filter: blur(10px);
          pointer-events: none;
        }

        img {
          filter: brightness(0.5);
        }
      }
    }

    &--filters-closed {
      .b-search-results__head-image {
        @include mixins.breakpoints-bpMinMedium {
          width: 170px;
        }
      }
    }
  }

  &__cell {
    @include base.typography-typeSetting(1);

    display: flex;
    gap: 10px;
    position: relative;

    @include mixins.breakpoints-bpMinXSmall {
      @include base.typography-typeSetting(3);
    }

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(2);

      padding-left: 0;
      padding-right: 20px;
    }

    &-img {
      background: base.sitecolors-siteColor("vam-grey-2");
      display: flex;
      min-height: 120px;
      width: 120px;

      @include mixins.breakpoints-bpMinSmall {
        min-height: 145px;
        width: 145px;
      }

      &-image {
        height: 100%;
        object-fit: contain;
        width: 100%;

        &.s-lazyload--error {
          max-width: none;
        }
      }
    }

    &:hover,
    &:focus {
      background: #45484d; // not in _site-color.scss

      .b-search-results__cell-img {
        background: #45484d;
      }
    }

    &-content-container {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-2");
      flex: 1 1 0;
      padding: 0 0 13px;
      position: relative;

      @include mixins.breakpoints-bpMinLarge {
        display: flex;
      }
    }

    &-content {
      @include base.typography-typeSetting(2);

      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 30px;
      }

      @include mixins.breakpoints-bpMinSmall {
        width: calc(50% - 5px);
      }

      @include mixins.breakpoints-bpMinLarge {
        @include base.typography-typeSetting(3);
      }

      &--title {
        @include base.typography-typeSetting(3, "bold");

        @include mixins.breakpoints-bpMinLarge {
          @include base.typography-typeSetting(4, "bold");
        }
      }

      &--place {
        margin-top: 8px;

        @include mixins.breakpoints-bpMinSmall {
          margin-top: 0;
          padding-right: 10px;
          position: absolute;
          right: 0;
          top: 0;
        }

        @include mixins.breakpoints-bpMinLarge {
          margin-top: 8px;
          padding-right: 0;
          position: static;
        }
      }

      &--icon {
        height: 16px;
        width: 16px;
        align-self: start;
        flex-shrink: 0;
        flex-grow: 0;
      }

      &--status {
        @include base.typography-typeSetting(2);

        background: base.sitecolors-siteColor("vam-grey-2");
        bottom: 8px;
        padding: 2px 4px;
        position: absolute;
      }

      &--location {
        margin-top: 4px;
      }

      &--site,
      &--location {
        align-items: center;
        display: flex;
        gap: 4px;
      }

      @include mixins.breakpoints-bpMinLarge {
        padding: 0 20px 0 0;

        &--title {
          flex-basis: 28%;
        }

        &--artist {
          flex-basis: 26%;
        }

        &--date {
          flex-basis: 17%;
        }

        &--place {
          flex-basis: 29%;
          margin-top: 0;
        }
      }
    }
  }

  &__offensive-warning {
    margin-left: -12px;
    padding: 0 10px;
    position: absolute;
    width: 100%;

    @include mixins.breakpoints-bpMinXSmall {
      margin-left: 0;
    }

    &-button {
      @include base.typography-typeSetting(1);

      border: solid 1px base.sitecolors-siteColor("vam-white");
      border-radius: 2px;
      color: base.sitecolors-siteColor("vam-white");
      cursor: pointer;
      margin-top: 10px;
      padding: 4px 8px;
      pointer-events: none;

      &:hover {
        background-color: base.sitecolors-siteColor("vam-black");
      }
    }

    &-text {
      @include base.typography-typeSetting(0);

      color: base.sitecolors-siteColor("vam-white");
      margin-top: -15px;
      padding: 10px;
      width: 100%;

      @include mixins.breakpoints-bpMinXSmall {
        margin-top: auto;
        max-width: 800px;
      }

      &:hover .b-search-results__offensive-warning-button {
        background-color: base.sitecolors-siteColor("vam-black");
      }
    }
  }
}
