.b-search-results {
  color: siteColor(vam-white);
  position: relative;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__facet-container {
    flex-basis: 276px;
  }

  &__count {
    @include typeSetting(4, bold);
    color: siteColor(vam-white);

    @include bpMinXSmall {
      @include typeSetting(5, bold);
    }
  }

  &__head {
    display: none;

    @include bpMinLarge {
      @include typeSetting(4, bold);
      display: flex;
      padding-bottom: 14px;
    }

    &-cell {
      &:focus {
        @include insetFocus;
      }

      &--sortable {
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }

      &--image {
        width: 160px;
      }

      &--title {
        flex-basis: 28%;
      }

      &--artist {
        flex-basis: 26%;
      }

      &--date {
        flex-basis: 17%;
      }

      &--place {
        flex-basis: 29%;
      }

      &--sort {
        &-asc, &-desc {
          align-items: center;
          display: flex;
          justify-content: flex-start;

          &:after {
            border: 5px solid transparent;
            border-bottom-color: currentColor;
            content: '';
            margin-left: 7px;
            margin-top: -5px;
          }
        }

        &-asc {
          &:after {
            margin-top: 10px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__body {
    &-row {
      background-color: #393b3f;
      border-bottom: 4px solid #1d1e20;
      display: flex;

      &:hover {
        background-color: #45484d;
        cursor: pointer;
      }

      &:focus {
        @include insetFocus;
      }

      &--offensive {
        height: 180px;
        position: relative;

        @include bpMinXSmall {
          height: 160px;
        }

        div {
          filter: blur(10px);
        }

        td {
          background-color: rgba(57, 59, 63, .8);
          filter: blur(10px);
          pointer-events: none;
        }

        img {
          filter: brightness(.5);
        }
      }
    }
    
    &--filters-closed {
      .b-search-results__head-image {
        @include bpMinMedium {
          width: 170px;
        }
      }
    }
  }

  &__cell {
    @include typeSetting(1);
    padding: 0 15px;
    position: relative;
    vertical-align: baseline;

    @include bpMinXSmall {
      @include typeSetting(3);
    }

    @include bpMinLarge {
      @include typeSetting(2);
      padding-left: 0;
      padding-right: 20px;

      &--data {
        display: flex;
        flex: 1;
        padding: 0;
      }
    }

    &:focus,
    &:active {
      box-shadow: none;
    }

    &-img {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      min-height: 120px;
      width: 120px;

      &-image {
        flex: 1;
        max-height: 60px;
        max-width: 60px;

        @include bpMinXSmall {
          max-height: 100px;
          max-width: 100px;
        }

        &.s-lazyload--error {
          max-width: none;
        }
      }
    }

    &-content-container {
      padding: 13px 0;

      @include bpMinLarge {
        display: flex;
        flex: 1;
      }
    }

    &-content {
      margin-bottom: 5px;

      &--site {
        &::before {
          content: ', ';
        }
      }

      @include bpMinLarge {
        padding: 0 20px 0 0;

        &--title {
          flex-basis: 28%;
        }

        &--artist {
          flex-basis: 26%;
        }

        &--date {
          flex-basis: 17%;
        }

        &--place {
          flex-basis: 29%;
        }

        &--site {
          display: block;
          margin-top: 5px;

          &::before {
            content: '';
          }
        }
      }
    }
  }

  &__offensive-warning {
    margin-left: -12px;
    padding: 0 10px;
    position: absolute;
    width: 100%;

    @include bpMinXSmall {
      margin-left: 0;
    }

    &-text {
      @include typeSetting(2);
      color: siteColor(vam-white);
      margin-top: -15px;
      padding: 10px 10px;
      width: 100%;

      @include bpMinXSmall {
        margin-top: auto;
        max-width: 800px;
      }

      &:hover .b-search-results__offensive-warning-button {
        background-color: siteColor(vam-black);
      }
    }

    &-button {
      @include typeSetting(1, bold);
      border: solid 1px siteColor(vam-white);
      border-radius: 2px;
      color: siteColor(vam-white);
      cursor: pointer;
      height: 24px;
      margin-top: 10px;
      pointer-events: none;
      width: 121px;

      &:hover {
        background-color: siteColor(vam-black);
      }
    }
  }
}
