  <div class="etc-image-overlay__container">
    <div class="etc-image-overlay__close-container etc-image-overlay__close-container--active">
      <svg class="etc-image-overlay__close" role="img">
        <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
      </svg>
    </div>
    <div class="etc-image-overlay__content etc-image-overlay__content--active">
      <figure class="etc-image-overlay__figure">
        <img class="etc-image-overlay__image" data-image-index=0 itemprop="contentUrl" alt="Cartoon for a tapestry." src="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df66cf596/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=1 itemprop="contentUrl" alt="A Research Institute made of Lego." src="https://vanda-production-assets.s3.amazonaws.com/2018/01/31/16/36/12/d73d930a-42a8-4acb-ac5f-6c03561bbfa6/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=2 itemprop="contentUrl" alt="A wallpaper print design."src="https://vanda-production-assets.s3.amazonaws.com/2019/05/15/09/26/40/f5128c47-1d15-4869-910a-dcbb1ed7378e/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=3 itemprop="contentUrl" alt="A wallpaper print design."src="https://vanda-production-assets.s3.amazonaws.com/2019/05/15/09/26/40/f5128c47-1d15-4869-910a-dcbb1ed7378e/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=4 itemprop="contentUrl" alt="A wallpaper print design."src="https://vanda-production-assets.s3.amazonaws.com/2019/05/15/09/26/40/f5128c47-1d15-4869-910a-dcbb1ed7378e/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=5 itemprop="contentUrl" alt="A wallpaper print design."src="https://vanda-production-assets.s3.amazonaws.com/2019/05/15/09/26/40/f5128c47-1d15-4869-910a-dcbb1ed7378e/1280.jpg">
        <img class="etc-image-overlay__image" data-image-index=6 itemprop="contentUrl" alt="A wallpaper print design."src="https://vanda-production-assets.s3.amazonaws.com/2019/05/15/09/26/40/f5128c47-1d15-4869-910a-dcbb1ed7378e/1280.jpg">
      </figure>
      <figcaption class="etc-image-overlay__figcaption etc-image-overlay__figcaption--active">
        <!-- etc-image-overlay__figcaption--active -->
        <div class="etc-image-overlay__prevnext">
          {%- render "@details" -%}
        </div>
      </figcaption>
    </div>
  </div>

<div class='some content etc-image-overlay'>
  <img class="etc-image-overlay__preview" alt="Cartoon for a tapestry." src="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df66cf596/1280.jpg">

  <img class="etc-image-overlay__preview" alt="Cartoon for a tapestry." src="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df66cf596/1280.jpg">  
  <h1>Hello</h1>
  <p>words are here</p>
</div>