<div class="etc-image-overlay__items">
  <div class="etc-image-overlay__item">
    <div class="etc-image-overlay__content">
      <figure class="etc-image-overlay__figure">
        <img class="etc-image-overlay__image" itemprop="contentUrl" alt="Cartoon for a tapestry." sizes="(max-width: 991px) calc(100vw - 20px),
                        (min-width: 992px) calc(70vw - 145px),
                        (min-width: 1200px) 710px" srcset="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/09/f0ae845e-d304-46be-b836-f8520d211df2/320.jpg 320w, https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/09/877ba61d-fabc-40ac-afd1-51a6902e8a49/640.jpg 640w, https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/12a94859-afb0-4525-9676-854850b96222/960.jpg 960w, https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/c4e0e19a-5afa-4aea-953b-5c9df66cf596/1280.jpg 1280w, https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/10/b35b0588-664e-46c5-bbf5-64623211e638/1920.jpg 1920w, https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/11/efff658e-81be-42e4-913c-6f898c734efc/2560.jpg 2560w" src="https://vanda-production-assets.s3.amazonaws.com/2018/02/07/16/27/09/877ba61d-fabc-40ac-afd1-51a6902e8a49/640.jpg">
        <figcaption class="etc-image-overlay__figcaption">
          <div class="etc-image-overlay__prevnext">
            {%- render "@details" -%}
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
