.b-promo {
  color: siteColor(vam-white);
  display: flex;
  flex-wrap: wrap;

  &__item {
    background-position: center center;
    background-size: cover;
    min-height: 250px;
    padding: $spacing-small;
    position: relative;
    width: 100%;

    .b-promo--big & {
      height: 285px;

      @include bpMinSmall {
        height: 480px;
      }

      @include bpMinMedium {
        height: 560px;
      }
    }

    @include bpMinMedium {
      min-height: 300px;
      width: 50%;
    }

    &:last-of-type:nth-of-type(odd) {
      width: 100%;
    }
  }

  &__image {
    display: block;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__anchor {
    background-color: rgba(siteColor(vam-black), .3);
    background-image: linear-gradient(rgba(siteColor(vam-white), 0), rgba(siteColor(vam-black), .5));
    display: block;
    height: 100%;
    position: relative;
    transition: background-color .3s;

    &:hover,
    &:focus {
      background-color: transparent;
    }

    .b-promo--white & {
      background-color: transparent;
      background-image: none;

      &::after {
        background-image: linear-gradient(rgba(siteColor(vam-white), 0), rgba(siteColor(vam-black), .5));
        content: '';
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: opacity .3s;
        width: 100%;
      }

      &:hover::after,
      &:focus:after {
        opacity: 0;
      }
    }
  }

  &__content {
    align-items: center;
    color: siteColor(vam-grey-1);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 470px;
    min-height: 230px;
    padding: $spacing-small;
    position: relative;
    text-align: center;
    z-index: 1;

    @include bpMinSmall {
      max-width: 670px;
    }

    @include bpMinMedium {
      max-width: 800px;
      min-height: 280px;
    }

    .b-promo--white & {
      color:siteColor(vam-black);
    }
  }

  &__type {
    @include typeSetting(2, semi-bold, uppercase);
    margin: 0;
    text-shadow: siteColor(vam-black) 0 1px 2px;

    @include bpMinSmall {
      @include typeSetting(3, semi-bold, uppercase);
    }

    .b-promo--white & {
      text-shadow: none;
    }
  }

  &__title {
    @include typeSetting(3);
    margin: $spacing-small 0;
    text-align: center;
    text-shadow: siteColor(vam-black) 0 1px 2px;
    width: 100%;

    @include bpMinSmall {
      @include typeSetting(6);
    }

    .b-promo--white & {
      text-shadow: siteColor(vam-white) 1px 0 2px;
    }
  }

  &__description {
    @include typeSetting(4);

    @include bpMaxSmall {
      @include visuallyHidden;
    }
  }

  &__sponsor {
    @include typeSetting(1, light);
    margin: 0 0 20px;
    text-shadow: siteColor(vam-black) 0 1px 2px;
    width: 100%;
  }

  &__quote {
    &__body {
      @include typeSetting(2);
      font-style: italic;
      margin: 0;

      &:before {
        content: '\201C';
      }

      &:after {
        content: '\201D';
      }
    }

    &__citation {
      @include typeSetting(1);
    }
  }
}
