.u-link {
  text-decoration: underline;

  &--border {
    border-bottom: 1px solid currentColor;
    text-decoration: none;
  }

  &--arrow {
    display: inline-block;

    &::after {
      // If CSS triangles are used then the arrow
      //  can become orphaned from the main link.
      // Also ensure that your HTML has no white-
      //  space in it either.
      content: ' ▸';
      display: inline-block;
      text-decoration: none;
    }
  }

  &--external-icon {
    height: 16px;
    margin-right: 2px;
    position: relative;
    top: 2px;
    width: 16px;
  }

}

@media print {
  a[href]::after {
    content: " (" attr(href) ") ";
  }
}
