{% if inBody %}
  <p>
    This <a href="#" class="u-link">link</a> is for use inside a body of text 
  </p>
{% else %}
  <p>
    {{text}}
  </p>
      <a href="#" class="u-link {% for m in modifiers %} u-link--{{ m }}{% endfor %}{% if section %}u-link--section{% endif %}">
        {% if external %}
          <svg role="img" class="u-link__external-icon">
            <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#link-external"></use>
          </svg>
        {% endif %}
        {% if section %}
          Section heading <span class="u-link__section-pilcrow">¶</span>
        {% else %}
          Link
        {% endif %}
      </a>
{% endif %}
