.b-object-card {
  margin: 0 0 40px;

  &__anchor {
    display: block;
    position: relative;

    &::after {
      background-image: linear-gradient(black, transparent 80%);
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .1s;
    }

    &:hover::after,
    &:focus::after {
      opacity: .3;
    }
  }

  &__image {
    height: auto;
    width: 100%;
  }

  &__caption {
    display: none;

    @include bpMinSmall {
      @include typeSetting(2, bold);
      background-color: siteColor(vam-white);
      color: siteColor(vam-black);
      display: block;
      margin: 10px 0 0;
    }
  }
}
