@use "../../mixins";
@use "../../base";

.b-object-card {
  color: base.sitecolors-siteColor("vam-black");
  text-wrap: pretty;

  &--etc {
    border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-2");
    color: base.sitecolors-siteColor("vam-white");
    padding-bottom: 8px;
  }

  &__anchor {
    display: block;
  }

  &__img-pane {
    display: flex;
    margin: 0 0 8px;
    overflow: hidden;
  }
    
  &__img {
    height: auto;
    margin: auto;
    max-height: 586px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.25s ease-out;
    width: 100%;
  }

  &__anchor:hover &__img,
  &__anchor:focus-visible &__img {
    transform: scale(1.1);
  }

  &-warning {
    overflow: hidden;
    position: relative;

    &__banner {
      align-items: center;
      background-color: base.sitecolors-siteColor("vam-black");
      color: base.sitecolors-siteColor("vam-white");
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 20px;
      inset: 0;
      justify-content: center;
      opacity: 0;
      padding: 20px;
      position: absolute;
      transition: opacity 0.4s ease;
      z-index: 1;

      &-text {
        @include base.typography-typeSetting(0, "regular");

        max-width: 224px;
        text-align: center;
      }

      &-dismiss {
        @include base.typography-typeSetting(1, "medium");

        background-color: base.sitecolors-siteColor("vam-black");
        border: 1px solid base.sitecolors-siteColor("vam-white");
        border-radius: 2px;
        padding: 4px 12px;
      }

      &:focus-visible > &-dismiss {
        @include mixins.focus-defaultFocus;
      }
    }

    & > #{&}__banner {
      opacity: 0.8;
    }

    &:hover > #{&}__banner,
    &:focus-visible > #{&}__banner {
      opacity: 0.9;
    }

    > *:not(#{&}__banner) {
      filter: blur(10px);
    }
  }

  &__caption {
    display: none;
    margin-bottom: 4px;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(3, "light");

      display: block;
    }

    .b-object-card--etc & {
      @include base.typography-typeSetting(3, "bold");

      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
    }
  }

  &__subcaption {
    @include base.typography-typeSetting(3);

    display: none;
    margin-bottom: 2px;

    @include mixins.breakpoints-bpMinSmall {
      display: block;
    }

    .b-object-card--etc & {
      display: block;
    }
  }

  &__location {
    @include base.typography-typeSetting(2);

    align-items: flex-start;
    display: flex;
    gap: 4px;
    margin-bottom: 4px;

    &::before {
      background-color: currentColor;
      content: '';
      flex: 0 0 auto;
      height: 16px;
      margin-top: 1px;
      mask: var(--icon-svg-pin) no-repeat;
      width: 16px;
    }

    &--room::before {
      mask-image: var(--icon-svg-signpost);
    }
  }

  &__subcaption + &__location {
    margin-top: 8px;
  }

  &__location-type {
    @include base.typography-typeSetting(2);
    
    background-color: base.sitecolors-siteColor("vam-grey-2");
    border-radius: 2px;
    color: base.sitecolors-siteColor("vam-white");
    display: inline-block;
    padding: 2px 5px 3px;
  }

  &__footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}
