@use "../../mixins";
@use "../../base";

.b-object-card {
  &__image {
    height: auto;
    margin: 0 0 8px;
    max-height: 586px;
    object-fit: cover;
    width: 100%;
  }

  &__warning {
    min-height: 232px;
    overflow: hidden;
    position: relative;

    &__banner {
      align-items: center;
      background-color: base.sitecolors-siteColor("vam-black");
      color: base.sitecolors-siteColor("vam-white");
      cursor: pointer;
      display: flex;
      flex-direction: column;
      inset: 0;
      justify-content: center;
      opacity: 0;
      padding: 20px;
      position: absolute;
      transition: opacity 0.4s ease;
      z-index: 1;

      &__text {
        @include base.typography-typeSetting(0, "regular");

        margin-bottom: 20px;
        max-width: 224px;
        text-align: center;
      }

      &__dismiss {
        @include base.typography-typeSetting(1, "medium");

        background-color: base.sitecolors-siteColor("vam-black");
        border: 1px solid base.sitecolors-siteColor("vam-white");
        border-radius: 2px;
        padding: 4px 12px;
      }
    }

    & > #{&}__banner {
      opacity: 0.8;
    }

    &:hover > #{&}__banner,
    &:focus > #{&}__banner {
      opacity: 0.9;
    }

    & > .b-object-card__image {
      filter: blur(10px);

      & + figcaption {
        filter: blur(10px);
      }
    }
  }

  &__anchor {
    border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
    padding-bottom: 5px;
    display: block;
    overflow: hidden;
    position: relative;

    .b-object-card--etc & {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-2");
      padding-bottom: 3px;
    }

    &::after {
      background-image: linear-gradient(base.sitecolors-siteColor("vam-black"), transparent 80%);
      content: "";
      display: block;
      inset: 0;
      opacity: 0;
      position: absolute;
      transition: opacity 0.1s;
    }

    &:focus {
      @include mixins.focus-defaultFocus;
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.3;
    }
  }

  &__caption {
    display: none;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(2, "regular");

      color: base.sitecolors-siteColor("vam-black");
      display: block;
      margin-bottom: 3px;
    }

    .b-object-card--etc & {
      @include base.typography-typeSetting(3, "bold");

      color: base.sitecolors-siteColor("vam-white");
      display: block;
      margin-bottom: 4px;
      overflow: hidden;

      @include mixins.breakpoints-bpMinSmall {
        @include base.typography-typeSetting(4, "bold");
      }

      &--sub {
        @include base.typography-typeSetting(2, "regular");

        margin-bottom: 4px;
      }

      &--icon{
        display: flex;
        gap: 4px;
        margin-bottom: 16px;
        margin-top: 12px;
      }

      &-icon {
        height: 16px;
        width: 16px;
      }

      &--status {
        background: base.sitecolors-siteColor("vam-grey-2");
        display: inline-block;
        margin-bottom: 0;
        padding: 2px 4px;
      }
    }
  }
}
