<figure class="b-object-card{% if objectImageOverlayItem %} js-object-image-overlay-item{% endif %}"
        {% if objectImageOverlayData %} data-object-image-overlay="{{ objectImageOverlayData | dump | escape }}"{% endif %}
        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <link itemprop="url" href="{{image[960]}}">
  <a class="b-object-card__anchor" href="{{ href }}">

    <img class="b-object-card__image"
         itemprop="contentUrl"
         alt="{{ physicalDescription }}" 
         sizes="(max-width: 499px) calc(100vw - 24px),
                (min-width: 500px) calc(50vw - 36px),
                (min-width: 992px) calc(34vw - 340px),
                (min-width: 1200px) calc(1200px - 340px)"
         srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
         src="{{ image[640] }}">

    <figcaption class="b-object-card__caption">
      {{ caption }}
    </figcaption>
  </a>
</figure>
