<figure class="b-object-card{% for m in modifiers %} b-object-card--{{ m }}{% endfor %}
  {% if objectImageOverlayItem %}js-object-image-overlay-item{% endif %}
  {% if contentWarning %}b-object-card-warning{% endif %}"
  {% if objectImageOverlayData %} data-object-image-overlay="{{ objectImageOverlayData | dump | escape }}"{% endif %}
  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <link itemprop="url" href="{{image[960]}}">
  <a class="b-object-card__anchor" href="{{ href }}"
    {% if objectImageOverlayItem %} aria-haspopup="dialog" aria-controls="object-image-overlay"{% endif %}>
    <div class="b-object-card__img-pane">
      <img class="b-object-card__img" itemprop="contentUrl"
          alt="{{ physicalDescription }}" 
          loading="lazy"
          sizes="(min-width: 1200px) 340px,
                  (min-width: 992px) calc((100vw - 180px) / 3),
                  (min-width: 768px) calc((100vw - 160px) / 2),
                  calc((100vw - 70px) / 2)"
          srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
          src="{{ image[320] }}">
    </div>
    <figcaption>
      <div class="b-object-card__caption">
        {{ caption | safe }}
      </div>
      {% for cs in captionSub %}
      <div class="b-object-card__subcaption">
        {{ cs | safe }}
      </div>
      {% endfor %}
      {% if modifiers and 'etc' in modifiers and locationSite %}
      <div class="b-object-card__location" title="Object location">
        {{ locationSite }}
      </div>
      {% endif %}
    </figcaption>
  </a>
  {% if modifiers and 'etc' in modifiers %}
  <div class="b-object-card__footer">
    {% if locationType %}
    <div class="b-object-card__location-type">
      {{ locationType }}
    </div>
    {% endif %}
  </div>
  {% endif %}
</figure>
