@use "../../base";
@use "../../mixins";


.b-review {
  border-left: 3px solid base.sitecolors-siteColor("vam-grey-2");
  color: base.sitecolors-siteColor("vam-white");
  padding-left: 20px;

  &__body {
    @include base.typography-typeSetting(5, "bold");

    font-style: italic;

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(6, "bold");
    }
  }

  &__credit {
    @include base.typography-typeSetting(4);

    margin-top: 8px;
  }
}
