.g-object-grid {
  @include unstyledList;
  margin-bottom: 40px;
  width: 100%;

  @include bpMinXSmall {
    column-count: 2;
    column-gap: 30px;
  }

  @include bpMinMedium {
    column-count: 3;
  }

  &__item {
    break-inside: avoid;
    margin-bottom: 30px;
    width: 100%;
  }
}
