@use "../../mixins";

.g-object-grid {
  @include mixins.unstyledelements-unstyledList;

  margin-bottom: 40px;
  width: 100%;

  @include mixins.breakpoints-bpMinXSmall {
    column-count: 2;
    column-gap: 30px;
  }

  @include mixins.breakpoints-bpMinMedium {
    column-count: 3;
  }

  &__item {
    break-inside: avoid;
    margin-bottom: 30px;
    width: 100%;
  }
}
