.b-object-shuffler {
  background-color: siteColor(vam-black);
  color: siteColor(vam-white);
  overflow: hidden;
  text-align: center;
  width: 100%;

  &__heading {
    @include typeSetting(4, bold, uppercase);
    margin-bottom: 18px;
  }

  &__tabs {
    @include typeSetting(3);
    margin-bottom: 34px;
  }

  &__tab {
    margin: 0 10px 6px;

    &[active],
    &:hover,
    &:focus {
      border-bottom: 2px solid themeColor(silent-green);
    }
  }

  &__viewer {
    height: 386px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;

    @include bpMinSmall {
      height: 640px;
    }
  }

  &__deck {
    height: 100%;
    position: absolute;
    width: 100%;

    &[active] {
      z-index: 10;
    }
  }

  &__slide {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    left: 0;
    margin: 0 2%;
    position: absolute;
    top: 0;
    width: 96%;

    @media (min-width: 1000px) {
      margin: 0 calc((100% - 990px) / 2);
      width: 990px;
    }

    &[active] {
      z-index: 1;
    }
  }

  &__item {
    --js-rotation: 0;
    display: flex;
    flex: 0 1 auto;
    height: 50%;
    max-width: 60%;
    position: relative;
    transition: transform .4s;
    width: 50%;


    @include bpMinSmall {
      max-width: 40%;
      width: 33%;
    }
  }

  &__deck > &__slide[active] > &__item {
    transform: translateX(-100vw);
  }

  &__deck[active] > &__slide[active] > &__item {
    transform: translateX(0) rotate(var(--js-rotation, 0));

    &:hover,
    &:focus {
      transform: translateX(0) rotate(0);
      z-index: 10;
    }
  }

  &__deck[active] ~ &__deck > &__slide > &__item {
    transform: translateX(100vw);
  }


  &__image {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    transform: scale(0);
    transition: transform .3s ease-out, opacity .2s ease;
  }

  &__slide[active] &__image {
    opacity: 1;
    transform: scale(1);
    transition-delay: .23s;
  }


  &__more {
    @include typeSetting(1, bold, uppercase);
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto 40px;
    position: relative;
    z-index: 1;
  }

  &__more-icon {
    background: themeColor(silent-green);
    border-radius: 50%;
    color: siteColor(vam-black);
    content: '';
    display: flex;
    height: 60px;
    margin-bottom: 10px;
    width: 60px;

    > svg {
      height: 40%;
      margin: auto;
      width: 40%;
    }
  }
}
