<div class="b-object-shuffler js-object-shuffler">

  <h6 class="b-object-shuffler__heading">You may also like</h6>

  <div class="b-object-shuffler__viewer js-object-shuffler__viewer">

    <div class="b-object-shuffler__slide">

      <a class="b-object-shuffler__item" href="" title="">
        <img class="b-object-shuffler__image"
          itemprop="contentUrl"
          alt="" 
          sizes="(min-width: 768px) calc(33vw - 40px),
                (min-width: 1200px) calc((1200px - 40px)/),
                calc(50vw - 20px)"
          srcset="" 
          src="">
      </a>

    </div>

  </div>

</div>
