<div class="b-object-shuffler js-object-shuffler" data-object-shuffler="{{ objectShufflerData | dump | escape }}">

  <h2 class="b-object-shuffler__heading">You may also like</h2>
  
  <div class="b-object-shuffler__tabs">
    <button class="b-object-shuffler__tab" title="" tabindex="-1" aria-hidden="true"></button>
  </div>

  <div class="b-object-shuffler__viewer">

    <div class="b-object-shuffler__deck">
      <div class="b-object-shuffler__slide" active="true">
        <a class="b-object-shuffler__item" href="" title="" tabindex="-1" aria-hidden="true">
          <img class="b-object-shuffler__image"
            itemprop="contentUrl"
            alt="" 
            sizes="(max-width: 768px) calc(50vw - 10px),
                  (max-width: 999px) calc(33vw - 30px),
                  320px"
            srcset="" 
            src="">
        </a>
      </div>
    </div>

  </div>
  
  <button class="b-object-shuffler__more s-themed--background-color" title="show more">
    <svg role="presentation">
      <use xlink:href="/assets/svg/svg-template.svg#shuffle"></use>
    </svg>
  </button>

</div>
