<div class="b-object-shuffler js-object-shuffler" data-object-shuffler="{{ objectShufflerData | dump | escape }}">

  <h6 class="b-object-shuffler__heading">You may also like</h6>
  
  <div class="b-object-shuffler__tabs">
    <a class="b-object-shuffler__tab" href="#0" title="" tabindex="-1"></a>
  </div>

  <div class="b-object-shuffler__viewer">

    <div class="b-object-shuffler__deck">
      <div class="b-object-shuffler__slide" active="true">
        <a class="b-object-shuffler__item" href="" title="" tabindex="-1">
          <img class="b-object-shuffler__image"
            itemprop="contentUrl"
            alt="" 
            sizes="(min-width: 768px) calc(33vw - 40px),
                  (min-width: 1200px) calc((1200px - 40px)/),
                  calc(50vw - 20px)"
            srcset="" 
            src="">
        </a>
      </div>
    </div>

  </div>
  
  <a class="b-object-shuffler__more" href="#0" title="show more">
    <div class="b-object-shuffler__more-icon">
      <svg role="img">
        <use xlink:href="/assets/svg/svg-template.svg#plus"></use>
      </svg>
    </div>
    Shuffle
  </a>

</div>
