<div class="etc-background">
	<table class="etc-details">
	  <tbody class="etc-details__body" >
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Object Title</td>
	      <td class="etc-details__cell etc-details__cell-data">Garden Egg Chair</td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Object</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="etc-details__controlled-vocab" data-id="AAT53134">
	        	Chair
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Artist/Maker</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="artistMakerPerson">
	          Ghyczy, Peter
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Place</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="placeOfOrigin">
	          Germany
	        </span>
	        <span class="placeOfOrigin">
	          Germany
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Date</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="date">
	          1968 (designed)
	        </span>
	        <span class="date">
	          1971 (manufactured)
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Techniques</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="etc-details__controlled-vocab" data-id="AAT53134">
	          Moulding
	        </span>
	        <span class="etc-details__controlled-vocab" data-id="AAT53796">
	          lacquering
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Materials and Techniques</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        Lacquered, moulded polyurethane with synthetic textile upholstery over polyurethane foam padding
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Museum Number</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        W.8-2007
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Dimensions</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="dimension dimension-Height" data-id="">
	          Height: 1000mm
	        </span>
	        <span class="dimension dimension-Width" data-id="">
	          Width: 740mm
	        </span>
	        <span class="dimension dimension-Depth" data-id="">
	          Depth: 860mm
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Category</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="etc-details__controlled-vocab" data-id="THES48948">
	          Furniture
	        </span>
	        <span class="etc-details__controlled-vocab" data-id="THES49026">
	          Plastic
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Collection</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span class="etc-details__controlled-vocab" data-id="THES48597">
	          FWK
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Marks and Inscriptions</td>
	      <td class="etc-details__cell etc-details__cell-data">
	        <span>
	          'In Ordnung / Abt. QK / 9 Juni 1971' (Stamped on the underside of the chair)
	        </span>
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Descriptive line</td>
	      <td class="etc-details__cell etc-details__cell-data">
	          Garden Egg Chair, designed by Peter Ghyczy, 1968, manufactured by Elastogran, Germany, 1971; yellow lacquered polyurethane, synthetic textile and polyurethane upholstery
	      </td>
	      <td class="etc-details__cell">
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Summary</td>
	      <td class="etc-details__cell etc-details__cell-data">
	          The Hungarian ÈmigrÈ designer Peter Ghyczy designed this chair in 1968 when he was working for a polyurethane factory, Elastogran GmbH, in Lemfˆrde, West Germany. It fully exploited the materials made by the factory, as the shell is moulded entirely from polyurethane. The chair was intended for use in the garden, and the folding lid protected the upholstery from the weather when it was not in use.
	          The West German manufacturer licensed production to an East German company, VEB Synthesewerk Schwarzheide near Senftenberg. It was mass-produced for only three years because the lacquering of the shell remained problematic and, at 430 DM, it was too expensive for the East German market. This example, acquired from the designer, is date stamped 9 June 1971, telling us it was a prototype made in West Germany before the licence to manufacture it in the East was signed.
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Physical Description</td>
	      <td class="etc-details__cell etc-details__cell-data">
	          Yellow plastic oval egg-shaped chair with hinged top to reveal a yellow upholstered interior
	      </td>
	      <td class="etc-details__cell">
	    </td>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Object history note</td>
	      <td class="etc-details__cell etc-details__cell-data">
	          Acquired from the designer's family
	      </td>
	    </tr>
	    <tr class="etc-details__row">
	      <td class="etc-details__cell etc-details__cell-name">Bibliographic References</td>
	    </tr>
	  </tbody>
	</table>
</div>