.b-search-form {
  background-color: #000;
  padding: 42px 20px 88px;
  width: 100%;

  @include bpMinSmall {
    padding: 39px 61px 46px;
  }

  @include bpMinMedium {
    padding: 39px 70px 46px;
  }

  @include bpMinLarge {
    padding: 39px 70px 46px;
  }
}

.b-search-form__inner {
  border-bottom: .5px solid siteColor(vam-grey-5);
  position: relative;
}

.b-search-form__inner,
.b-search-form__underscore {
  max-width: 769px;
}

.b-search-form__input {
  background-color: transparent;
  border: none;
  caret-color: siteColor(primary-green);
  color: siteColor(vam-white);
  line-height: 1.27;
  margin: 0 0 13px;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include bpMinSmall {
    margin: 0 0 18px;
    width: 88%;
  }
}

.b-search-form__input,
.b-search-form__underscore {
  font-size: 28px;

  @include bpMinSmall {
    font-size: 44px;
  }
}

.b-search-form__input::selection {
  background-color: siteColor(vam-grey-4);
}

.b-search-form__underscore {
  border-bottom: 2px solid siteColor(primary-green);
  bottom: 0;
  display: inline-block;
  height: 2px;
  left: 0;
  overflow: hidden;
  position: absolute;
}

.b-search-form__submit {
  background-color: transparent;
  border: none;
  color: siteColor(vam-white);
  cursor: pointer;
  float: right;
  font-size: 16px;
  outline: none;
  padding-right: 10px;
  position: relative;
  top: 25px;

  &::after {
    border: 4px solid transparent;
    border-left-color: currentColor;
    content: '';
    display: inline-block;
    margin: 4px 0 0 6px;
    position: absolute;
  }

  @include bpMinSmall {
    top: 30px;
  }
}
