{# Collections Landing pg #}
{% if modifiers and 'etc-gateway' in modifiers %}
<label class="b-search-form__label" for="{{ inputId }}">Search more than 1.2 million objects</label>
{% endif %}
<form class="b-search-form {% for m in modifiers %} b-search-form--{{ m }}{% endfor %} {{ jsHook }}" name="search" action="{{ action }}" method="get" role="search">
  <div class="b-search-form__inner">
    {# SiteSearch #}
    {% if not modifiers %}
    <svg class="b-search-form__icon" aria-hidden="true" role="img">
      <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#search"></use>
    </svg>
    {% endif %}
    {# Collections Landing and Collections search pages #}
    {% if modifiers and 'etc' in modifiers %}
    <div class="b-search-form__advanced-search-wrapper">
      <label class="b-search-form__label b-search-form__advanced-search-label" for="sel_etc">Focused search</label>
      <select name="sel_etc" id="sel_etc" class="b-search-form__filter-select">
        {% for option in selectOptions %}
          <option value="{{ option.value }}">{{ option.textContent }}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    <div class="b-search-form__input-wrapper">
      <input type="text" class="b-search-form__input" name="{{ inputId }}" placeholder="{{ placeholder|safe }}" aria-label="{{ placeholder|safe }}" autocomplete="off" value="">
      {% if not modifiers %}
      <div class="b-search-form__underscore" aria-hidden="true"></div>
      {% endif %}
    </div>
    <button class="b-search-form__submit {% if modifiers and 'etc' in modifiers %}u-btn{% endif %}" aria-label="Search submit">
      Search
    </button>
    {% if not modifiers %}
    <svg role="img" class="b-search-form__clear b-search-form__clear--hidden" aria-hidden="true">
      <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#close"></use>
    </svg>
    {% endif %}
  </div>
  {% if not modifiers %}
  <div class="b-search-form__link-to-collections">
    <span class="b-search-form__link-to-collections--desktop">
      Alternatively search more than 1.25 million objects from the <a href="https://collections.vam.ac.uk/">V&A Collections</a>
    </span>
    <span class="b-search-form__link-to-collections--mobile">
      <a href="https://collections.vam.ac.uk/">Search the collections</a>
    </span>
  </div>
  {% endif %}

  {% if modifiers and 'etc-gateway' in modifiers %}
  <div class="b-search-form__suggestions" aria-label="search suggestions">
    <button>Start by entering a search term</button>
  </div>
  <div class="b-search-form__filters" aria-label="search filters" role="form">
    <div class="b-search-form__filter-toggle-set">
      <div tabindex="0" class="b-search-form__filter-toggle js-pane-toggle" aria-hidden="true">Add dates</div>
      <div class="b-search-form__filter-toggle-pane">
        <div class="b-search-form__filter-toggle b-search-form__filter-toggle--off" aria-hidden="true">Remove dates</div>
        <div class="b-search-form__filter-info">
          Use a hyphen to indicate dates BC.
          <br>For example -800 is 800BC
        </div>
        <div class="b-search-form__filter">
          <label for="year_made_from">From year:</label>
          <input class="b-search-form__filter-input b-search-form__filter-input--date" type="number" name="year_made_from" min="-4000" max="2050" step="1" placeholder="Year" value="">
        </div>
        <div class="b-search-form__filter">
          <label for="year_made_to">To year:</label>
          <input class="b-search-form__filter-input b-search-form__filter-input--date" type="number" name="year_made_to" min="-4000" max="2050" step="1" placeholder="Year" value="">
        </div>
      </div>
    </div>
  </div>

  {# Collections Search pg #}
  {% elif modifiers and 'etc' in modifiers %}
  <div class="b-search-form__facet-pane b-search-form__facet-pane--active">
    <div class="b-search-form__facets-container">
      <div class="b-search-form__facets">
        {% for facet in facets %}
          <div class="b-facet-box__term b-facet-box__term--form">
              <span class="b-facet-box__term-text">
                  {{ facet.facet }}: {{ facet.term }}
              </span>
          </div>
        {% endfor %}
      </div>
      <div class="b-search-form__facets-mobile">
        <button class="b-facet-box__term b-facet-box__term--form b-facet-box__term--form-revealer b-facet-box__modal-button-open">
          <span class="b-facet-box__term-text b-facet-box__term-text--no-cross">
            4+
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="b-search-form__filters" aria-label="search filters" role="form">
    <div class="b-search-form__filter">
      <input class="b-search-form__filter-input" type="checkbox" name="with_image" id="with_image">
      <label for="with_image">With image</label>
    </div>
    <div class="b-search-form__filter">
      <input class="b-search-form__filter-input b-search-form__location-toggle" type="checkbox" name="on_display" id="on_display">
      <label for="on_display">On display</label>
      <div class="b-search-form__filter b-search-form__location-wrapper">
        <select class="b-search-form__filter-select" name="location">
          <option value="">LOCATION</option>
          <option value="south_kensington">South Kensington</option>
          <option value="dundee">V&ampA Dundee</option>
        </select>
      </div>
    </div>
  </div>
  {% endif %}

</form>
