<h1>One Featured Event</h1>

<div class="g-event-feature-grid">
  {%- render "@event-feature" -%}
</div>


<h1>Two Featured Events</h1>

<div class="g-event-feature-grid">
  {%- render "@event-feature--half-width" -%}
  {%- render "@event-feature--half-width" -%}
</div>


<h1>Three Featured Events</h1>

<div class="g-event-feature-grid">
  {%- render "@event-feature" -%}
</div>
<div class="g-event-feature-grid">
  {%- render "@event-feature--half-width-fixed" -%}
  {%- render "@event-feature--half-width-fixed" -%}
</div>


<h1>Four Featured Events</h1>

<div class="g-event-feature-grid">
  {%- render "@event-feature" -%}
</div>
<div class="g-event-feature-grid">
  {%- render "@event-feature--third-width" -%}
  {%- render "@event-feature--third-width" -%}
  {%- render "@event-feature--third-width" -%}
</div>
