.u-btn {
  @include typeSetting(4);
  appearance: none;
  background-color: siteColor(primary-green);
  border: 1px solid siteColor(primary-green);
  border-radius: 2px;
  color: siteColor(vam-black);
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 10px 19px 8px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: border .2s, background-color .2s, color .2s;

  &:hover,
  &:focus {
    @include defaultFocus;
    background-color: darken(siteColor(primary-green), 10);
    border-color: darken(siteColor(primary-green), 10);
    text-decoration: none;
  }

  &--arrowed {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    &::after {
      border: 5px solid transparent;
      border-left-color: currentColor;
      content: '';
      display: block;
      margin: 0 0 -1px 7px;
    }
  }

  &--black {
    background-color: siteColor(vam-black);
    border: 1px solid siteColor(vam-black);
    color: #fff;

    &:hover,
    &:focus {
      background-color: lighten(siteColor(vam-black), 20);
      border: 1px solid lighten(siteColor(vam-black), 20);
    }
  }

  &--white {
    background-color: #fff;
    border: 1px solid #fff;
    color: siteColor(vam-black);

    &:hover,
    &:focus {
      background-color: darken(#fff, 10);
      border: 1px solid darken(#fff, 10);
    }
  }

  &--micro {
    @include typeSetting(3);
    padding: 4px 10px;

    &.u-btn--arrowed {
      padding-right: 5px;
    }
  }

  &--outlined {
    background-color: #fff;
    border-color: siteColor(vam-grey-4);
    color: siteColor(vam-black);

    &:hover,
    &:focus {
      background-color: darken(#fff, 10);
      border: 1px solid darken(#fff, 10);
    }
  }

  &--outlined-inverse {
    background-color: siteColor(vam-black);
    border-color: #fff;
    color: #fff;

    &:hover,
    &:focus {
      background-color: lighten(siteColor(vam-black), 20);
      border: 1px solid lighten(siteColor(vam-black), 20);
    }
  }
}
