{% if button %}
<button type="button" class="u-btn{% for m in modifiers %} u-btn--{{ m }}{% endfor %}{% for t in themed %} s-themed--{{ t }}{% endfor %}">
{% else %}
<a href="#" class="u-btn{% for m in modifiers %} u-btn--{{ m }}{% endfor %}{% for t in themed %} s-themed--{{ t }}{% endfor %}">
{% endif %}
  <span class="u-btn__text">{{ text }}</span>

  {% if icon %}
    <svg aria-hidden="true" class="u-btn__icon">
      <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#{{ icon }}"></use>
    </svg>
  {% endif %}
{% if button %}
</button>
{% else %}
</a>
{% endif %}

{% for v in variants %}
<div>
  {% if button %}
  <button type="button" class="u-btn{% for m in v %} u-btn--{{ m }}{% endfor %}">
  {% else %}
  <a href="#" class="u-btn{% for m in v %} u-btn--{{ m }}{% endfor %}">
  {% endif %}
    <span class="u-btn__text">{{ text }}</span>

    {% if icon %}
      <svg aria-hidden="true" class="u-btn__icon">
        <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#{{ icon }}"></use>
      </svg>
    {% endif %}
  {% if button %}
  </button>
  {% else %}
  </a>
  {% endif %}
</div>
{% endfor %}

