.b-beta-tag {
  &:focus div {
    @include defaultFocus;
  }

  &__tag {
    &:hover {
      cursor: pointer;
      span {
        text-decoration: underline;
      }
    }

    @include typeSetting(2, semi-bold, uppercase);
    background-color: themeColor(silent-green);
    color: siteColor(vam-black);
    height: 23px;
    padding-top: 1px;
    position: relative;
    text-align: center;
    width: 54px;

    @include bpMinSmall {
      height: 90px;
      width: 60px;
    }
  }

  &__text {
    padding-top: 60px;
    pointer-events: none;
    @include bpMinSmall {
      left: 10px;
      position: absolute;
      top: 0;
    }
  }
}

