@use "../../mixins";

.b-image-row {
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &--padded {
    @include mixins.breakpoints-bpMinSmall {
      margin-left: -6px;
      margin-right: -6px;
    }
  }

  &__item {
    display: flex;

    &--failed {
      flex-grow: 1;

      @include mixins.breakpoints-bpMaxSmall {
        flex-basis: 20%;
      }
    }
  }

  &--padded > &__item {
    @include mixins.breakpoints-bpMinSmall {
      margin: 6px;
    }
  }

  &__item:last-child:nth-child(odd) {
    @include mixins.breakpoints-bpMaxSmall {
      height: auto;
      margin-right: auto;
    }
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;

    /* default focus style is clipped */
    @include mixins.focus-raisedPseudoFocus;
  }

  &__img {
    height: 100%;
    object-fit: contain;
  
    &#{&} {
      width: auto;

      .b-image-row--failed & {
        width: 100%; // required for imgs replaced by s-imageload
      }
    }
  }
}
