<div class="b-image-row{% for m in modifiers %} b-image-row--{{ m }}{% endfor %}">
  {% for item in items %}
  <div class="b-image-row__item">
    <a class="b-image-row__link" href="#0">
      <img class="b-image-row__img" alt=""
           sizes="(min-width: 768px) {{ 150 / items.length }}vw,
                  50vw"
           srcset="{% for k, img in item.image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}"
           src="{{ item.image[320] }}"
           loading="lazy">
    </a>
  </div>
  {% endfor %}
</div>
