.u-media-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 28px;
  margin-bottom: 12px;
  padding-left: 65px;
  vertical-align: middle;

  &:hover {
    .u-media-btn__icon {
      box-shadow: 2px 2px 4px siteColor(vam-black);
      &--stop {
        box-shadow: 2px 2px 4px siteColor(vam-black);
      }
    }
    .u-media-btn__text {
      text-shadow: 2px 2px 4px siteColor(vam-black);
    }
  }

  &--desktop-only {
    display: none;
    @include bpMinLarge {
      display: inline-block;
    }
  }

  &--overlay {
    margin: 10px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__icon {
    border: 2px solid siteColor(vam-white);
    border-radius: 50%;
    box-shadow: none;
    display: inline-block;
    height: 28px;
    margin-right: 6px;
    position: relative;
    width: 28px;

    &--overlay {
      margin-right: 0;
    }

    &-graphic {
      box-shadow: none;
      left: 50%;
      margin: auto;
      position: absolute;
      top: 50%; 
      transform: translate(-50%, -50%);

      &--stop {
        background-color: siteColor(vam-white);
        height: 8px;
        width: 8px;
      }

      &--close {
        color: siteColor(vam-white);
        height: 12px;
        width: 12px;
      }
    }
  }

  &__text {
    @include typeSetting(1, normal);
    color: siteColor(vam-white);
    display: inline-block;
    height: 28px;
    line-height: 10px;
    text-decoration: none;
    text-shadow: none;
    vertical-align: middle;
  }

}
