@use "../../mixins";
@use "../../base";

.b-venue-social-media {
  background-color: #000;

  .b-promo__anchor {
    background-color: base.sitecolors-siteColor("vam-black");
  }

  &__content {
    padding: 20px 0 10px;

    @include mixins.breakpoints-bpMinXSmall {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: none;
      padding: 10px 20px;
    }

    @include mixins.breakpoints-bpMinSmall {
      padding: 10px 50px;
    }

    > h2 {
      @include base.typography-typeSetting(3, "bold");

      margin-bottom: 10px;

      @include mixins.breakpoints-bpMinSmall {
        @include base.typography-typeSetting(4, "bold");

        margin: 0;
      }

      @include mixins.breakpoints-bpMinMedium {
        @include base.typography-typeSetting(5, "bold");
      }
    }
  }

  &__socials {
    @include mixins.unstyledelements-unstyledList;

    display: flex;
    flex-direction: row;

    @include mixins.breakpoints-bpMaxXSmall {
      margin-top: 5px;
    }

    &__item {
      #{&} + & {
        margin-left: 10px;

        @include mixins.breakpoints-bpMinSmall {
          margin-left: 25px;
        }
      }

      &__link {
        border-radius: 50%;
        display: flex;
        padding: 11px;

        &:hover {
          background-color: base.sitecolors-siteColor("vam-grey-2");
        }

        &:focus {
          @include mixins.focus-defaultFocus;
        }

        > svg {
          height: 23px;
          margin: auto;
          width: 23px;

          @include mixins.breakpoints-bpMinSmall {
            height: 28px;
            width: 28px;
          }
        }
      }
    }
  }
}
