@use "../../mixins";
@use "../../base";

.b-venue-soc-med {
  align-items: center;
  background-color: base.sitecolors-siteColor("vam-black");
  color: base.sitecolors-siteColor("vam-grey-6");
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px;

  @include mixins.breakpoints-bpMinXSmall {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
    padding: 10px 20px;
  }

  @include mixins.breakpoints-bpMinSmall {
    padding: 10px 50px;
  }

  &__heading {
    @include base.typography-typeSetting(3, "bold");

    margin-bottom: 15px;
    text-align: center;

    @include mixins.breakpoints-bpMinXSmall {
      margin-bottom: 0;
    }

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "bold");
    }

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(5, "bold");
    }
  }

  &__list {
    @include mixins.unstyledelements-unstyledList;

    display: flex;
    flex-direction: row;
    gap: 10px;

    @include mixins.breakpoints-bpMinSmall {
      gap: 25px;
    }
  }

  &__list-anchor {
    border-radius: 50%;
    display: flex;
    padding: 11px;

    &::before {
      background-color: currentColor;
      content: '';
      flex: 0 0 auto;
      height: 23px;
      mask-repeat: no-repeat;
      width: 23px;

      @include mixins.breakpoints-bpMinSmall {
        height: 28px;
        width: 28px;
      }
    }

    &:hover {
      background-color: base.sitecolors-siteColor("vam-grey-2");
    }

    &-img-only {
      @include mixins.elementvisibility-visuallyHidden;
    }

    &--twitter {
      &::before {
        mask-image: var(--icon-svg-twitter);
      }
    }

    &--youtube {
      &::before {
        mask-image: var(--icon-svg-youtube);
      }
    }

    &--instagram {
      &::before {
        mask-image: var(--icon-svg-instagram);
      }
    }

    &--facebook {
      &::before {
        mask-image: var(--icon-svg-facebook);
      }
    }

    &--tiktok {
      &::before {
        mask-image: var(--icon-svg-tiktok);
      }
    }
  }
}
