<section class="b-venue-social-media b-promo b-promo--no-min-height">
  <article class="b-promo__item">
    <div class="b-promo__anchor" data-tracking="promobox-membership" href="http://www.vam.ac.uk/membership/">
      <div class="b-promo__content b-venue-social-media__content">
        <h2 class="b-promo__type">
          Follow the V&A South Kensington
        </h2>
        <ul class="b-venue-social-media__socials-list">
          <li class="b-venue-social-media__socials-list-item">
            <a href="https://www.twitter.com/V_and_A" class="b-venue-social-media__socials-list-link b-venue-social-media__socials-list-link--twitter" title="X (Twitter)">
              <span>X (Twitter)</span>
            </a>
          </li>
          <li class="b-venue-social-media__socials-list-item">
            <a href="https://www.youtube.com/vamuseum" class="b-venue-social-media__socials-list-link b-venue-social-media__socials-list-link--youtube" title="YouTube">
              <span>YouTube</span>
            </a>
          </li>
          <li class="b-venue-social-media__socials-list-item">
            <a href="https://www.instagram.com/vamuseum" class="b-venue-social-media__socials-list-link b-venue-social-media__socials-list-link--instagram" title="Instagram">
              <span>Instagram</span>
            </a>
          </li>
          <li class="b-venue-social-media__socials-list-item">
            <a href="https://www.facebook.com/victoriaandalbertmuseum" class="b-venue-social-media__socials-list-link b-venue-social-media__socials-list-link--facebook" title="Facebook">
              <span>Facebook</span>
            </a>
          </li>
          <li class="b-venue-social-media__socials-list-item">
            <a href="https://tiktok.com/@vamuseum" class="b-venue-social-media__socials-list-link b-venue-social-media__socials-list-link--tiktok" title="Tiktok">
              <span>Tiktok</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
