<div class="b-venue-soc-med">
  <h2 class="b-venue-soc-med__heading">
    Follow the V&A South Kensington
  </h2>
  <ul class="b-venue-soc-med__list">
    <li>
      <a href="#" class="b-venue-soc-med__list-anchor b-venue-soc-med__list-anchor--twitter" title="X (Twitter)">
        <span class="b-venue-soc-med__list-anchor-img-only">
          Twitter
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="b-venue-soc-med__list-anchor b-venue-soc-med__list-anchor--youtube" title="YouTube">
        <span class="b-venue-soc-med__list-anchor-img-only">
          YouTube
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="b-venue-soc-med__list-anchor b-venue-soc-med__list-anchor--instagram" title="Instagram">
        <span class="b-venue-soc-med__list-anchor-img-only">
          Instagram
        </span>
      </a>
    </li>
    <li>
      <a href="#" class="b-venue-soc-med__list-anchor b-venue-soc-med__list-anchor--facebook" title="Facebook">
      <span class="b-venue-soc-med__list-anchor-img-only">
        Facebook
      </span>
      </a>
    </li>
    <li>
      <a href="#" class="b-venue-soc-med__list-anchor b-venue-soc-med__list-anchor--tiktok" title="TikTok">
        <span class="b-venue-soc-med__list-anchor-img-only">
          TikTok
        </span>
      </a>
    </li>
  </ul>
</div>
