<section class="b-promo b-promo--no-min-height">
  <article class="b-promo__item js-object-fit-container">
    <img srcset="https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_320.jpg 320w, https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_640.jpg 640w, https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_960.jpg 960w, https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_1280.jpg 1280w, https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_1920.jpg 1920w, https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_2560.jpg 2560w" sizes="(min-width: 1200px) 1200px, 100vw" class="b-promo__image" src="https://vanda-production-assets.s3.amazonaws.com/2016/07/27/10/04/membership_960.jpg" alt="Membership">
    <div class="b-promo__anchor b-venue-social-media" data-tracking="promobox-membership" href="http://www.vam.ac.uk/membership/">
      <div class="b-promo__content b-venue-social-media__content">
        <h2 class="b-promo__type">
          Follow the V&A South Kensington
        </h2>
        <div class="b-venue-social-media__socials">
          <a href="#" class="b-icon-link b-icon-link--light b-icon-link--no-border ">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" role="presentation">
                <use xlink:href="/assets/svg/svg-template.svg#twitter"></use>
              </svg>
            </div>
          </a>
          <a href="#" class="b-icon-link b-icon-link--light b-icon-link--no-border ">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" role="presentation">
                <use xlink:href="/assets/svg/svg-template.svg#twitter"></use>
              </svg>
            </div>
          </a>
          <a href="#" class="b-icon-link b-icon-link--light b-icon-link--no-border ">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" role="presentation">
                <use xlink:href="/assets/svg/svg-template.svg#twitter"></use>
              </svg>
            </div>
          </a>
          <a href="#" class="b-icon-link b-icon-link--light b-icon-link--no-border ">
            <div class="b-icon-link__container">
              <svg class="b-icon-link__icon" role="presentation">
                <use xlink:href="/assets/svg/svg-template.svg#twitter"></use>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </article>
</section>
