@use "../../mixins";
@use "../../base";

.b-icon-link {
  color: base.sitecolors-siteColor("vam-black");
  cursor: pointer;
  display: inline-block;
  height: 45px;
  position: relative;
  width: 45px;

  &--light {
    color: base.sitecolors-siteColor("vam-white");
  }

  &__download {
    border: 1px solid base.sitecolors-siteColor("vam-black");
    border-radius: 50%;
    cursor: default;
  }

  &--active {
    background-color: base.sitecolors-siteColor("secondary-green");
    border-color: base.sitecolors-siteColor("secondary-green");
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
  }

  &__container {
    &::after {
      border: 1px solid currentColor;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 100%;
      opacity: 0.25;
      position: absolute;
      transition: opacity 0.2s;
      width: 100%;

      .b-icon-link--no-border & {
        border-width: 0;
      }

      .b-icon-link:hover & {
        opacity: 1;
      }

      .b-icon-link--no-border:hover & {
        @include mixins.breakpoints-bpMaxXSmall {
          background-color: transparent;
          border-width: 0;
        }

        background-color: base.sitecolors-siteColor("vam-black");
        border: 1px solid base.sitecolors-siteColor("vam-black");
        opacity: 0.6;
        z-index: 0;
      }
    }

    &-download {
      &::after {
        content: none;
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  &__icon {
    height: 46%;
    inset: 27%;
    position: absolute;
    width: 46%;
    z-index: 1;
  }
}
