.b-search-result {
  background-color: siteColor(vam-white);
  border-bottom: 1px solid siteColor(vam-grey-5);
  display: block;
  max-height: 194px;
  position: relative;
  width: 100%;

  @include bpMinXSmall {
    height: 140px;
  }

  &__content {
    padding: 16px 0;
    &-text {
      margin: auto;
    }

    &-type {
      @include typeSetting(0, semi-bold);
      color: siteColor(vam-grey-2);
      margin-bottom: 4px;


      @include bpMinXSmall {
        @include typeSetting(1, semi-bold);
        height: 28px;
        line-height: 2rem;
        margin-bottom: 0;
        padding-left: 120px;
      }
    }

    &-title {
      @include typeSetting(4, normal);
      color: siteColor(vam-black);
      line-height: 1.33rem;
      margin-bottom: 12px;
      max-height: 42px;
      overflow: hidden;
      text-overflow: clip;
      white-space: normal;
      
      @include bpMinXSmall {
        @include typeSetting(5, normal);
        height: 32px;
        margin-bottom: 4px;
        padding-left: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-description {
      @include typeSetting(1, normal);
      color: siteColor(vam-grey-2);
      height: 72px;
      line-height: 18px;
      overflow: hidden;
      padding-right: 5px;
      position: relative;
      
      @include bpMinXSmall {
        height: 34px;
        padding-left: 120px;
        padding-right: 0;
      }

      & em {
        font-style: normal;
        font-weight: 700;
      }
    }

    &-image {
      float: right;
      height: 72px;
      object-fit: cover;
      width: 72px;

      @include bpMinXSmall {
        float: left;
        height: 100px;
        margin: 20px 0;
        position: absolute;
        top: 0;
        width: 100px;
      }
    }
  }
}
