@use "../../mixins";
@use "../../base";

.b-search-result {
  background-color: base.sitecolors-siteColor("vam-white");
  border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-5");
  display: block;
  position: relative;
  width: 100%;

  &__content {
    min-height: 139px;
    padding: 16px 0;

    &-text {
      margin: auto;
    }

    &-type {
      @include base.typography-typeSetting(1);

      color: base.sitecolors-siteColor("vam-grey-2");
      margin-bottom: 4px;

      @include mixins.breakpoints-bpMinXSmall {
        margin-bottom: 0;
        padding-left: 120px;
      }
    }

    &-title {
      @include base.typography-typeSetting(3, "bold");

      color: base.sitecolors-siteColor("vam-black");
      margin-bottom: 12px;
      overflow: hidden;
      text-overflow: clip;
      white-space: normal;

      @include mixins.breakpoints-bpMinXSmall {
        @include base.typography-typeSetting(4, "bold");

        margin-bottom: 4px;
        padding-left: 120px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &-description {
      @include base.typography-typeSetting(2, "light");

      color: base.sitecolors-siteColor("vam-grey-2");
      max-height: 5em;
      overflow: hidden;
      padding-right: 5px;
      position: relative;

      @include mixins.breakpoints-bpMinXSmall {
        max-height: 2.5em;
        padding-left: 120px;
        padding-right: 0;
      }

      & > em {
        font-style: normal;
        font-weight: 700;
      }
    }

    &-image {
      float: right;
      height: 72px;
      object-fit: cover;
      width: 72px;

      @include mixins.breakpoints-bpMinXSmall {
        float: none;
        height: 100px;
        margin: 20px 0;
        position: absolute;
        top: 0;
        width: 100px;
      }
    }
  }
}
