// sass-lint:disable-all
.b-search-result {
	width: 100%;
	height: 194px;
	background-color: #ffffff;

	@include bpMinSmall {
		height: 140px;
	}
}

.b-search-result-content-type {
	height: 13px;
	font-weight: 600;
	text-transform: uppercase;
	height: 18px;
	font-size: 12px;
	line-height: 1.08;
	letter-spacing: 1px;
	left: 14px;
	text-align: left;
	color: #56575b;
	position: relative;
	top: 26px;

	@include bpMinSmall {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: 1.1px;
		left: auto;
	}
}

.b-search-result-title {
	overflow: hidden;
	white-space: normal;
	text-overflow: clip;
	width: 95%;
	font-weight: 600;
	letter-spacing: 1.2px;
	height: 50px;
	font-size: 18px;
	line-height: 1.33;
	text-align: left;
	color: #1d1e20;
	position: relative;
	// TODO I don't understand why Top -30px works but bottom 30px doesn't
	top: -30px;
	left: 14px;

	@include bpMinSmall {
		height: 31px;
		font-size: 22px;
		line-height: 1.36;
		left: auto;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 80%;
		top: 26px;
	}

}

.b-search-result-description {
	width: 75%;
	height: 72px;
	overflow: hidden;
	font-size: 13px;
	line-height: 1.38;
	text-align: left;
	color: #505054;
	position: relative;
	top: -24px;
	left: 14px;

	@include bpMinSmall {
		height: 34px;
		left: auto;
		top: 30px;
		width: 80%;
	}

	@include bpMaxXSmall {
		width: 65%;
	}
}

.b-search-result-image {
	float: right;
	width: 72px;
	height: 72px;
	margin: 0px 16px;
	top: 98px;
	position: relative;

	@include bpMinSmall {
		width: 100px;
		height: 100px;
		float: left;
		top: auto;
		position: static;
		margin: 20px 0px;
		margin-right: 20px;
	}
}
