@font-face {
  font-display: swap;
  font-family: 'Spiller';
  src: url('../fonts/Spiller-Upright-weight-VF-Web.woff2') format('woff2'), url('../fonts/Spiller-Upright-weight-VF-Web.woff') format('woff');
}

$font-family: (
  text: ('Spiller', Arial, Helvetica, sans-serif),
  code: (Consolas, Menlo, Monaco, 'Courier New', monospace)
);

$font-weight: (
  light: 300,
  regular: 400,
  bold: 500
);

$font-size: (
  0: 12,
  1: 13,
  2: 14,
  3: 15,
  4: 17,
  5: 23,
  6: 31,
  7: 41,
  8: 51,
  9: 62
);

$line-height: (
  0: 16,
  1: 18,
  2: 18,
  3: 21,
  4: 28,
  5: 36,
  6: 42,
  7: 52,
  8: 56,
  9: 66
);

$base-font-size: 3;
$base-font-weight: 'regular';

@function fontFamily($type: text) {
  @return map-get($font-family, $type);
}

@function fontSize($size: $base-font-size) {
  @return map-get($font-size, $size);
}

@function fontWeight($w: $base-font-weight) {
  @return map-get($font-weight, $w);
}

@function lineHeight($size: $base-font-size, $weight: $base-font-weight) {
  @if $weight == "bold" {
    @if $size < 3 {
      @return map-get($line-height, $size);
    } @else if $size > 7 {
      @return map-get($line-height, $size);
    } @else {
      @return map-get($line-height, $size - 1);
    }
  } @else {
    @return map-get($line-height, $size);
  }
}

@mixin fontSize($sizeValue: $base-font-size) {
  font-size: fontSize($sizeValue) + px; // Old browser fallback
  font-size: (fontSize($sizeValue) / fontSize($base-font-size)) + rem; // Base fontsize is 15px
}

@mixin lineHeight($heightValue: $base-font-size, $weight: $base-font-weight) {
  line-height: lineHeight($heightValue, $weight) + px; // Old browser fallback
  line-height: (lineHeight($heightValue, $weight) / fontSize($base-font-size)) + rem;
}

@mixin typeSetting($size: $base-font-size, $weight: $base-font-weight) {
  @include fontSize($size);
  @include lineHeight($size, $weight);
  font-weight: fontWeight($weight);
}
