<div class="b-collection-card{% for m in modifiers %} b-collection-card--{{ m }}{% endfor %}" aria-label="{{ collectionTitle }}">
  <a class="b-collection-card__anchor" href="{{ collectionUrl }}">
    <div class="b-collection-card__media">
      <div class="b-collection-card__overlay">
        <span class="b-collection-card__overlay-text">View collection</span>
      </div>

      <img class="b-collection-card__media-image"
          srcset="{{ collectionImage[240] }} 240w,
                   {{ collectionImage[500] }} 500w"
          sizes="(max-width: 499px) calc(100vw - 24px),
                 (min-width: 500px) calc(50vw - 28px),
                 (min-width: 992px) calc(25vw - 78px),
                 (min-width: 1200px) 280px"
          src="{{ collectionImage[240] }}"
          alt="{{ collectionTitle }}"
          itemprop="contentUrl"
          loading="lazy">
    </div>

    <div class="b-collection-card__name">{{ collectionTitle }}</div>
  </a>
</div>
