@use "../../base";

.b-search-sidebar-item {
  box-sizing: border-box;
  display: inline-block;
  height: 256px;
  max-width: 256px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;

  &--short {
    height: 100px;
  }

  &__media {
    height: 100%;
    width: 100%;

    &::after {
      background-image: linear-gradient(rgba(0, 0, 0, 0%), rgba(0, 0, 0, 0%), rgba(0, 0, 0, 80%), rgba(0, 0, 0, 100%));
      content: "";
      display: block;
      inset: 0;
      opacity: 0.8;
      position: absolute;
      transition: opacity 0.35s ease;
      width: 100%;
      z-index: 0;
    }
  }

  &__media-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__content {
    bottom: 0;
    margin: 10px 5px 10px 10px;
    position: absolute;
    text-align: left;

    .b-search-sidebar-item--short & {
      bottom: auto;
      position: relative;
      top: auto;
    }
  }
}

.b-search-sidebar-item__content-icon {
  color: #fff;
  display: inline-block;
  max-height: 70.3px;
  max-width: 122px;
}

.b-search-sidebar-item__content-text {
  @include base.typography-typeSetting(5, "bold");

  color: white;
  display: inline-block;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 50%);

  .b-search-sidebar-item--short & {
    bottom: 14px;
    left: 0;
    position: absolute;
    text-align: left;
    top: auto;
  }
}
