.search-results {
	&__table {
		color: siteColor(vam-white);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;	
		width: 355px;
		margin-top: 0px;

		@include bpMinSmall {
			width: auto;
		}
	}
	
	&__count {
		color: siteColor(vam-white);
		padding-bottom: 10px;
		padding-top: 10px;
		font-size: 21px;

		@include bpMinSmall {
			@include typeSetting(5, regular);
			padding-bottom: 21px;		
		}

		@include bpMinLarge {
			@include typeSetting(6, regular);
		}
	}

	&__cell {
		@include typeSetting(3, light);
		padding-right: 40px;
		position: relative;
		&--full {
			display: none;
			@include bpMinLarge {
				display: table-cell;
			}
		}
		&-span {
			@include typeSetting(2, light);
			&--emphasis {
				@include typeSetting(2, bold);				
			}

			@include bpMinSmall {
				@include typeSetting(3, light);
				&--emphasis {
					@include typeSetting(3, bold);				
				}			
			}

			&--responsive {
				display: none;
				@include bpMinSmall {
					display: block;
				}
			}
		}	
		&-content {
			&-img, &-container {
				position: absolute;
			    top: 50%;
			    margin: auto 0px;
			}
			&-img {
				img {
					@include bpMinSmall {
						max-width: fit-content;
						max-height: fit-content;
						padding: 0px;
					}
					max-height: 80px;
					padding: 10px;
				    max-width: 100px;
				}

			    left: 50%;
			    transform: translate(-50%, -50%);
			}
			&-container {
			    transform: translateY(-50%);
			}
			padding-top: 21px;
		}
		&--emphasis {
			@include typeSetting(3, bold);
		}
		&--responsive {
			padding-top: 25px;
			line-height: 1.8px;
			display: table-cell;
			@include bpMinLarge {
				display: none;
			}
		}
	}

	&__body {
		&-row {
			height: 84px;

			@include bpMinSmall {
				height: 150px;
			}

			background-color: #393b3f;
			border-bottom: 4px solid #1d1e20;
			&:hover {
				cursor: pointer;			
			 	background-color: #45484d;			
			}			
		}
	}

	&__head {
		@include typeSetting(4, semi-bold);

		&-cell {
			display: none;
			@include bpMinLarge {
				display: table-cell;
			}
		}
		&-responsive {
			display: table-cell;
			@include bpMinLarge {
				display: none;
			}
			width: 420px;
		}
		&-image {
			width: 220px;
		}
		&-title {
			width: 300px;
		}
		&-artist {
			width: 300px;
		}
		&-date {
			width: 200px;
		}
		&-place {
			width: 180px;
		}
	}
}