@use "../../mixins";
@use "../../base";

.b-record-card {
  background: base.sitecolors-siteColor("vam-white");
  border-radius: 2px;
  color: base.sitecolors-siteColor("vam-black");
  display: block;

  &__image-container {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 190px;
    object-fit: cover;
    transform: scale(1);
    transition: 0.25s ease-out;
    width: 100%;
  }

  .u-label-tag {
    bottom: 10px;
    left: 10px;
    margin: 0;
    top: auto;
    z-index: 1;
  }

  &__info-container {
    padding: 8px 10px 20px;

    > p {
      margin-bottom: 8px;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
  
  &__heading {
    @include base.typography-typeSetting(5, "bold");
    @include base.typography-lineheight(4);

    margin-bottom: 8px;
  }

  &__synopsis {
    @include base.typography-typeSetting(4);
  }

  &--archive-series {
    padding: 8px;
    position: relative;

    .b-record-card__info-container {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    .b-record-card__heading {
      @include base.typography-typeSetting(4);
      @include base.typography-lineheight(3);

      flex: 100%;

      @include mixins.breakpoints-bpMinSmall {
        flex: 50%;
        margin-bottom: 40px;
      }
    }

    .b-record-card__distribution {
      display: flex;
      flex: 100%;
      gap: 10px;

      @include mixins.breakpoints-bpMinSmall {
        align-items: baseline;
        flex: 0 0 auto;
        justify-content: flex-end
      }
    }

    .u-label-tag {
      flex: 0 0 auto;
      height: fit-content;
      margin-bottom: 8px;
      margin-top: 2px;
      position: static;
    }

    .b-record-card__extent,
    .b-record-card__reference {
      @include base.typography-typeSetting(2);

      flex: 50%;
      text-align: right;
    }

    .b-record-card__date {
      @include base.typography-typeSetting(3);

      align-self: flex-end;
      flex: 50%;
    }

    .b-record-card__reference {
      align-self: flex-end;
      color: base.sitecolors-siteColor("vam-grey-2");
      margin-bottom: 8px;
      text-align: right;
    }

    .b-record-card__extent {
      @include mixins.breakpoints-bpMaxSmall {
        @include mixins.elementvisibility-visuallyHidden;
      }
    }
  }

  &--archive-series-thumbnail {
    display: flex;
    gap: 12px;

    .b-record-card__image-container {
      flex: 1 1 0;
    }

    .b-record-card__image {
      height: 94px;
    }

    .b-record-card__info-container {
      flex: 2 2 0;

      @include mixins.breakpoints-bpMinSmall {
        flex: 5 5 0;
      }
    }

    .b-record-card__heading {
      @include mixins.breakpoints-bpMinSmall {
        margin-bottom: 0;
      }
    }
  }

  &--archive-collection {
    display: flex;
    gap: 12px;
    padding: 8px;

    .b-record-card__image-container {
      flex: 1 1 0;
    }

    .b-record-card__image {
      height: 78px;
    }

    .b-record-card__info-container {
      border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");
      flex: 2 2 0;
      padding: 0;
    }

    .b-record-card__heading {
      @include base.typography-typeSetting(3);
    }
  }

  &:where(.b-record-card--archive-series, .b-record-card--archive-collection) {
    &:hover,
    &:focus,
    &.selected {
      background: base.sitecolors-siteColor("vam-grey-6");

      .b-record-card__info-container {
        border-bottom-color: transparent;
      }

      .u-label-tag--archive-collection {
        background-color: base.sitecolors-siteColor("vam-grey-4");
      }
    }

    &:hover,
    &:focus {
      .b-record-card__heading {
        text-decoration: underline;
      }
    }

    &.selected {
      .b-record-card__heading {
        font-variation-settings: "wght" 500;
        text-decoration: none;
      }
    }
  }

  // NB. if we want all text altered to vam-grey-3 as per the ordinary card component
  // the setting of .b-record-card__reference to vam-grey-2 is problematic as CSS properties 
  // cannot be applied to the anchor's child elements.
  &:visited {
    color: base.sitecolors-siteColor("vam-grey-3");
  }

  &:hover &__image,
  &:focus-visible &__image {
    transform: scale(1.1);
  }
}
