@use "../../mixins";
@use "../../base";

.b-record-card {
  @include base.typography-typeSetting(2);

  background: base.sitecolors-siteColor("vam-white");
  border-radius: 2px;
  color: base.sitecolors-siteColor("vam-black");
  display: block;
  padding: 8px;

  &__info-container {
    border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-4");

    > p {
      margin-bottom: 8px;
    }
  }
  
  &__heading {
    @include base.typography-typeSetting(3);

    margin-bottom: 8px;
  }

  &__label-tag {
    background: base.sitecolors-siteColor("vam-grey-6");
    border-radius: 2px;
    flex: 0 0 auto;
    margin-bottom: 8px;
    margin-top: 2px;
    padding: 2px 4px;
  }

  &:hover,
  &:focus-visible,
  &.selected {
    background: base.sitecolors-siteColor("vam-grey-6");

    .b-record-card__info-container {
      border-bottom-color: transparent;
    }

    .b-record-card__label-tag {
      background-color: base.sitecolors-siteColor("vam-grey-4");
    }
  }

  &:hover,
  &:focus-visible {
    .b-record-card__heading {
      text-decoration: underline;
    }
  }

  // :visited property on the anchor cannot override child element property where set
  // i.e., colour property on .b-record-card__reference
  &:visited {
    color: base.sitecolors-siteColor("vam-grey-3");
  }

  &__image-container {
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    position: relative;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.25s ease-out;
    width: 100%;
  }

  &:hover &__image,
  &:focus-visible &__image {
    transform: scale(1.1);
  }

  &__distribution {
    display: flex;
    flex: 100%;
    gap: 10px;

    @include mixins.breakpoints-bpMinSmall {
      align-items: baseline;
      flex: 0 0 auto;
      justify-content: flex-end
    }
  }

  &__date {
    @include base.typography-typeSetting(3);

    align-self: flex-end;
    flex: 50%;
  }

  &__extent,
  &__reference {
    flex: 50%;
    text-align: right;
  }

  &__reference {
    align-self: flex-end;
    color: base.sitecolors-siteColor("vam-grey-2");
    margin-bottom: 8px;
    text-align: right;
  }

  &__extent {
    @include mixins.breakpoints-bpMaxSmall {
      @include mixins.elementvisibility-visuallyHidden;
    }
  }

  // has a thumbnail image
  &:has(.b-record-card__image-container) {
    display: flex;
    gap: 12px;

    .b-record-card__image-container {
      border-radius: 0;
      flex: 1 1 0;
    }

    // thumbnail images are not designed to expand in height
    .b-record-card__image {
      height: 57px;
    }

    .b-record-card__info-container {
      flex: 2 2 0;
      padding: 0;
    }
  }

  // is an Archive Series card
  &:has(.b-record-card__distribution) {
    .b-record-card__info-container {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }

    .b-record-card__heading {
      @include base.typography-typeSetting(4);
      @include base.typography-lineheight(3);

      flex: 100%;

      @include mixins.breakpoints-bpMinSmall {
        flex: 50%;
      }
    }
  }

  &.selected {
    .b-record-card__heading {
      font-variation-settings: "wght" 500;
      text-decoration: none;
    }
  }
  
  // is an Archive Series card AND has a thumbnail image
  &:has(.b-record-card__distribution):has(.b-record-card__image-container) {
    display: flex;
    gap: 12px;

    .b-record-card__image-container {
      border-radius: 0;
      flex: 1 1 0;
    }

    // thumbnail images are not designed to expand in height
    .b-record-card__image {
      height: 78px;

      // for use when an optional u-label element is associated.
      &--large {
        height: 94px;
      }

      @include mixins.breakpoints-bpMinSmall {
        height: 94px;
      }
    }

    .b-record-card__info-container {
      flex: 2 2 0;

      @include mixins.breakpoints-bpMinSmall {
        flex: 4 4 0;
      }
    }

    .b-record-card__heading {
      @include mixins.breakpoints-bpMinSmall {
        margin-bottom: 0;
      }
    }
  }
}
