
<!-- Default Record Card -->

<a href="#" class="b-record-card {% for m in modifier %} b-record-card--{{ m }}{% endfor %}">
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Material relating to Vivien Leigh's Career</h2>
  </div>
</a>

<br><br>
<!-- Default Record Card with thumbnail image -->

<a href="#" class="b-record-card">
  <div class="b-record-card__image-container">
    <img alt="" 
      class="b-record-card__image" 
      srcset="{{ image[320] }} 320w,
              {{ image[640] }} 640w" 
      sizes="100vw" 
      src="{{ image[320] }}" 
      loading="lazy">
  </div>
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Theatre and Performance</h2>
  </div>
</a>

<br><br>
<!--  Archive Series Record Card -->

<a href="#" class="b-record-card">
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Vivien Leigh Archive</h2>
    <div class="b-record-card__distribution">
      <p class="b-record-card__extent">90 Boxes</p>
    </div>
    <p class="b-record-card__date">1925-1967</p>
    <p class="b-record-card__reference">THM/433</p>
  </div>
</a>

<br><br>
<!--  Archive Series Record Card with label -->

<a href="#" class="b-record-card">
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Vivien Leigh Archive</h2>
    <div class="b-record-card__distribution">
      <div class="b-record-card__label-tag">
        Archive Collection
      </div>
      <p class="b-record-card__extent">90 Boxes</p>
    </div>
    <p class="b-record-card__date">1925-1967</p>
    <p class="b-record-card__reference">THM/433</p>
  </div>
</a>

<br><br>
<!--  Archive Series Record Card with thumbnail image -->

<a href="#" class="b-record-card">
  <div class="b-record-card__image-container">
    <img alt="" 
    class="b-record-card__image" 
    srcset="{{ image[320] }} 320w,
            {{ image[640] }} 640w" 
    sizes="100vw" 
    src="{{ image[320] }}" 
    loading="lazy">
  </div>
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Vivien Leigh Archive</h2>
    <div class="b-record-card__distribution">
      <p class="b-record-card__extent">90 Boxes</p>
    </div>
    <p class="b-record-card__date">1925-1967</p>
    <p class="b-record-card__reference">THM/433</p>
  </div>
</a>

<br><br>
<!--  Archive Series Record Card with label and thumbnail image -->

<a href="#" class="b-record-card">
  <div class="b-record-card__image-container">
    <img alt="" 
    class="b-record-card__image b-record-card__image--large" 
    srcset="{{ image[320] }} 320w,
            {{ image[640] }} 640w" 
    sizes="100vw" 
    src="{{ image[320] }}" 
    loading="lazy">
  </div>    
  <div class="b-record-card__info-container">
    <h2 class="b-record-card__heading">Vivien Leigh Archive</h2>
    <div class="b-record-card__distribution">
      <div class="b-record-card__label-tag">
        Archive Collection
      </div>
      <p class="b-record-card__extent">90 Boxes</p>
    </div>
    <p class="b-record-card__date">1925-1967</p>
    <p class="b-record-card__reference">THM/433</p>
  </div>
</a>
