@use "../../mixins";
@use "../../base";

.b-image-overlay-license-modal {
  &__download-button {
    padding: 13px 10px;

    @include mixins.breakpoints-bpMinMedium {
      padding: 6px 10px;
    }

    .b-image-overlay__figcaption--shut & {
      display: none;
    }
  }

  &__modal-content {
    background-color: base.sitecolors-siteColor("vam-white");
    border-radius: 2px;
    color: base.sitecolors-siteColor("vam-black");
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &__exit {
    --btn-size: 32px;

    float: right;

    @include mixins.breakpoints-bpMinXSmall {
      margin: -20px -10px;
    }

    @include mixins.breakpoints-bpMinSmall {
      margin: -10px -20px;
    }
  }

  &__contact-modal-open {
    cursor: pointer;
  }

  &__modal-contact-content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__modal-download-content {
    display: none;

    &--active {
      display: block;
    }
  }

  &__title {
    @include base.typography-typeSetting(3, "bold");

    margin-bottom: 10px;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(5, "bold");

      margin-bottom: 18px;
    }
  }

  &__description-container-bullets li {
    margin-bottom: 5px;
    max-width: 471px;
  }

  &__image-button-description {
    @include base.typography-typeSetting(3, "light");
  }

  &__description-container {
    @include mixins.breakpoints-bpMinSmall {
      padding: 22px;
    }

    background-color: #efefed;
    padding: 5px;
  }

  &__footer-content {
    margin-top: 10px;
  }

  &__description {
    font-weight: 100;
  }

  &__image-container {
    @include mixins.breakpoints-bpMinSmall {
      margin: 0 25px;
    }
  }

  &__download-link-text {
    margin-left: 15px;
  }

  &__download-links {
    display: none;

    &--active {
      align-items: center;
      display: flex;
    }
  }

  &__download-link {
    @include base.typography-typeSetting(3);

    cursor: pointer;
    text-underline-position: under;
  }

  &__download-icon {
    --btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='currentColor'%3E%3Cpath d='M88.6498781,98.5631444 L12.3341873,98.5631444 C9.9440105,98.5631444 8,96.5819534 8,94.13335 L8,68.7656064 C8,66.3223146 9.93869899,64.335812 12.3341873,64.335812 C14.7243642,64.335812 16.6630632,66.3223146 16.6630632,68.7656064 L16.6630632,89.6929326 L84.3316253,89.6929326 L84.3316253,68.7656064 C84.3316253,66.3223146 86.2756358,64.335812 88.6658127,64.335812 C91.0559895,64.335812 93,66.3223146 93,68.7656064 L93,94.13335 C93,96.5766419 91.0666125,98.5684559 88.6711242,98.5684559 L88.6498781,98.5631444 Z M71.9505093,48.1569706 L53.5514591,66.9756296 C53.0628007,67.474911 52.4572893,67.8626508 51.7721052,68.0751109 C51.6499406,68.128226 51.50653,68.1547835 51.3684309,68.181341 C51.0922327,68.245079 50.8001,68.2769481 50.4973442,68.2769481 C49.7643567,68.2769481 49.0791727,68.1016684 48.4895957,67.7670437 C48.3621196,67.6979941 48.2452665,67.6236331 48.1284134,67.5439605 C48.0115603,67.4695995 47.8893957,67.3846154 47.7725426,67.2783853 C47.6503781,67.1880897 47.544148,67.0924827 47.4432294,66.9809411 L29.0335562,48.1569706 C27.3338749,46.4307317 27.3338749,43.6156346 29.0335562,41.8893957 C30.7226145,40.1578454 33.4686621,40.1578454 35.1577204,41.8893957 L46.1525339,53.1497844 L46.1525339,6.43510592 C46.1525339,3.98119103 48.1018559,2 50.4920327,2 C52.8822096,2 54.8209086,3.98119103 54.8209086,6.43510592 L54.8209086,53.1497844 L65.8263451,41.8787727 C67.5154034,40.1525339 70.2561395,40.1525339 71.9558208,41.8787727 C73.6555021,43.6103231 73.6555021,46.4307317 71.9558208,48.1463476 L71.9505093,48.1569706 Z'/%3E%3C/svg%3E");
    --btn-icon-size: 60%;
    --btn-size: 45px;
  }

  &__image-info {
    color: base.sitecolors-siteColor("vam-grey-3");
    font-style: italic;
  }

  &__image-size {
    color: base.sitecolors-siteColor("vam-grey-3");
  }

  &__title-section,
  &__footer-section {
    margin: 5px;

    @include mixins.breakpoints-bpMinSmall {
      margin: 15px 25px 0;
    }
  }

  &__footer-section {
    @include mixins.breakpoints-bpMinSmall {
      margin-top: 30px;
    }

    border-top: 1px solid rgba(0, 0, 0, 30%);
    margin-top: 10px;
  }

  &__agree-to-terms {
    &-text {
      @include base.typography-typeSetting(4, "regular");

      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      justify-content: flex-end;
      margin: 15px 0;
    }
    
    &-reminder {
      @include base.typography-typeSetting(2, "light");
      
      color: base.sitecolors-siteColor("alert-red");
      display: none;
    }
  }

  &__agree-checkbox {
    --input-background: #{base.sitecolors-siteColor("vam-white")};
    --input-border: #{base.sitecolors-siteColor("vam-black")};

    &--warning {
      &::before {
        background-color: rgba(255, 80, 83, 10%);
        border-color: base.sitecolors-siteColor("alert-red");
      }
    }
  }
}
