$icon-width: 30px;

.b-icon-list {
  @include typeSetting(2, regular);
  @include unstyledList;
  color: siteColor(vam-black);

  &--venue {
    padding-bottom: 15px;
    @include bpMinXSmall {
      padding-bottom: 60px;
    }
    @include bpMinSmall {
      padding-bottom: 50px;
    }
    @include bpMinMedium {
      padding-bottom: 30px;
    }
  }

  &--dark {
    color: siteColor(vam-white);
  }

  &__item {
    margin-bottom: 10px;
    margin-left: $icon-width;

    &--no-icon {
      @include bpMaxXSmall {
        margin-left: 0;
      }
    }

    &__icon {
      float: left;
      height: 20px;
      margin-left: -$icon-width;
      margin-top: 5px;
      width: 20px;
    }

    &__heading {
      @include typeSetting(4, regular);
      margin: 0;

      @include bpMinXSmall {
        @include bpMaxSmall {
          @include typeSetting(3, regular);
        }
      }
    }
  }
}
