@use "../../mixins";
@use "../../base";

$icon-width: 30px;

.b-icon-list {
  @include base.typography-typeSetting(2);
  @include mixins.unstyledelements-unstyledList;

  color: base.sitecolors-siteColor("vam-black");

  &--dark {
    color: base.sitecolors-siteColor("vam-white");
  }

  &__item {
    margin-bottom: 25px;
    margin-left: $icon-width;

    &--no-icon {
      margin-left: 40px;

      @include mixins.breakpoints-bpMaxSmall {
        margin-left: 0;
      }
    }

    &__icon {
      float: left;
      height: 20px;
      margin-left: -$icon-width;
      margin-top: 5px;
      width: 20px;
    }

    &__content {
      margin-left: 10px;

      > p {
        margin-bottom: 5px;
      }
    }

    &  #{&}__heading {
      @include base.typography-typeSetting(4, "bold");

      margin-bottom: 5px;

      @include mixins.breakpoints-bpMinXSmall {
        @include mixins.breakpoints-bpMaxSmall {
          @include base.typography-typeSetting(3, "bold");
        }
      }
    }
  }
}
