$icon-width: 30px;

.b-icon-list {
  @include typeSetting(2, regular);
  @include unstyledList;

  color: siteColor(vam-black);
  display: flex;
  flex-wrap: wrap;

  &--venue {
    padding-bottom: 15px;
    @include bpMinMedium {
      padding-bottom: 0;
    }
  }

  &--dark {
    color: siteColor(vam-white);
  }

  &__item {
    margin-bottom: 20px;
    margin-left: $icon-width;
    width: calc(100% - #{$icon-width});

    &--venue {
      margin-bottom: 10px;
      margin-left: 16px;
      width: calc(100% - 16px);
    }

    @include bpMinXSmall {
      float: left;
      margin-right: 2%;
      width: calc(48% - #{$icon-width});
      &--venue {
        float: none;
        margin-bottom: 0;
        margin-left: 16px;
        width: calc(100% - 16px);
        width: 100%;
      }
    }

    @include bpMinSmall {
      float: none;
      margin-bottom: 25px;
      width: 100%;
      &--venue {
        margin-bottom: 5px;
        margin-left: 16px;
        width: calc(100% - 16px);
      }
    }

    &__icon {
      float: left;
      height: 20px;
      margin-left: -$icon-width;
      margin-top: 5px;
      width: 20px;

      &--venue {
        height: 16px;
        margin-left: -16px;
        margin-top: 2px;
        width: 16px;
      }

      &--venue-button {
        @include bpMaxXSmall {
          float: right;
          margin: 1px 0 0 5px;
          position: relative;
        }
        @include bpMinXSmall {
          float: right;
          margin: -3px 0 0 5px;
        }
      }

      @include bpMinMedium {
        &--venue {
          height: 20px;
          margin: 5px 0 0 -16px;
          width: 20px;
        }
        &--venue-button {
          float: right;
          margin: -3px 0 0 5px;
        }
      }
    }

    &__heading {
      @include typeSetting(4, regular);
      margin: 0;
      &--venue {
        font-size: 13px;
        line-height: 21px;
        margin-left: 10px;
      }
      @include bpMinMedium {
        &--venue {
          font-size: 17px;
        }
      }
    }
  }
}
