<ul class='b-icon-list{% if modifier %} b-icon-list--{{ modifier }}{% endif %}'>
  <li class="b-icon-list__item b-icon-list__item--no-icon">
    <p class="b-icon-list__item__heading">
      V&A South Kensington
    </p>
  </li>
  {% for item in items %}
  <li class='b-icon-list__item'>
    <svg aria-label="{{ item.label }}" role="graphics-symbol" class="b-icon-list__item__icon">
      <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#{{ item.icon }}"></use>
    </svg>
    <div class="b-icon-list__item__content">
      <p class="b-icon-list__item__heading">{{ item.title }}</p>
      <p>{{ item.body | safe }}</p>
      {% if item.link %}
      <p><a class="u-link u-link--arrowed" href="#">{{ item.link }}</a></p>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
