@use "../site-color/site-color";
@use "../typography/typography";
@use "../spacing/spacing";
@use "../../mixins/element-visibility/element-visibility";

// http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: typography.fontSize(typography.$base-font-size) + px;
}

body {
  @include typography.typeSetting(typography.$base-font-size);

  background-color: site-color.siteColor("vam-white");
  color: site-color.siteColor("vam-black");
  font-family: typography.fontFamily("text");
  overflow-x: hidden;
  width: 100%;
}

ol,
ul {
  list-style: none;
  list-style-position: outside;
  margin-left: 30px;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// end resets, start defaults

html,
body {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input,
select,
option {
  font-family: typography.fontFamily("text");
}

img,
video {
  vertical-align: bottom;
}

p,
fieldset,
table,
ol,
ul,
dl,
iframe {
  margin-bottom: spacing.$spacing-small;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  user-select: none;
  width: auto;
}

hr {
  background-color: transparent;
  clear: both;
  color: site-color.siteColor("vam-grey-4");
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 10px;

  &::after {
    content: "\\\00a0\00a0\\";
  }
}

abbr,
acronym {
  border-bottom: 1px dotted site-color.siteColor("vam-grey-5");
}

i,
em {
  font-style: italic;
}

small,
sub,
sup {
  font-size: 85%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.3em;
}

sup {
  top: -0.3em;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

b,
strong {
  @include typography.fontWeight("x-bold");
}

.s-visually-hidden {
  @include element-visibility.visuallyHidden;
}

.s-hidden {
  @include element-visibility.hidden-all;
}
