.b-pagination {
  text-align: center;

  &__option {
    display: inline-block;

    &-content {
      @include typeSetting(4, normal);
      color: siteColor(vam-grey-2);
      margin: 0 4px;
      text-decoration: underline;
      transition: color .2s;

      &--active {
        @include typeSetting(4, normal);
        color: siteColor(vam-grey-2);
        margin: 0 4px;
        transition: color .2s;
      }

      &:hover {
        color: siteColor(vam-grey-4);
      }
    }
  }

  &__options {
    display: inline-block;
  }

  &__pointer {
    display: inline-block;
    height: 52px;
    margin: 0 20px;
    position: relative;
    top: 4px;
    width: 52px;

    &-arrow {
      -webkit-transition: all .5s;
      color: siteColor(vam-white);
      height: 40%;
      margin-left: 1px;
      margin-top: 15px;
      position: relative;
      transition: all .5s;
      width: 100%;
      z-index: 1;
    }

    &--deactivated {
      display: inline-block;
      height: 40px;
      margin: 0 20px;
      position: relative;
      top: 2px;
      width: 40px;

      &-arrow {
        -webkit-transition: all .5s;
        color: siteColor(vam-grey-4);
        height: 40%;
        margin-left: 1px;
        margin-top: 12px;
        position: relative;
        transition: all .5s;
        width: 100%;
        z-index: 1;
      }

      &:before {
        -webkit-transition: all .2s;
        background-color: siteColor(vam-grey-5);
        border: none;
        border-radius: 50%;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s;
        width: 100%;
        z-index: -1;
      }
    }

    &:before {
      -webkit-transition: all .2s;
      background-color: siteColor(vam-grey-2);
      border: none;
      border-radius: 50%;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s;
      width: 100%;
      z-index: -1;
    }
    
    &:hover {
      background-color: siteColor(vam-grey-3);
      border-radius: 50%;
    }
  }
}

