.b-pagination {
  margin-bottom: 70px;

  &__option {
    display: list-item;

    &--content {
      @include typeSetting(1, normal);
      color: siteColor(vam-grey-3);
      display: flex;
      justify-content: center;
      letter-spacing: 3px;
      margin: 0 auto;
      padding: 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .2s;
      white-space: nowrap;

      &:hover {
        color: siteColor(vam-grey-4);
      }
    }
  }

  &__options {
    border-bottom: 1px solid siteColor(vam-white);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
