.b-pagination {
  text-align: center;

  &__option {
    display: inline-block;

    &-content {
      @include typeSetting(4, normal);
      color: siteColor(vam-grey-2);
      margin: 0 4px;
      text-decoration: underline;
      transition: color .2s;

      &--active {
        @include typeSetting(4, normal);
        color: siteColor(vam-grey-2);
        margin: 0 4px;
        transition: color .2s;
      }

      &:hover {
        color: siteColor(vam-grey-4);
      }
    }
  }

  &__options {
    display: inline-block;
  }

  &__pointer {
    background-color: siteColor(vam-grey-2);
    border-radius: 50%;
    display: inline-block;
    height: 52px;
    margin: 0 20px;
    position: relative;
    top: 4px;
    transition: all .2s;
    width: 52px;
    
    &:not(&--deactivated):hover {
      background-color: siteColor(vam-grey-3);
    }

    &--deactivated {
      background-color: siteColor(vam-grey-5);
      height: 40px;
      top: 2px;
      width: 40px;
    }

    &-arrow {
      color: siteColor(vam-white);
      height: 40%;
      margin-left: 1px;
      margin-top: 15px;
      width: 100%;

      .b-pagination__pointer--deactivated & {
        color: siteColor(vam-grey-4);
        margin-top: 12px;
      }
    }
  }
}

