<nav class="b-pagination" data-index="1" data-total="12" aria-label="Pagination">
  <button class="b-pagination__prevnext" disabled title="Previous">
    <div class="u-btn-icon u-btn-icon--point-left"></div>
    Prev
  </button>
  <div class="b-pagination__pages">
    <button class="u-btn-icon u-btn-icon--numeric" selected value="1" title="Page 1">1</button>
  </div>
  <button class="b-pagination__prevnext" disabled title="Next">
    Next
    <div class="u-btn-icon u-btn-icon--point-right"></div>
  </button>
</nav>
