.b-search-results-page {
    padding-bottom: 48px;
	background-color: siteColor(vam-black);
	&__search {
		&-box-container, &-results-container, &-pagination-container {
			margin: auto;
			width: 100%;

			@include bpMinXSmall {
				max-width: 640px;
			}

			@include bpMinMedium {
				max-width: 1200px;
			}
		}

		&-box-container {
			position: absolute;
		    top: 0px;
		    left: 50%;
		    transform: translateX(-50%);	
		}

		&-pagination-container {
			margin-top: 24px;
			
			@include bpMinLarge {
				margin-top: 48px;
			}
		}

		&-content-container {
			padding-top: 100px;

			@include bpMinXSmall {
				padding-top: 60px;
			}

			@include bpMinMedium {
				padding-top: 80px;
			}
		}

		&-results-container, &-box-container, &-pagination-container {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}