@use "../../mixins";
@use "../../base";

.b-search-results-page {
  background-color: base.sitecolors-siteColor("vam-black");
  padding-bottom: 48px;

  &__search {
    &-box-container,
    &-results-container,
    &-pagination-container {
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;

      @include mixins.breakpoints-bpMinMedium {
        max-width: 1200px;
      }
    }

    &-box-container {
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
    }

    &-pagination-container {
      margin-top: 24px;

      @include mixins.breakpoints-bpMinMedium {
        margin-top: 48px;
      }
    }

    &-results-container {
      padding-top: 100px;

      @include mixins.breakpoints-bpMinXSmall {
        padding-top: 60px;
      }

      @include mixins.breakpoints-bpMinSmall {
        padding-top: 80px;
      }
    }
  }
}
