// sass-lint:disable class-name-format
// Theme for Fractal

@import '../../components/base/site-color/site-color';
@import '../../components/base/theme-color/theme-color';
@import '../../components/base/typography/typography';

html, body {
  @include typeSetting(3);
  font-family: fontFamily(text);
}

.Header {
  background-color: siteColor(vam-black);
  color: siteColor(vam-white);
}

.Header-navToggle svg {
  fill: siteColor(vam-white);
}

.Prose,
.Prose h1,
.Prose h2,
.Prose h3 {
  font-family: fontFamily(text);
}

code, pre {
  font-family: fontFamily(code);
}
