// Theme for Fractal

@import '../../components/01-base/site_color/site_color';
@import '../../components/01-base/typography/typography';

html, body {
  font-family: map-get($font-families, text);
}

.Header {
  background-color: map-get($site_colors, vam-black);
  color: map-get($site-colors, vam-white);
}

.Header-navToggle svg {
  fill: map-get($site-colors, vam-white);
}

.Prose,
.Prose h1,
.Prose h2,
.Prose h3, {
  font-family: map-get($font-families, text);
}

code, pre {
  font-family: map-get($font-families, code);
}
