// Helper classes to preview things like the color swatches
// Not part of the code vam-style.scss

// Mixins
@import '../../components/mixins/breakpoints/breakpoints';
@import '../../components/mixins/unstyled-list/unstyled-list';
@import '../../components/mixins/visually-hidden/visually-hidden';
@import '../../components/mixins/tiles/tiles';

// Vars
@import '../../components/base/site-color/site-color';
@import '../../components/base/theme-color/theme-color';
@import '../../components/base/typography/typography';
@import '../../components/base/spacing/spacing';

// Modules
@import 'preview_styles/breakpoints';
@import 'preview_styles/color-box';
@import 'preview_styles/icon-box';
@import 'preview_styles/type';
@import 'preview_styles/tiles';

h1 {
  @include typeSetting(5, bold);
  margin: 1rem 0;

  @include bpMinSmall {
    @include typeSetting(6, bold);
  }
}

.fr-visually-hidden {
  @include visuallyHidden;
}

.fr-unstyled-list {
  @include unstyledList;
}

.fr-bg--dark {
  background-color: rgba(siteColor(vam-black), .7);
}

.fr-bg--light {
  background-color: siteColor(vam-white);
}

.fr-content-wrapper {
  margin: auto;
  max-width: 1200px;
}

.fr-fullheight {
  height: 100%;
}

.fr-content-bg {
  height: 200%;
  margin: auto;
  max-width: 1200px;

  &::after {
    content: 'Lorem ipsum dolor sit amet, Luca consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  Luca quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, Luca sunt in culpa qui officia deserunt mollit anim id est laborum.';
    font-size: 2.5rem;
    line-height: 5em;
  }
}
