// Helper classes to preview things like the color swatches
// Not part of the code vam-style.scss

// Mixins
@import '../../components/mixins/breakpoints/breakpoints';
@import '../../components/mixins/unstyled-list/unstyled-list';
@import '../../components/mixins/visually-hidden/visually-hidden';
@import '../../components/mixins/tiles/tiles';

// Vars
@import '../../components/base/site-color/site-color';
@import '../../components/base/theme-color/theme-color';
@import '../../components/base/typography/typography';
@import '../../components/base/spacing/spacing';

// Modules
@import 'preview_styles/breakpoints';
@import 'preview_styles/color-box';
@import 'preview_styles/icon-box';
@import 'preview_styles/type';
@import 'preview_styles/tiles';

h1 {
  @include typeSetting(5, bold);
  margin: 1rem 0;

  @include bpMinSmall {
    @include typeSetting(6, bold);
  }
}

.fr-visually-hidden {
  @include visuallyHidden;
}

.fr-unstyled-list {
  @include unstyledList;
}

.fr-bg--dark {
  background-color: rgba(siteColor(vam-black), .7);
  height: 100%;
  width: 100%;
  position: absolute;
}

.fr-bg--light {
  background-color: siteColor(vam-white);
  height: 100%;
  width: 100%;
  position: absolute;
}

.fr-content-wrapper {
  margin: auto;
  max-width: 1200px;
}

.fr-fullheight {
  height: 100%;
}
