// V&A site styles

// Mixin
@import '../../components/mixins/breakpoints/breakpoints';
@import '../../components/mixins/constrained-image/constrained-image';
@import '../../components/mixins/tiles/tiles';
@import '../../components/mixins/unstyled-list/unstyled-list';
@import '../../components/mixins/unstyled-input/unstyled-input';
@import '../../components/mixins/visually-hidden/visually-hidden';
@import '../../components/mixins/constrained-image/constrained-image';

// Base
@import '../../components/base/site-color/site-color';
@import '../../components/base/theme-color/theme-color';
@import '../../components/base/typography/typography';
@import '../../components/base/spacing/spacing';
@import '../../components/base/reset/reset'; // Must come after colour and type

// Utility
@import '../../components/services/svg_icon/svg_icon'; // Must come after colour and type
@import '../../components/services/themed/themed'; // Must come after colour and type
@import '../../components/services/object_fit_polyfill/object_fit';
@import '../../components/services/separated/separated';

// Unit
@import '../../components/units/link/link';
@import '../../components/units/button/button';
@import '../../components/units/label-tag/label-tag';
@import '../../components/units/tag/tag';
@import '../../components/units/tout-label/tout-label';
@import '../../components/units/media-buttons/media-buttons';

// Block
@import '../../components/blocks/collection-card/collection-card';
@import '../../components/blocks/icon-badge/icon-badge';
@import '../../components/blocks/icon-link/icon-link';
@import '../../components/blocks/icon-list/icon-list';
@import '../../components/blocks/input-select/input-select';
@import '../../components/blocks/event-feature/event-feature';
@import '../../components/blocks/event-teaser/event-teaser';
@import '../../components/blocks/membership-upsell/membership-upsell';
@import '../../components/blocks/modal/modal';
@import '../../components/blocks/pagination/pagination';
@import '../../components/blocks/programme-page-tout/programme-page-tout';
@import '../../components/blocks/promo/promo';
@import '../../components/blocks/section-header/section-header';
@import '../../components/blocks/search-form/search-form';
@import '../../components/blocks/search-result/search-result';
@import '../../components/blocks/search-result-auto-suggest/search-result-auto-suggest';
@import '../../components/blocks/search-result-objects/search-result-objects';
@import '../../components/blocks/search-sidebar-item/search-sidebar-item';
@import '../../components/blocks/site-footer/site-footer';
@import '../../components/blocks/toggle-nav/toggle-nav';
@import '../../components/blocks/video-trailer/video-trailer';
@import '../../components/blocks/image-credit/image-credit';
@import '../../components/blocks/cookie-banner/cookie-banner';
@import '../../components/blocks/newsletter-signup/newsletter-signup';
@import '../../components/blocks/background-video/background-video';
@import '../../components/blocks/background-image/background-image';

// Group
@import '../../components/groups/block-grid/block-grid';
@import '../../components/groups/collection-grid/collection-grid';
@import '../../components/groups/horizontal-scroll-grid/horizontal-scroll-grid';
@import '../../components/groups/holding-page/holding-page';
