<section class="b-venue-visit-info">
  <section title="address" class="b-venue-visit-info__col">
    <div class="b-venue-visit-info__col-icon">
      <svg role="img" class="b-venue-visit-info__col-svg">
        <use xlink:href="/assets/svg/svg-template.svg#map"></use>
      </svg>
    </div>
    <div class="b-venue-visit-info__col-text">
      <h3 class="b-venue-visit-info__col-title">
        V&A South Kensington
      </h3>
      <address class="b-venue-visit-info__col-body">
        Cromwell Road<br/>
        London, SW7 2RL
      </address>
    </div>
  </section>
  <section title="opening times" class="b-venue-visit-info__col">
    <div class="b-venue-visit-info__col-icon">
      <svg role="img" class="b-venue-visit-info__col-svg">
        <use xlink:href="/assets/svg/svg-template.svg#clock"></use>
      </svg>
    </div>
    <div class="b-venue-visit-info__col-text">
      <h3 class="b-venue-visit-info__col-title">
        Opening Times
      </h3>
      <p class="b-venue-visit-info__col-body">
        Wednesday to Sunday 10:00 – 17:45<br/>
        Last admission 16:45
      </p>
    </div>
  </section>
  <section title="admission" class="b-venue-visit-info__col">
    <div class="b-venue-visit-info__col-icon">
      <svg role="img" class="b-venue-visit-info__col-svg b-venue-visit-info__col-svg--ticket">
        <use xlink:href="/assets/svg/svg-template.svg#ticket"></use>
      </svg>
    </div>
    <div class="b-venue-visit-info__col-text">
      <h3 class="b-venue-visit-info__col-title">
        Admission is free - book online
      </h3>
      <p class="b-venue-visit-info__col-body">
        Some exhibitions and events carry a separate charge
      </p>
      <a href="" class="b-venue-visit-info__col-link">Members visit free – join now</a>
    </div>
  </section>
</section>
