@use "../../../components/mixins";
@use "../../../components/base";

.f-tiles {
  @include mixins.tiles-tiles;

  &__tile {
    @include mixins.tiles-tilesItem;

    &:nth-child(1) {
      background-color: base.themecolors-themeColor("strawberry");
    }

    &:nth-child(2) {
      background-color: base.themecolors-themeColor("forest-green");
    }

    &:nth-child(3) {
      background-color: base.themecolors-themeColor("blue");
    }

    &:nth-child(4) {
      background-color: base.themecolors-themeColor("angry-blue");
    }

    &:nth-child(5) {
      background-color: base.themecolors-themeColor("dark-pink");
    }

    &:nth-child(6) {
      background-color: base.themecolors-themeColor("bright-yellow");
    }
  }
}
