.b-icon-badge {
  &__icon {
    background-color: siteColor(vam-black);
    border-radius: 100%;
    color: siteColor(vam-white);
    display: flex;
    height: 60px;
    margin: 0 auto 5px;
    padding: 5px;
    text-align: center;
    width: 60px;

    @include bpMinSmall {
      height: 70px;
      width: 70px;
    }

    @include bpMinMedium {
      height: 80px;
      width: 80px;
    }

    .b-icon-badge--small & {
      height: 60px;
      width: 60px;
    }

    .b-icon-badge--dark & {
      background-color: siteColor(vam-white);
      color: siteColor(vam-black);
    }

    &:hover {
      background-color: siteColor(vam-grey-4);
      color: siteColor(vam-black);
    }

    > svg {
      height: 16px;
      margin: auto;
      width: 16px;

      @include bpMinSmall {
        height: 22px;
        width: 22px;
      }
      
      .b-icon-badge--short {
        > & {
          height: 24px;
          margin: auto;
          width: 24px;

          @include bpMinSmall {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  &__label {
    @include typeSetting(4);
    color: siteColor(vam-white);
    display: block;
    text-align: center;
    text-shadow: 0 1px 2px siteColor(vam-black), 0 -1px 2px siteColor(vam-black);
    text-transform: capitalize;

    @include bpMinMedium {
      margin-top: $spacing-small;
    }

    .b-icon-badge--light & {
      color: siteColor(vam-black);
      text-shadow: none;
    }

    .b-icon-badge--dark & {
      color: siteColor(vam-white);
      text-shadow: none;
    }
  }
}
