.b-icon-badge {
  &__icon {
    background-color: siteColor(vam-black);
    border-radius: 100%;
    color: siteColor(vam-white);
    display: flex;
    height: 60px;
    margin: 0 auto 5px;
    padding: 5px;
    text-align: center;
    width: 60px;

    @include bpMinSmall {
      height: 70px;
      width: 70px;
    }

    @include bpMinMedium {
      height: 80px;
      width: 80px;
    }

    &--story-box {
      background-color: themeColor(silent-green);
      &:hover {
        background-color: lighten(themeColor(silent-green), 10);
      }
    }

    .b-icon-badge--small & {
      height: 60px;
      width: 60px;
    }

    &.s-themed {
      color: siteColor(vam-black);
    }

    svg {
      height: 16px;
      margin: auto;
      width: 16px;

      @include bpMinSmall {
        height: 22px;
        width: 22px;
      }
    }
  }

  &__label {
    @include typeSetting(2);
    color: siteColor(vam-white);
    display: block;
    letter-spacing: .25em;
    text-align: center;
    text-indent: .25em; // Fixes misalignment caused by letter-spacing
    text-shadow: 0 1px 2px siteColor(vam-black), 0 -1px 2px siteColor(vam-black);


    @include bpMinMedium {
      margin-top: $spacing-small;
    }

    .b-icon-badge--light & {
      color: siteColor(vam-black);
      text-shadow: none;
    }
  }

  &--short {
    svg {
      height: 24px;
      margin: auto;
      width: 24px;

      @include bpMinSmall {
        height: 34px;
        width: 34px;
      }
    }
  }
}
