@use "../../mixins";
@use "../../base";

.b-icon-badge {
  &__icon {
    background-color: base.sitecolors-siteColor("vam-black");
    border-radius: 100%;
    color: base.sitecolors-siteColor("vam-white");
    display: flex;
    height: 60px;
    margin: 0 auto 5px;
    padding: 5px;
    text-align: center;
    width: 60px;

    @include mixins.breakpoints-bpMinSmall {
      height: 70px;
      width: 70px;
    }

    @include mixins.breakpoints-bpMinMedium {
      height: 80px;
      width: 80px;
    }

    .b-icon-badge--small & {
      height: 60px;
      width: 60px;
    }

    .b-icon-badge--dark & {
      background-color: base.sitecolors-siteColor("vam-white");
      color: base.sitecolors-siteColor("vam-black");
    }

    &:hover {
      background-color: base.sitecolors-siteColor("vam-grey-4");
      color: base.sitecolors-siteColor("vam-black");
    }

    > svg {
      height: 16px;
      margin: auto;
      width: 16px;

      @include mixins.breakpoints-bpMinSmall {
        height: 22px;
        width: 22px;
      }

      .b-icon-badge--short {
        > & {
          height: 24px;
          margin: auto;
          width: 24px;

          @include mixins.breakpoints-bpMinSmall {
            height: 34px;
            width: 34px;
          }
        }
      }
    }
  }

  &__label {
    @include base.typography-typeSetting(4);

    color: base.sitecolors-siteColor("vam-white");
    display: block;
    text-align: center;
    text-shadow: 0 1px 2px base.sitecolors-siteColor("vam-black"), 0 -1px 2px base.sitecolors-siteColor("vam-black");
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }

    @include mixins.breakpoints-bpMinMedium {
      margin-top: base.$spacings-spacing-small;
    }

    .b-icon-badge--light & {
      color: base.sitecolors-siteColor("vam-black");
      text-shadow: none;
    }

    .b-icon-badge--dark & {
      color: base.sitecolors-siteColor("vam-white");
      text-shadow: none;
    }
  }
}
