.u-tag {
  @include typeSetting(1, bold);
  appearance: none;
  background-color: siteColor(vam-grey-2);
  border-radius: 2px;
  color: siteColor(vam-white);
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 10px 0;
  outline: 0;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background-color .2s, color .2s;

  @include bpMinLarge {
    @include typeSetting(2, bold);
    padding: 7px 15px;
  }

  &:hover,
  &:focus,
  &:active,
  &--active {
    background-color: siteColor(primary-green);
    color: siteColor(vam-black);
  }
}
