@use "../../mixins";
@use "../../base";

.b-venue-card {
  display: block;
  position: relative;

  &::after {
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0%) 36%);
    content: "";
    display: block;
    inset: 0;
    opacity: 0.5;
    position: absolute;
    transition: opacity 0.4s ease;
  }

  &:focus {
    @include mixins.focus-defaultFocus;
  }

  &__header {
    color: base.sitecolors-siteColor("vam-white");
    padding: 20px 10px;
    position: absolute;
    text-shadow: 0 1px 3px base.sitecolors-siteColor("vam-black");
    width: 100%;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      padding: 20px;
    }

    @include mixins.breakpoints-bpMinSmall {
      padding: 20px 10px;
    }

    @include mixins.breakpoints-bpMinMedium {
      padding: 20px;
    }
  }

  &__wordmark {
    height: 18px;

    @include mixins.breakpoints-bpMinSmall {
      height: 13px;
    }

    @include mixins.breakpoints-bpMinMedium {
      height: 18px;
    }
  }

  &__subtitle {
    @include base.typography-typeSetting(2);

    align-items: baseline;
    column-gap: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(0);
    }

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(2);
    }

    > #{&}-external {
      color: base.sitecolors-siteColor("vam-white");
      height: 11px;
      width: 11px;

      @include mixins.breakpoints-bpMinMedium {
        height: 13px;
        width: 13px;
      }
    }

  }

  &__open {
    @include base.typography-typeSetting(2);

    background-color: base.sitecolors-siteColor("vam-white");
    bottom: 10px;
    color: base.sitecolors-siteColor("vam-black");
    left: 10px;
    opacity: 0.9;
    padding: 4px 10px;
    position: absolute;
    z-index: 1;

    @include mixins.breakpoints-bpMinXSmall {
      left: 20px;
    }

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(0);

      left: 10px;
    }

    @include mixins.breakpoints-bpMinMedium {
      @include base.typography-typeSetting(2);

      left: 20px;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
