<a class="b-venue-card{% for m in modifiers %} b-venue-card--{{ m }}{% endfor %}" href="{{ href }}">
  <h3 class="b-venue-card__title">
    {{ title | safe }}
    <div class="b-venue-card__subtitle">
      {{ subtitle | safe }}
    </div>
  </h3>
  <div class="b-venue-card__open">
    {{ open | safe }}
  </div>
  <picture>
    <source srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        media="(max-width: 500px)">
    <img class="b-venue-card__image"
        itemprop="contentUrl"
        alt="" 
        data-sizes="(max-width: 499px) calc(100vw - 10px),
                  (min-width: 500px) calc((100vw - 10px) / 2),
                  (min-width: 500px) 490px"
        data-srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        src="{{ image[320] }}">
  </picture>
</a>
