<a class="b-venue-card{% for m in modifiers %} b-venue-card--{{ m }}{% endfor %}" href="{{ href }}">
  <div class="b-venue-card__header">
    <h3 class="b-venue-card__title">
      {{ title | safe }}
      <svg class="b-venue-card__title-icon" role="presentation" aria-label="external link"> <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#link-external"></use></svg>
    </h3>
    <div class="b-venue-card__subtitle">
      {{ subtitle | safe }}
    </div>
  </div>
  <div class="b-venue-card__open">
    {{ open | safe }}
  </div>
  <picture>
    <source data-srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        media="(max-width: 500px)">
    <img class="b-venue-card__image" alt="" 
        data-sizes="(max-width: 499px) calc(100vw - 10px),
                  (min-width: 500px) calc((100vw - 10px) / 2),
                  (min-width: 500px) 490px"
        data-srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        src="{{ image[320] }}">
  </picture>
</a>
