<a class="b-venue-card" href="{{ href }}">
  <div class="b-venue-card__header">
    <h3 class="b-venue-card__title">
      {{ title | safe }}
      <svg class="b-venue-card__title-icon" role="presentation" aria-label="external link"> <use xlink:href="../../{{ _config.project.buildDir }}/svg/vam-sprite.svg#link-external"></use></svg>
    </h3>
    <div class="b-venue-card__subtitle">
      {{ subtitle | safe }}
    </div>
  </div>
  <div class="b-venue-card__open">
    {{ open | safe }}
  </div>
  <picture>
    <source data-srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        media="(max-width: 499px)">
    <img class="b-venue-card__image" alt="" 
        {% if isPortrait %}
        data-sizes="(min-width: 500px) calc((100vw - 20px) * 3 / 11),
                    (min-width: 992px) calc((100vw - 40px) * 3 / 11),
                    (min-width: 1200px) 320px"
        {% else %}
        data-sizes="(min-width: 500px) calc((100vw - 20px) * 5 / 11),
                    (min-width: 9920px) calc((100vw - 40px) * 5 / 11),
                    (min-width: 1200px) 530px"
        {% endif %}
        data-srcset="{% for k, img in image %}{{ img }} {{ k }}w{% if loop.last == false %}, {% endif %}{% endfor %}" 
        src="{{ image[320] }}">
  </picture>
</a>
