@use "../../mixins";
@use "../../base";

.b-search-result-auto-suggest {
  background-color: base.sitecolors-siteColor("vam-black");
  border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-5");
  display: block;
  height: 124px;
  width: 100%;

  @include mixins.breakpoints-bpMaxLarge {
    height: 92px;
  }

  &:hover,
  &:focus {
    background-color: #000;
  }

  &-content {
    display: block;
  }

  &-content-type {
    @include base.typography-typeSetting(0, "regular");

    color: base.sitecolors-siteColor("primary-green");
    height: 13px;
    margin-bottom: 4px;
    text-align: left;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(2, "regular");

      font-size: 14px;
      line-height: 0.93;
    }

    @include mixins.breakpoints-bpMaxLarge {
      @include base.typography-typeSetting(1, "regular");

      font-size: 13px;
      line-height: 1;
    }
  }

  &-content-venue {
    color: base.sitecolors-siteColor("vam-white");
  }

  &-title {
    @include base.typography-typeSetting(3, "light");

    color: base.sitecolors-siteColor("vam-white");
    height: 25px;
    line-height: 1.33;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "light");

      height: 20px;
      line-height: 1.2;
    }

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(5, "light");

      height: 40px;
    }
  }

  &-text {
    bottom: 10px;
    display: inline;
    margin-left: -2px;
    position: relative;

    @include mixins.breakpoints-bpMaxLarge {
      bottom: 14px;
      margin-left: 4px;
    }

    @include mixins.breakpoints-bpMinSmall {
      bottom: 8px;
      margin-left: 2px;
    }

    & em {
      font-style: normal;
      font-weight: 700;
    }
  }

  &-image {
    float: left;
    height: 100px;
    margin: 12px;
    object-fit: cover;
    width: 100px;

    @include mixins.breakpoints-bpMaxLarge {
      height: 72px;
      margin: 10px;
      width: 72px;
    }
  }
}
