.b-search-result-auto-suggest {
  background-color: siteColor(vam-black);
  border-bottom: 1px solid siteColor(vam-grey-5);
  display: block;
  height: 124px;
  width: 100%;

  @include bpMaxLarge {
    height: 92px;
  }
 
  &:hover,
  &:focus {
    background-color: #000000;
  }

  &-content {
    display: block;
  }

  &-content-type {
    @include typeSetting(0, normal);
    color: siteColor(primary-green);
    height: 13px;
    margin-bottom: 4px;
    text-align: left;
    
    @include bpMinSmall {
      @include typeSetting(2, normal);
      font-size: 14px;
      line-height: .93;
    }

    @include bpMaxLarge {
      @include typeSetting(1, normal);
      font-size: 13px;
      line-height: 1.0;
    }
  }

  &-title {
    @include typeSetting(3, light);
    color: siteColor(vam-white);
    height: 42px;
    line-height: 1.33;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include bpMinSmall {
      @include typeSetting(4, light);
      height: 48px;
      line-height: 1.2;
    }

    @include bpMinLarge {
      @include typeSetting(5, light);
      height: 58px;
    }
  }

  &-text {
    bottom: 10px;
    display: inline;
    margin-left: -2px;
    position: relative;

    @include bpMaxLarge {
      bottom: 14px;
      margin-left: 4px;
    }

    @include bpMinSmall {
      bottom: 8px;
      margin-left: 2px;
    }

    & em {
      font-style: normal;
      font-weight: 700;
    }
  }

  &-image {
    float: left;
    height: 100px;
    margin: 12px;
    object-fit: cover;
    width: 100px;

    @include bpMaxLarge {
      height: 72px;
      margin: 10px;
      width: 72px;
    }
  }
}
