@use "../../mixins";
@use "../../base";

.b-search-result-auto-suggest {
  background-color: base.sitecolors-siteColor("vam-black");
  border-bottom: 1px solid base.sitecolors-siteColor("vam-grey-5");

  &:hover,
  &:focus-visible {
    background-color: #000;
  }

  &-content {
    display: flex;
  }

  &-content-type {
    @include base.typography-typeSetting(1, "regular");

    color: base.sitecolors-siteColor("primary-green");
    margin-bottom: 1px;

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(2);
    }
  }

  &-content-venue {
    color: base.sitecolors-siteColor("vam-white");
  }

  &-title {
    @include base.typography-typeSetting(3, "light");

    -webkit-box-orient: vertical;
    color: base.sitecolors-siteColor("vam-white");
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mixins.breakpoints-bpMinSmall {
      @include base.typography-typeSetting(4, "light");
      @include base.typography-lineheight(3);
    }

    @include mixins.breakpoints-bpMinLarge {
      @include base.typography-typeSetting(5, "light");
    }
  }

  &-text {
    padding: 10px 10px 10px 0;

    @include mixins.breakpoints-bpMinLarge {
      padding: 12px 12px 12px 0;
    }

    & em {
      font-style: normal;
      font-weight: 700;
    }
  }

  &-image {
    height: 72px;
    margin: 10px;
    object-fit: cover;
    width: 72px;

    @include mixins.breakpoints-bpMinLarge {
      height: 100px;
      margin: 12px;
      width: 100px;
    }
  }
}
