.fr-breakpoint {
  @include typeSetting(3, regular);
  background-color: themeColor(angry-blue);
  padding: 1rem;

  &:after {
    content: '(default)';
  }

  @include bpMinXSmall {
    background-color: themeColor(angry-yellow);

    &:after {
      content: '(x-small)';
    }
  }

  @include bpMinSmall {
    @include typeSetting(4, regular);
    background-color: themeColor(blue-green);

    &:after {
      content: '(small)';
    }
  }

  @include bpMinMedium {
    @include typeSetting(5, regular);
    background-color: themeColor(cyan);

    &:after {
      content: '(medium)';
    }
  }

  @include bpMinLarge {
    @include typeSetting(6, regular);
    background-color: themeColor(dark-pink);

    &:after {
      content: '(large)';
    }
  }

}
