.fr-icon-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.fr-icon-box {
  border-radius: 4px;
  max-width: 100px;
  padding: 5px;
  text-align: center;
  transition: .2s background-color;
  width: 15%;

  &:hover {
    background-color: map-get($site_colors, vam-grey-1);

    &__icon {
      color: map-get($site_colors, primary-green);
    }
  }

  &__icon {
    color: map-get($site_colors, vam-black);
    max-height: 50px;
    transition: .2s color;
    width: 50%;
  }

  &__name {
    font-size: .825em;
  }

}
