.fr-type-block {
  margin-bottom: 1em;

  &__label {
    @include typeSetting(0, bold, uppercase);
  }
}

@each $weight in map-keys($font-weight) {
  .fr-font-weight--#{$weight} {
    font-weight: fontWeight(#{$weight});
  }

  @for $i from 0 through 9 {
    .fr-font-#{$weight}-#{$i} {
      @include typeSetting($i, $weight);
    }
  }

  @for $i from 0 through 5 {
    .fr-font-#{$weight}-#{$i}-uppercase {
      @include typeSetting($i, $weight, 'uppercase');
    }
  }
}
