.image-carosel {
    @include bpMinMedium {
        display: block;
        text-align: right;
    }
    max-width: 660px;
    background: siteColor(vam-black);

    &__prevnext {
      display: flex;
      flex-direction: row;
    }

    &__prev-container, &__next-container {
      flex: 1 0 auto;
      align-self: center;
      text-align: center;
    }

    &__image-carosel {
      display: flex;
      flex-direction: row;
    }
 
    &__image-preview-container {
      width: 100px;
      height: 86px;
      margin: 0px 6px 0px 6px;
      background-color: gray;
      &--selected {
        outline: solid 5px #ffffff;
        &:after {
          content: '';
          width: 448px;
          height: 86px;
          background-color: black;
          opacity: 0.9;
          margin-left: 12px;
          position: absolute;          
        }
      }
    }

    &__prev,
    &__next {
      border: 1px solid #fff;
      border-radius: 100%;
      color: #fff;
      cursor: default;
      display: inline-flex;
      height: 30px;
      opacity: .4;
      width: 30px;
  
      svg {
        height: 12px;
        margin: auto;
        width: 12px;
      }
  
      &--enabled {
        cursor: pointer;
        opacity: 1;
  
        &:hover,
        &:focus {
          background: #ffffff1a;
        }
      }
    }
}