<div class="b-story-box b-story-box--{{ modifier }}" >
  <div class="b-story-box__container-img b-story-box__container-img--{{ modifier }}">
      <img class="b-story-box__img b-story-box__img--{{ modifier }}" src="https://vanda-production-assets.s3.amazonaws.com/2017/05/24/10/34/05/7f38c9ec-ec6a-49d0-8c0e-0eb218cb9d27/1280.jpg" alt="--{{ modifier }}">
  </div>
  <div class="b-story-box__container-text b-story-box__container-text--{{ modifier }}">
    <span class="b-story-box__content-type-container b-story-box__content-type-container--{{ modifier }}">
      <svg role="img" class="b-story-box__content-icon b-story-box__content-icon--{{ modifier }}">
        <use xlink:href="/assets/svg/svg-template.svg#interact"></use>
      </svg>
      <span class="b-story-box__content-type-text b-story-box__content-type-text--{{ modifier }}">
        Content Type
      </span>
    </span>
    <span class="b-story-box__content-title b-story-box__content-title--{{ modifier }}">
      Title Title Title Title Title Title
    </span>
    <span class="b-story-box__content-text b-story-box__content-text--{{ modifier }}">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
    </span>
  </div>
</div>
