<div class="b-carousel">
  <div class="b-carousel__viewport">
    <div class="b-carousel__list">
      {% for n in [1, 2, 3, 4, 5] %}
      <div class="b-carousel__item">
        <div style="background:{% if n%2 %}grey{% else %}orange{% endif %}">
          <div><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><p>para</p><a href="#">link</a></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="b-carousel__ctrls">
    <button class="js-carousel__ctrl--prev u-btn-icon u-btn-icon--light u-btn-icon--point-left" disabled title="Previous">Previous</button>
    <button class="js-carousel__ctrl--next u-btn-icon u-btn-icon--light u-btn-icon--point-right" title="Next">Next</button>
  </div>
</div>
