// sass-lint:disable no-important
@mixin visuallyHidden {
  border: none !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
// sass-lint:enable no-important

.s-visually-hidden {
  @include visuallyHidden;
}
